/****** Object:  Table [DomainValues].[KennelStatusEnum]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DomainValues].[KennelStatusEnum](
	[KennelStatusEnumId] [smallint] NOT NULL,
	[KennelStatusEnumName] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_KennelStatusEnum] PRIMARY KEY CLUSTERED 
(
	[KennelStatusEnumId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
