/****** Object:  Table [DomainValues].[EventGeographicScope]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DomainValues].[EventGeographicScope](
	[EventEnumId] [smallint] NOT NULL,
	[EventEnumName] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_EventEnum] PRIMARY KEY CLUSTERED 
(
	[EventEnumId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
