/****** Object:  Table [HC].[Device]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[Device](
	[id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[DeviceSecret] [nvarchar](150) NOT NULL,
	[TimeWindow] [int] NULL,
	[ApnsToken] [nvarchar](500) NULL,
	[FcmToken] [nvarchar](500) NULL,
	[BuildNumber] [nvarchar](25) NOT NULL,
	[Version] [nvarchar](25) NOT NULL,
	[LastLogin] [datetimeoffset](7) NOT NULL,
	[DeviceData] [nvarchar](max) NOT NULL,
	[Latitude] [decimal](18, 15) NULL,
	[Longitude] [decimal](19, 15) NULL,
	[GeoPoint]  AS (case when [Latitude] IS NOT NULL AND [Longitude] IS NOT NULL then [GEOGRAPHY]::Point([Latitude],[Longitude],(4326))  end) PERSISTED,
	[OperatingSystem]  AS (coalesce(json_value([DeviceData],'$.systemName'),replace(json_value([DeviceData],'$.browserName'),'BrowserName.',''))) PERSISTED,
	[removed] [smallint] NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[updatedAtBias] [int] NOT NULL,
	[Locale] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Device] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [HC].[Device] ADD  CONSTRAINT [DF_Device_TimeWindow]  DEFAULT (CONVERT([int],rand()*(15)+(30))) FOR [TimeWindow]
GO
ALTER TABLE [HC].[Device] ADD  CONSTRAINT [DF_Device_BuildNumber]  DEFAULT (N'<unknown>') FOR [BuildNumber]
GO
ALTER TABLE [HC].[Device] ADD  CONSTRAINT [DF_Device_Version]  DEFAULT (N'<unknown>') FOR [Version]
GO
ALTER TABLE [HC].[Device] ADD  CONSTRAINT [DF_Device_LastLogin]  DEFAULT (getdate()) FOR [LastLogin]
GO
ALTER TABLE [HC].[Device] ADD  CONSTRAINT [DF_Device_Removed]  DEFAULT ((0)) FOR [removed]
GO
ALTER TABLE [HC].[Device] ADD  CONSTRAINT [DF_Device_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [HC].[Device] ADD  CONSTRAINT [DF_Device_updatedAtBias]  DEFAULT (CONVERT([int],abs((CONVERT([bigint],CONVERT([varbinary](8),newid(),(1)))/(40020.2323))%(999999)))) FOR [updatedAtBias]
GO
ALTER TABLE [HC].[Device] ADD  CONSTRAINT [DF_Device_Locale]  DEFAULT ('') FOR [Locale]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [SPATIAL_Device]    Script Date: 3/8/2026 12:42:55 PM ******/
CREATE SPATIAL INDEX [SPATIAL_Device] ON [HC].[Device]
(
	[GeoPoint]
)USING  GEOGRAPHY_GRID 
WITH (GRIDS =(LEVEL_1 = MEDIUM,LEVEL_2 = MEDIUM,LEVEL_3 = MEDIUM,LEVEL_4 = MEDIUM), 
CELLS_PER_OBJECT = 16, STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80) ON [PRIMARY]
GO
