/****** Object:  Table [HC].[ErrorLog]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[ErrorLog](
	[serial] [int] IDENTITY(1,1) NOT NULL,
	[id] [uniqueidentifier] NOT NULL,
	[HcVersion] [nvarchar](250) NOT NULL,
	[ErrorName] [nvarchar](250) NULL,
	[ErrorDescription] [nvarchar](2500) NULL,
	[ProcName] [nvarchar](250) NULL,
	[userId] [uniqueidentifier] NULL,
	[kennelId] [uniqueidentifier] NULL,
	[eventId] [uniqueidentifier] NULL,
	[deviceId] [nvarchar](250) NULL,
	[string_1] [nvarchar](4000) NULL,
	[string_2] [nvarchar](1000) NULL,
	[string_3] [nvarchar](1000) NULL,
	[string_4] [nvarchar](1000) NULL,
	[errorCode] [int] NULL,
	[createdAt] [datetimeoffset](7) NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[deleted] [bit] NOT NULL,
 CONSTRAINT [PK_ErrorLog] PRIMARY KEY CLUSTERED 
(
	[serial] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [i1]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [i1] ON [HC].[ErrorLog]
(
	[updatedAt] DESC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [HC].[ErrorLog] ADD  CONSTRAINT [DF_ErrorLog_HasherId]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[ErrorLog] ADD  CONSTRAINT [DF_ErrorLog_HcVersion]  DEFAULT (N'pre 0.6.4') FOR [HcVersion]
GO
ALTER TABLE [HC].[ErrorLog] ADD  CONSTRAINT [DF_ErrorLog_createdA__2AC04CAA]  DEFAULT (CONVERT([datetimeoffset](7),sysutcdatetime(),(0))) FOR [createdAt]
GO
ALTER TABLE [HC].[ErrorLog] ADD  CONSTRAINT [DF_ErrorLog_updatedA__2BB470E3]  DEFAULT (CONVERT([datetimeoffset](7),sysutcdatetime(),(0))) FOR [updatedAt]
GO
ALTER TABLE [HC].[ErrorLog] ADD  CONSTRAINT [DF_ErrorLog_deleted__2CA8951C]  DEFAULT ((0)) FOR [deleted]
GO
