/****** Object:  Table [HC].[EmailLog]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[EmailLog](
	[id] [uniqueidentifier] NOT NULL,
	[EmailTemplaterId] [uniqueidentifier] NOT NULL,
	[EventId] [uniqueidentifier] NOT NULL,
	[DateSent] [datetimeoffset](7) NOT NULL,
	[NumberSent] [int] NOT NULL,
	[ServerReply] [nvarchar](2500) NULL,
 CONSTRAINT [PK_EmailLog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [HC].[EmailLog] ADD  CONSTRAINT [DF_EmailLog_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[EmailLog] ADD  CONSTRAINT [DF_EmailLog_NumberSent]  DEFAULT ((0)) FOR [NumberSent]
GO
ALTER TABLE [HC].[EmailLog]  WITH CHECK ADD  CONSTRAINT [FK_EmailLog_EmailTemplate] FOREIGN KEY([EmailTemplaterId])
REFERENCES [HC].[EmailTemplate] ([id])
GO
ALTER TABLE [HC].[EmailLog] CHECK CONSTRAINT [FK_EmailLog_EmailTemplate]
GO
ALTER TABLE [HC].[EmailLog]  WITH CHECK ADD  CONSTRAINT [FK_EmailLog_Event] FOREIGN KEY([EventId])
REFERENCES [HC].[Event] ([id])
GO
ALTER TABLE [HC].[EmailLog] CHECK CONSTRAINT [FK_EmailLog_Event]
GO
