/****** Object:  Table [HC].[HasherKennelMap]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[HasherKennelMap](
	[id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[KennelId] [uniqueidentifier] NOT NULL,
	[Following] [smallint] NOT NULL,
	[IsMember] [smallint] NOT NULL,
	[IsKennelFollowing] [smallint] NOT NULL,
	[IsHomeKennel] [smallint] NOT NULL,
	[KennelNotificationPreference] [smallint] NOT NULL,
	[KennelEmailAlertPreference] [smallint] NOT NULL,
	[MismanagementRoles] [int] NOT NULL,
	[MismanagementRoleFlags] [int] NOT NULL,
	[HcWebPermissionFlags] [int] NOT NULL,
	[UserRoleFlags] [int] NOT NULL,
	[AppAccessFlags] [int] NULL,
	[HistoricalTotalRunCount] [int] NOT NULL,
	[HistoricalPackRunCount] [int] NOT NULL,
	[HistoricalHaringCount] [int] NOT NULL,
	[HistoricalCountIsEstimate] [int] NOT NULL,
	[HcTotalRunCount] [int] NOT NULL,
	[HcHaringCount] [int] NOT NULL,
	[YtdTotalRunCount] [int] NOT NULL,
	[YtdHaringCount] [int] NOT NULL,
	[RollingYearTotalRunCount] [int] NULL,
	[RollingYearHaringCount] [int] NULL,
	[CurrentPackRunCount] [int] NOT NULL,
	[CurrentHaringCount] [int] NOT NULL,
	[KennelCredit] [smallmoney] NOT NULL,
	[DiscountAmount] [smallmoney] NOT NULL,
	[DiscountPercent] [smallint] NOT NULL,
	[DiscountDescription] [nvarchar](50) NOT NULL,
	[DateOfLastRun] [datetimeoffset](7) NULL,
	[MembershipExpirationDate] [datetimeoffset](7) NULL,
	[MemberSince] [datetimeoffset](7) NULL,
	[CanEditRunAttendence] [smallint] NOT NULL,
	[removed] [smallint] NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[updatedAtBias] [int] NOT NULL,
	[KennelUserPhoto] [nvarchar](500) NULL,
	[KennelHashName] [nvarchar](150) NULL,
 CONSTRAINT [PK_HasherKennelMap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_HasherKennelMap]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_HasherKennelMap] ON [HC].[HasherKennelMap]
(
	[KennelId] ASC,
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KennelSyncHasherKennelMap]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_KennelSyncHasherKennelMap] ON [HC].[HasherKennelMap]
(
	[KennelId] ASC,
	[updatedAt] ASC,
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserSyncHasherKennelMap]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserSyncHasherKennelMap] ON [HC].[HasherKennelMap]
(
	[UserId] ASC,
	[updatedAt] ASC,
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_HasherId]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_Following]  DEFAULT ((1)) FOR [Following]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_State]  DEFAULT ((0)) FOR [IsMember]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_IsInPack]  DEFAULT ((0)) FOR [IsKennelFollowing]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_IsHomeKennel]  DEFAULT ((0)) FOR [IsHomeKennel]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_KennelNotificationPreference]  DEFAULT ((0)) FOR [KennelNotificationPreference]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_KennelEmailPreferences]  DEFAULT ((0)) FOR [KennelEmailAlertPreference]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_MismanagementRoles]  DEFAULT ((0)) FOR [MismanagementRoles]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_IsMismanagement]  DEFAULT ((0)) FOR [MismanagementRoleFlags]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_HcWebPermissionFlags]  DEFAULT ((0)) FOR [HcWebPermissionFlags]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_UserRoleFlags]  DEFAULT ((0)) FOR [UserRoleFlags]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_AppAccessFlags]  DEFAULT ((0)) FOR [AppAccessFlags]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_HistoricalTotalRunCount]  DEFAULT ((0)) FOR [HistoricalTotalRunCount]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_HistoricalRunCount]  DEFAULT ((0)) FOR [HistoricalPackRunCount]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_HistoricalHaringCount]  DEFAULT ((0)) FOR [HistoricalHaringCount]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_HistoricalCountIsEstimate]  DEFAULT ((0)) FOR [HistoricalCountIsEstimate]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_HcTotalRunCount]  DEFAULT ((0)) FOR [HcTotalRunCount]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_HcHaringCount]  DEFAULT ((0)) FOR [HcHaringCount]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_YtdTotalRunCount]  DEFAULT ((0)) FOR [YtdTotalRunCount]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_YtdHaringCount]  DEFAULT ((0)) FOR [YtdHaringCount]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_CurrentPackRunCount]  DEFAULT ((0)) FOR [CurrentPackRunCount]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_CurrentHaringCount]  DEFAULT ((0)) FOR [CurrentHaringCount]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_KennelCredit]  DEFAULT ((0)) FOR [KennelCredit]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_DiscountAmount]  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_DiscountPercent]  DEFAULT ((0)) FOR [DiscountPercent]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_DiscountDescription]  DEFAULT ('') FOR [DiscountDescription]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_MemberSince]  DEFAULT (getdate()) FOR [MemberSince]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_CanEditRunAttendence]  DEFAULT ((1)) FOR [CanEditRunAttendence]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_removed]  DEFAULT ((0)) FOR [removed]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [HC].[HasherKennelMap] ADD  CONSTRAINT [DF_HasherKennelMap_updatedAtBias]  DEFAULT (CONVERT([int],abs((CONVERT([bigint],CONVERT([varbinary](8),newid(),(1)))/(40020.2323))%(999999)))) FOR [updatedAtBias]
GO
ALTER TABLE [HC].[HasherKennelMap]  WITH CHECK ADD  CONSTRAINT [FK_HasherKennelMap_Hasher] FOREIGN KEY([UserId])
REFERENCES [HC].[Hasher] ([id])
GO
ALTER TABLE [HC].[HasherKennelMap] CHECK CONSTRAINT [FK_HasherKennelMap_Hasher]
GO
ALTER TABLE [HC].[HasherKennelMap]  WITH CHECK ADD  CONSTRAINT [FK_HasherKennelMap_Kennel] FOREIGN KEY([KennelId])
REFERENCES [HC].[Kennel] ([id])
GO
ALTER TABLE [HC].[HasherKennelMap] CHECK CONSTRAINT [FK_HasherKennelMap_Kennel]
GO
/****** Object:  Trigger [HC].[trgUpdateKennelAdminList]    Script Date: 3/8/2026 12:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgUpdateKennelAdminList]
   ON  [HC].[HasherKennelMap]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prHasher extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF UPDATE(Following) OR UPDATE(AppAccessFlags)
		BEGIN
			UPDATE ken
			SET ken.KennelAdminEmailList = (
				SELECT STRING_AGG(h.Email, ', ')
				FROM INSERTED hkm
				INNER JOIN HC.Hasher h ON hkm.UserId = h.id
				WHERE hkm.kennelId = ken.id
				AND h.Email != 'melissatunawhite@gmail.com'
				AND hkm.Following = 1
				AND hkm.AppAccessFlags & 0x00000001 != 0
			)
			FROM HC.Kennel ken
			WHERE ken.id in (SELECT KennelId from INSERTED)
		END

END
GO
ALTER TABLE [HC].[HasherKennelMap] ENABLE TRIGGER [trgUpdateKennelAdminList]
GO
/****** Object:  Trigger [HC].[trgUpdateModifiedOnDateForHasherKennelMap]    Script Date: 3/8/2026 12:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgUpdateModifiedOnDateForHasherKennelMap]
   ON  [HC].[HasherKennelMap]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prHasher extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF NOT UPDATE(updatedAt)
		BEGIN
			UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,SYSDATETIME()) 
			FROM HC.HasherKennelMap tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
		END
	ELSE
		BEGIN
			UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,CAST(ins.updatedAt as datetime2)) 
			FROM HC.HasherKennelMap tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
		END

END
GO
ALTER TABLE [HC].[HasherKennelMap] ENABLE TRIGGER [trgUpdateModifiedOnDateForHasherKennelMap]
GO
