/****** Object:  Table [HC].[HasherEventMap]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[HasherEventMap](
	[id] [uniqueidentifier] NOT NULL,
	[EventId] [uniqueidentifier] NOT NULL,
	[KennelId] [uniqueidentifier] NOT NULL,
	[HasherOwnEventId] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[RegistrationId] [uniqueidentifier] NULL,
	[UserStartEvent] [datetimeoffset](7) NULL,
	[UserEndEvent] [datetimeoffset](7) NULL,
	[EventCost] [smallmoney] NULL,
	[Rsvp] [datetimeoffset](7) NULL,
	[RsvpState] [smallint] NOT NULL,
	[AttendenceState] [smallint] NOT NULL,
	[IsHare] [smallint] NOT NULL,
	[EventNotificationPreference] [smallint] NULL,
	[EventEmailAlertPreference] [smallint] NULL,
	[EventCountOverride] [smallint] NULL,
	[VirginVisitorType] [smallint] NOT NULL,
	[TotalRuns] [int] NULL,
	[TotalHaring] [int] NULL,
	[TotalRunsThisKennel] [int] NULL,
	[TotalHaringThisKennel] [int] NULL,
	[YtdTotalRunsThisKennel] [int] NULL,
	[YtdHaringThisKennel] [int] NULL,
	[DisplayName] [nvarchar](120) NULL,
	[Email] [nvarchar](120) NULL,
	[PhoneNumber] [nvarchar](120) NULL,
	[removed] [smallint] NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[updatedAtBias] [int] NOT NULL,
	-- The hasher's own private notes on the run (E3.F4.S5, 2026-09-11): written by them in
	-- the app, or filled from a Strava title/description on import when empty. Plain text;
	-- synced to the owner only (user sync). Any change stamps updatedAt like any other column.
	[Notes] [nvarchar](4000) NULL,
	-- 0 private (default) · 1 shared: the hasher lets the kennel and the web see the note —
	-- effective only while neither override bit is set: HasherKennelMap.KennelStanding & 0x1000
	-- (Kennel HC Admin) and Hasher.Preferences & 0x2000 (Platform Admin).
	[NotesVisibility] [smallint] NOT NULL CONSTRAINT [DF_HasherEventMap_NotesVisibility] DEFAULT ((0)),
	-- PackTrack (E3.F3.S7 / E5.F6.S4, 2026-09-10): this hasher's track on this run.
	-- Written by the StorePositions Azure Function per accepted batch; cleared by
	-- DeletePositions when their last point goes. The updatedAt trigger below ignores
	-- a write that changes only these three (in no sync rowset yet). The gzipped trail (E5.F6.S4) will sit beside them.
	[TrackFirstPointAt] [datetime2](3) NULL,
	[TrackLastPointAt] [datetime2](3) NULL,
	[TrackPointCount] [int] NULL,
	-- The trail itself (E5.F6.S4): this hasher's track on this run, delta-encoded and
	-- gzipped, written ONCE when tracking ends. Column added 2026-09-10 with the three
	-- above so the synced table is altered once; the writer is not built yet.
	[TrackGzip] [varbinary](max) NULL,
	-- Where the track came from (E5.F5.S9, 2026-10-04): packtrack | strava | garmin | fitbit |
	-- apple | coros | suunto | polar | wahoo | komoot | file. Set by the API's PositionWriter;
	-- in no sync rowset; a track-only column for the updatedAt trigger.
	[TrackSource] [nvarchar](40) NULL,
 CONSTRAINT [PK_HcHasherEventMap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventSyncHasherEventMap]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_EventSyncHasherEventMap] ON [HC].[HasherEventMap]
(
	[EventId] ASC,
	[updatedAt] ASC,
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HasherEventMap_EventId]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_HasherEventMap_EventId] ON [HC].[HasherEventMap]
(
	[EventId] ASC,
	[UserId] ASC,
	[DisplayName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HasherEventMap_KennelId]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_HasherEventMap_KennelId] ON [HC].[HasherEventMap]
(
	[KennelId] ASC,
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HasherEventMap_UpdatedAt]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_HasherEventMap_UpdatedAt] ON [HC].[HasherEventMap]
(
	[updatedAt] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HasherEventMap_UpdatedAt_Includes]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_HasherEventMap_UpdatedAt_Includes] ON [HC].[HasherEventMap]
(
	[updatedAt] ASC
)
INCLUDE([EventId],[KennelId],[UserId],[VirginVisitorType],[DisplayName],[RsvpState],[AttendenceState],[TotalRunsThisKennel],[TotalHaringThisKennel]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HasherEventMap_UserId_VVtype_Attend]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_HasherEventMap_UserId_VVtype_Attend] ON [HC].[HasherEventMap]
(
	[UserId] ASC,
	[VirginVisitorType] ASC,
	[AttendenceState] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HemRunCount]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_HemRunCount] ON [HC].[HasherEventMap]
(
	[UserId] ASC,
	[KennelId] ASC,
	[IsHare] ASC
)
INCLUDE([id],[EventId]) 
WHERE ([AttendenceState]>=(20) AND [VirginVisitorType]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserSyncHasherEventMap]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserSyncHasherEventMap] ON [HC].[HasherEventMap]
(
	[UserId] ASC,
	[updatedAt] ASC,
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [HC].[HasherEventMap] ADD  CONSTRAINT [DF_HasherEventMap_HasherEventMapId]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[HasherEventMap] ADD  CONSTRAINT [DF_HasherEventMap_RsvpState]  DEFAULT ((0)) FOR [RsvpState]
GO
ALTER TABLE [HC].[HasherEventMap] ADD  CONSTRAINT [DF_HasherEventMap_AttendenceState]  DEFAULT ((0)) FOR [AttendenceState]
GO
ALTER TABLE [HC].[HasherEventMap] ADD  CONSTRAINT [DF__HasherEve__IsHar__6E565CE8]  DEFAULT ((0)) FOR [IsHare]
GO
ALTER TABLE [HC].[HasherEventMap] ADD  CONSTRAINT [DF_HasherEventMap_IsVirgin]  DEFAULT ((0)) FOR [VirginVisitorType]
GO
ALTER TABLE [HC].[HasherEventMap] ADD  CONSTRAINT [DF_HasherEventMap_removed]  DEFAULT ((0)) FOR [removed]
GO
ALTER TABLE [HC].[HasherEventMap] ADD  CONSTRAINT [DF_HasherEventMap_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [HC].[HasherEventMap] ADD  CONSTRAINT [DF_HasherEventMap_updatedAtBias]  DEFAULT (CONVERT([int],abs((CONVERT([bigint],CONVERT([varbinary](8),newid(),(1)))/(40020.2323))%(999999)))) FOR [updatedAtBias]
GO
ALTER TABLE [HC].[HasherEventMap]  WITH CHECK ADD  CONSTRAINT [FK_HasherEventMap_Event] FOREIGN KEY([EventId])
REFERENCES [HC].[Event] ([id])
GO
ALTER TABLE [HC].[HasherEventMap] CHECK CONSTRAINT [FK_HasherEventMap_Event]
GO
ALTER TABLE [HC].[HasherEventMap]  WITH CHECK ADD  CONSTRAINT [FK_HasherEventMap_Hasher] FOREIGN KEY([UserId])
REFERENCES [HC].[Hasher] ([id])
GO
ALTER TABLE [HC].[HasherEventMap] CHECK CONSTRAINT [FK_HasherEventMap_Hasher]
GO
ALTER TABLE [HC].[HasherEventMap]  WITH CHECK ADD  CONSTRAINT [FK_HasherEventMap_Kennel] FOREIGN KEY([KennelId])
REFERENCES [HC].[Kennel] ([id])
GO
ALTER TABLE [HC].[HasherEventMap] CHECK CONSTRAINT [FK_HasherEventMap_Kennel]
GO
/****** Object:  Trigger [HC].[trgUpdateModifiedOnDateForHasherEventMap]    Script Date: 3/8/2026 12:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgUpdateModifiedOnDateForHasherEventMap]
   ON  [HC].[HasherEventMap]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prHasher extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- A write that touches ONLY the PackTrack columns (TrackFirstPointAt,
	-- TrackLastPointAt, TrackPointCount, TrackGzip — set by the StorePositions / DeletePositions
	-- Azure Functions per batch, and by the one-off backfill) is not a change any
	-- client needs to hear about: the columns are in no sync rowset. So it must
	-- NOT stamp updatedAt, or every runner's row would re-sync once a minute for
	-- nothing. If a Track column is in the SET list and no other column changed
	-- value, leave updatedAt alone. (James, 2026-09-10: exclude the columns from
	-- the trigger rather than have the writer overwrite updatedAt.)
	IF (UPDATE(TrackFirstPointAt) OR UPDATE(TrackLastPointAt) OR UPDATE(TrackPointCount) OR UPDATE(TrackGzip) OR UPDATE(TrackSource))
	   AND NOT UPDATE(updatedAt)
	   AND NOT EXISTS (
			SELECT i.id, i.EventId, i.KennelId, i.HasherOwnEventId, i.UserId, i.RegistrationId,
			       i.UserStartEvent, i.UserEndEvent, i.EventCost, i.Rsvp, i.RsvpState,
			       i.AttendenceState, i.IsHare, i.EventNotificationPreference,
			       i.EventEmailAlertPreference, i.EventCountOverride, i.VirginVisitorType,
			       i.TotalRuns, i.TotalHaring, i.TotalRunsThisKennel, i.TotalHaringThisKennel,
			       i.YtdTotalRunsThisKennel, i.YtdHaringThisKennel, i.DisplayName, i.Email,
			       i.PhoneNumber, i.removed, i.Notes, i.NotesVisibility
			FROM INSERTED i
			EXCEPT
			SELECT d.id, d.EventId, d.KennelId, d.HasherOwnEventId, d.UserId, d.RegistrationId,
			       d.UserStartEvent, d.UserEndEvent, d.EventCost, d.Rsvp, d.RsvpState,
			       d.AttendenceState, d.IsHare, d.EventNotificationPreference,
			       d.EventEmailAlertPreference, d.EventCountOverride, d.VirginVisitorType,
			       d.TotalRuns, d.TotalHaring, d.TotalRunsThisKennel, d.TotalHaringThisKennel,
			       d.YtdTotalRunsThisKennel, d.YtdHaringThisKennel, d.DisplayName, d.Email,
			       d.PhoneNumber, d.removed, d.Notes, d.NotesVisibility
			FROM DELETED d)
		RETURN;

	IF NOT UPDATE(updatedAt)
		BEGIN
			UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,SYSDATETIME()) 
			FROM HC.HasherEventMap tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
		END
	ELSE
		BEGIN
			UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,CAST(ins.updatedAt as datetime2)) 
			FROM HC.HasherEventMap tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
		END

END
GO
ALTER TABLE [HC].[HasherEventMap] ENABLE TRIGGER [trgUpdateModifiedOnDateForHasherEventMap]
GO

GO
-- 2026-09-12 (E5.F7.S1): keep HC.Event's run-card activity counts right from
-- whichever path writes this table; see HC6.nonApi_refreshEventActivity and
-- db/hc6/app/archive/2026-09-12_event_activity_counts.sql.
CREATE OR ALTER TRIGGER [HC].[trgHasherEventMapActivityCount] ON [HC].[HasherEventMap]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    -- Only a change that can move the count: a track column, removal, or a
    -- row coming or going. An RSVP or a check-in does not fire the recount.
    IF NOT (UPDATE(TrackPointCount) OR UPDATE(removed)
            OR NOT EXISTS (SELECT 1 FROM INSERTED) OR NOT EXISTS (SELECT 1 FROM DELETED))
        RETURN;
    DECLARE @ids TABLE (EventId UNIQUEIDENTIFIER PRIMARY KEY);
    INSERT INTO @ids (EventId)
    SELECT DISTINCT EventId FROM (SELECT EventId FROM INSERTED UNION SELECT EventId FROM DELETED) s
     WHERE EventId IS NOT NULL;
    DECLARE @eventId UNIQUEIDENTIFIER;
    DECLARE c CURSOR LOCAL FAST_FORWARD FOR SELECT EventId FROM @ids;
    OPEN c; FETCH NEXT FROM c INTO @eventId;
    WHILE @@FETCH_STATUS = 0
    BEGIN
        EXEC HC6.nonApi_refreshEventActivity @eventId = @eventId;
        FETCH NEXT FROM c INTO @eventId;
    END
    CLOSE c; DEALLOCATE c;
END
GO
