/****** Object:  Table [HC].[Hasher]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[Hasher](
	[id] [uniqueidentifier] NOT NULL,
	[PublicHasherId] [uniqueidentifier] NOT NULL,
	[HomeKennelId] [uniqueidentifier] NULL,
	[MotherKennelId] [uniqueidentifier] NULL,
	[SupportCode] [nvarchar](50) NOT NULL,
	[ResetCode] [nvarchar](50) NOT NULL,
	[QR_code] [nvarchar](50) NOT NULL,
	[QR_secret_code] [uniqueidentifier] NOT NULL,
	[HashName] [nvarchar](250) NULL,
	[FirstName] [nvarchar](250) NULL,
	[LastName] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Photo] [nvarchar](1000) NULL,
	[Gender] [nvarchar](50) NULL,
	[FacebookId] [nvarchar](250) NULL,
	[FacebookAccessToken] [nvarchar](1000) NULL,
	[FacebookAccessTokenLastUpdated] [datetimeoffset](7) NULL,
	[ThirdPartyLoginType] [nvarchar](120) NULL,
	[ThirdPartyUserId] [nvarchar](1000) NULL,
	[ThirdPartyAccessToken] [nvarchar](1000) NULL,
	[ThirdPartyAuthorizationCode] [nvarchar](1000) NULL,
	[ThirdPartyTokenLastUpdated] [datetimeoffset](7) NULL,
	[ThirdPartyAccessTokenExpires] [datetimeoffset](7) NULL,
	[ThirdPartyEmail] [nvarchar](250) NULL,
	[ThirdPartyForceTokenRefresh] [datetimeoffset](7) NULL,
	[Locale] [nvarchar](50) NULL,
	[Description] [nvarchar](4000) NULL,
	[HomeLatitude] [decimal](12, 9) NULL,
	[HomeLongitude] [decimal](13, 9) NULL,
	[HomeGeolocation] [geography] NULL,
	[NameDisplayPreference] [smallint] NOT NULL,
	[Preferences] [int] NOT NULL,
	[HcWebUserId] [int] NULL,
	[IncludeInGlobalHashDirectory] [smallint] NOT NULL,
	[Removed] [smallint] NULL,
	[version] [timestamp] NOT NULL,
	[createdAt] [datetimeoffset](7) NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[deleted] [bit] NOT NULL,
	[SingleSignOnId] [nvarchar](250) NULL,
	[SingleSignOnType] [nvarchar](50) NULL,
	[ResetCodeLastUpdated] [datetimeoffset](7) NULL,
	[IsBetaTester] [smallint] NOT NULL,
	[LastLoginDateTime] [datetimeoffset](7) NULL,
	[updatedAtBias] [int] NOT NULL,
	[DirectoryVisibility] [smallint] NULL,
	[isAnonymous] [smallint] NOT NULL,
	[DisplayName]  AS (coalesce(case when [NameDisplayPreference]=(1) then coalesce(nullif([HashName],''),nullif(([FirstName]+' ')+[LastName],''),'<no name>') else coalesce(nullif(([FirstName]+' ')+[LastName],''),nullif([HashName],''),'<no name>') end,'<no names provided>')) PERSISTED,
	[HcVersion] [nvarchar](50) NULL,
	[BetaFeaturesEnabled] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_Hasher] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_AllSyncHashers]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_AllSyncHashers] ON [HC].[Hasher]
(
	[updatedAt] ASC,
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Hasher_CreatedAt_Includes]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_Hasher_CreatedAt_Includes] ON [HC].[Hasher]
(
	[createdAt] ASC
)
INCLUDE([DisplayName],[HomeKennelId],[HomeLatitude],[HomeGeolocation]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HasherCreatedAt]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_HasherCreatedAt] ON [HC].[Hasher]
(
	[createdAt] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HasherUniqueEmail]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_HasherUniqueEmail] ON [HC].[Hasher]
(
	[Email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PublicHasherId]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PublicHasherId] ON [HC].[Hasher]
(
	[PublicHasherId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [HC].[Hasher] ADD  CONSTRAINT [DF_Hasher_HasherId]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[Hasher] ADD  CONSTRAINT [DF_Hasher_PublicHasherId]  DEFAULT (newid()) FOR [PublicHasherId]
GO
ALTER TABLE [HC].[Hasher] ADD  CONSTRAINT [DF_Hasher_SupportCode]  DEFAULT (N'#####') FOR [SupportCode]
GO
ALTER TABLE [HC].[Hasher] ADD  CONSTRAINT [DF_Hasher_ResetCode]  DEFAULT (N'######') FOR [ResetCode]
GO
ALTER TABLE [HC].[Hasher] ADD  CONSTRAINT [DF_Hasher_QR_code]  DEFAULT (N'######') FOR [QR_code]
GO
ALTER TABLE [HC].[Hasher] ADD  CONSTRAINT [DF_Hasher_QR_secret_code]  DEFAULT (newid()) FOR [QR_secret_code]
GO
ALTER TABLE [HC].[Hasher] ADD  CONSTRAINT [DF_Hasher_HomeLatitude]  DEFAULT ((51.5033)) FOR [HomeLatitude]
GO
ALTER TABLE [HC].[Hasher] ADD  CONSTRAINT [DF_Hasher_HomeLongitude]  DEFAULT ((0.1195)) FOR [HomeLongitude]
GO
ALTER TABLE [HC].[Hasher] ADD  CONSTRAINT [DF_Hasher_NameDisplayPreference]  DEFAULT ((1)) FOR [NameDisplayPreference]
GO
ALTER TABLE [HC].[Hasher] ADD  CONSTRAINT [DF_Hasher_Preferences]  DEFAULT ((0)) FOR [Preferences]
GO
ALTER TABLE [HC].[Hasher] ADD  CONSTRAINT [DF_Hasher_IncludeInGlobalHashDirectory]  DEFAULT ((0)) FOR [IncludeInGlobalHashDirectory]
GO
ALTER TABLE [HC].[Hasher] ADD  CONSTRAINT [DF_Hasher_Removed]  DEFAULT ((0)) FOR [Removed]
GO
ALTER TABLE [HC].[Hasher] ADD  CONSTRAINT [DF__Hasher__createdA__2AC04CAA]  DEFAULT (CONVERT([datetimeoffset](7),sysutcdatetime(),(0))) FOR [createdAt]
GO
ALTER TABLE [HC].[Hasher] ADD  CONSTRAINT [DF__Hasher__updatedA__2BB470E3]  DEFAULT (CONVERT([datetimeoffset](7),sysutcdatetime(),(0))) FOR [updatedAt]
GO
ALTER TABLE [HC].[Hasher] ADD  CONSTRAINT [DF__Hasher__deleted__2CA8951C]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [HC].[Hasher] ADD  CONSTRAINT [DF_Hasher_IsBetaTester]  DEFAULT ((0)) FOR [IsBetaTester]
GO
ALTER TABLE [HC].[Hasher] ADD  CONSTRAINT [DF_Hasher_updatedAtBias]  DEFAULT (CONVERT([int],abs((CONVERT([bigint],CONVERT([varbinary](8),newid(),(1)))/(40020.2323))%(999999)))) FOR [updatedAtBias]
GO
ALTER TABLE [HC].[Hasher] ADD  CONSTRAINT [DF_Hasher_isAnonymous]  DEFAULT ((0)) FOR [isAnonymous]
GO
ALTER TABLE [HC].[Hasher] ADD  CONSTRAINT [DF_Hasher_BetaFeaturesEnabled]  DEFAULT ('') FOR [BetaFeaturesEnabled]
GO
/****** Object:  Trigger [HC].[trgCalculateHasherGeolocation]    Script Date: 3/8/2026 12:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgCalculateHasherGeolocation]
   ON  [HC].[Hasher]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prHasher extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF (UPDATE(HomeLatitude) OR UPDATE(HomeLongitude))
	BEGIN

		UPDATE HC.Hasher Set HomeGeolocation = 
			CASE WHEN ((HomeLatitude is null) OR (HomeLongitude is null)) 
			THEN 
				null 
			ELSE
				geography::Point(HomeLatitude, HomeLongitude, 4326) END FROM HC.Hasher 
			WHERE id in (SELECT id from INSERTED)
	END

END
GO
ALTER TABLE [HC].[Hasher] ENABLE TRIGGER [trgCalculateHasherGeolocation]
GO
/****** Object:  Trigger [HC].[trgGenerateQrCode]    Script Date: 3/8/2026 12:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgGenerateQrCode]
   ON  [HC].[Hasher]
   AFTER INSERT, UPDATE
AS 
BEGIN

	SET NOCOUNT ON;

	DECLARE @id uniqueidentifier
	DECLARE @Loop nvarchar(5)
	DECLARE @QR nvarchar(50)
	DECLARE @EmergencyStop int


	DECLARE @InsertedQr nvarchar(50)
	DECLARE @ResetCode nvarchar(50)
	DECLARE @SupportCode nvarchar(50)

	IF TRIGGER_NESTLEVEL(OBJECT_ID('HC.trgGenerateQrCode')) > 1
	BEGIN
		PRINT 'mytrigger exiting because TRIGGER_NESTLEVEL > 1 ';
		RETURN;
	END;

	IF (UPDATE(QR_Code) OR UPDATE(ResetCode) OR UPDATE(SupportCode))
	BEGIN

	DECLARE xCrsr CURSOR  
		FOR SELECT id,QR_code, ResetCode, SupportCode FROM INSERTED 
	OPEN xCrsr 
	FETCH NEXT FROM xCrsr INTO @id, @InsertedQr, @ResetCode, @SupportCode
	
	WHILE @@FETCH_STATUS = 0
	BEGIN
			
		-- First check the QR_Code
		SET @Loop = 'Yes'
		SET @EmergencyStop = 0

		IF ((SELECT count(*) from HC.Hasher WHERE QR_code = @InsertedQr and id <> @id) > 0) OR (@InsertedQr not like 'UQR:%')
		BEGIN
			-- attempt to insert a duplicate QR was detected or the QR being inserted is invalid
			-- in these cases, create a new QR and insert that instead
			WHILE (@Loop = 'Yes')
			BEGIN
				SET @EmergencyStop = @EmergencyStop + 1
				IF @EmergencyStop > 10 SET @Loop = 'No'
				SET @QR = 'UQR:'+HC.NUMBER_TO_STR_BASE (36,(RAND() * (2147483647 - 60466177)) + 60466176)
				-- if the QR code is unique, go ahead and insert it
				IF (SELECT count(*) FROM HC.Hasher WHERE QR_code = @QR) = 0
				BEGIN
					SET @Loop = 'No'
					UPDATE HC.Hasher set QR_code = @QR WHERE id = @id
				END
			END
		END

		-- Now check the ResetCode
		SET @Loop = 'Yes'
		SET @EmergencyStop = 0

		IF ((SELECT count(*) from HC.Hasher WHERE ResetCode = @ResetCode and id <> @id) > 0) OR (@ResetCode not like 'URC:%')
		BEGIN
			-- attempt to insert a duplicate QR was detected or the QR being inserted is invalid
			-- in these cases, create a new QR and insert that instead
			WHILE (@Loop = 'Yes')
			BEGIN
				SET @EmergencyStop = @EmergencyStop + 1
				IF @EmergencyStop > 10 SET @Loop = 'No'
				SET @QR = 'URC:'+SUBSTRING(TRIM(HC.NUMBER_TO_STR_BASE (25,(RAND() * (2147483647 - 91466177)) + 91466177)),0,7)
				-- if the QR code is unique, go ahead and insert it
				IF (SELECT count(*) FROM HC.Hasher WHERE ResetCode = @QR) = 0
				BEGIN
					SET @Loop = 'No'
					UPDATE HC.Hasher set ResetCode = @QR WHERE id = @id
				END
			END
		END

		-- Now check the SupportCode
		SET @Loop = 'Yes'
		SET @EmergencyStop = 0

		IF ((SELECT count(*) from HC.Hasher WHERE SupportCode = @SupportCode and id <> @id) > 0) OR (@SupportCode not like 'USC:%')
		BEGIN
			-- attempt to insert a duplicate QR was detected or the QR being inserted is invalid
			-- in these cases, create a new QR and insert that instead
			WHILE (@Loop = 'Yes')
			BEGIN
				SET @EmergencyStop = @EmergencyStop + 1
				IF @EmergencyStop > 10 SET @Loop = 'No'
				SET @QR = 'USC:'+SUBSTRING(TRIM(HC.NUMBER_TO_STR_BASE (25,(RAND() * (2147483647 - 91466177)) + 91466177)),0,7)
				-- if the QR code is unique, go ahead and insert it
				IF (SELECT count(*) FROM HC.Hasher WHERE SupportCode = @QR) = 0
				BEGIN
					SET @Loop = 'No'
					UPDATE HC.Hasher set SupportCode = @QR WHERE id = @id
				END
			END
		END

		FETCH NEXT FROM xCrsr INTO @id, @InsertedQr, @ResetCode, @SupportCode
	END

	CLOSE xCrsr
	DEALLOCATE xCrsr

	END

	

	--DECLARE xCrsr CURSOR  
	--FOR SELECT id,ResetCode FROM INSERTED 
	--OPEN xCrsr 
	--FETCH NEXT FROM xCrsr INTO @id, @ResetCode
	
	--WHILE @@FETCH_STATUS = 0
	--BEGIN
			
	--	SET @Loop = 'Yes'
	--	SET @EmergencyStop = 0

	--	IF ((SELECT count(*) from HC.Hasher WHERE ResetCode = @ResetCode and id <> @id) > 0) OR (@ResetCode not like 'RC:%')
	--	BEGIN
	--		-- attempt to insert a duplicate QR was detected or the QR being inserted is invalid
	--		-- in these cases, create a new QR and insert that instead
	--		WHILE (@Loop = 'Yes')
	--		BEGIN
	--			SET @EmergencyStop = @EmergencyStop + 1
	--			IF @EmergencyStop > 10 SET @Loop = 'No'
	--			SET @QR = 'RC:'+ SUBSTRING(TRIM(HC.NUMBER_TO_STR_BASE (25,(RAND() * (2147483647 - 91466177)) + 91466177)),0,7)
	--			-- if the QR code is unique, go ahead and insert it
	--			IF (SELECT count(*) FROM HC.Hasher WHERE ResetCode = @QR) = 0
	--			BEGIN
	--				SET @Loop = 'No'
	--				UPDATE HC.Hasher set ResetCode = @QR WHERE id = @id
	--			END
	--		END
	--	END

	--	FETCH NEXT FROM xCrsr INTO @id, @ResetCode
	--END

	--CLOSE xCrsr
	--DEALLOCATE xCrsr

END
GO
ALTER TABLE [HC].[Hasher] ENABLE TRIGGER [trgGenerateQrCode]
GO
/****** Object:  Trigger [HC].[trgInsertHkmRecordForHomeHash]    Script Date: 3/8/2026 12:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgInsertHkmRecordForHomeHash]
   ON  [HC].[Hasher]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prHasher extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF (UPDATE(HomeKennelId))
	BEGIN
		DECLARE @homeKennelId uniqueidentifier,
				@userId uniqueidentifier
		

		SELECT @homeKennelId = homeKennelId,@userId = id from INSERTED

		IF (@homeKennelId IS NOT NULL)
		BEGIN
		SET NOCOUNT ON
			IF (select count(*) from HC.HasherKennelMap hkm where hkm.UserId = @userId AND hkm.KennelId = @homeKennelId) = 0 
			BEGIN
			INSERT INTO [HC].[HasherKennelMap]
			   ([UserId]
			   ,[KennelId]
			   ,[Following]
			   ,[IsMember]
			   ,[MembershipExpirationDate]
			   ,[IsKennelFollowing]
			   ,[IsHomeKennel])
			SELECT 
				
				@userId,  -- userId
				@homeKennelId,  -- kennelId
				1, -- following
				1, -- isMember
				'1/1/2100', -- membership expiration date
				1, -- isKennelFollowing
				1  -- isHomeKennel
			END

		--	select id into #temp
		--	from HC.Hasher h
		--	where h.HomeKennelId = @homeKennelId
		--	AND
		--	(select count(*) from HC.HasherKennelMap hkm where hkm.UserId = h.id AND hkm.KennelId = h.HomeKennelId) = 0 

		--	INSERT INTO [HC].[HasherKennelMap]
  --         ([id]
  --         ,[UserId]
  --         ,[KennelId]
  --         ,[Following]
  --         ,[IsKennelFollowing]
  --         ,[IsHomeKennel])
		--SELECT 
		--	newid(), -- id
		--	t.id,  -- userId
		--	@homeKennelId,  -- kennelId
		--	1, -- following
		--	1, -- isKennelFollowing
		--	1  -- isHomeKennel
		--from #temp t

		--DROP TABLE #temp


		END
	END
END
GO
ALTER TABLE [HC].[Hasher] ENABLE TRIGGER [trgInsertHkmRecordForHomeHash]
GO
/****** Object:  Trigger [HC].[trgLinkToDboUsers]    Script Date: 3/8/2026 12:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgLinkToDboUsers]
   ON  [HC].[Hasher]
   AFTER INSERT, UPDATE
AS 
BEGIN

	IF UPDATE(Email)
	BEGIN

		SET NOCOUNT ON;

		-- Link web user with app user

		DECLARE @Email nvarchar(100)
	
		DECLARE xCrsr CURSOR FOR SELECT Email FROM inserted

		OPEN xCrsr

		FETCH NEXT FROM xCrsr INTO @Email

		WHILE(@@FETCH_STATUS = 0)
		BEGIN
			UPDATE HC.Hasher SET HcWebUserId = (SELECT UserId FROM dbo.Users WHERE Email = @Email) WHERE Email = @Email
			FETCH NEXT FROM xCrsr INTO @Email
		END

		CLOSE xCrsr
		DEALLOCATE xCrsr
	END

END
GO
ALTER TABLE [HC].[Hasher] ENABLE TRIGGER [trgLinkToDboUsers]
GO
/****** Object:  Trigger [HC].[trgSafeDelete]    Script Date: 3/8/2026 12:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgSafeDelete]  ON  [HC].[Hasher]
   INSTEAD OF DELETE
AS 
BEGIN

	SET NOCOUNT ON;

	DECLARE @id uniqueidentifier,
			@count int

	DECLARE hasherDelCrsr CURSOR  
		FOR SELECT id FROM deleted 
	OPEN hasherDelCrsr 
	FETCH NEXT FROM hasherDelCrsr INTO @id
	
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SELECT @count = count(*) FROM HC.Payment p where p.CancelledBy_UserId is null AND (p.UserId = @id or p.PaymentProcessedBy_userId = @id)

		IF ((@id is not null) AND (@count = 0))
		BEGIN
			SELECT @count = count(*) FROM HC.HasherEventMap hem where hem.UserId = @id AND hem.AttendenceState >= 20
			IF (@count = 0)
			BEGIN
				DELETE FROM HC.Payment where UserId = @id and CancelledBy_UserId IS NOT NULL
				DELETE FROM HC.HasherEventMap where userId = @id
				DELETE FROM HC.HasherKennelMap where userId = @id
				UPDATE HC.Hasher SET Removed = 1, email='removed_' + cast(getdate() as nvarchar(50)) + '_' +  cast(cast(RAND()*34323423 as int) as nvarchar(50)),ThirdPartyEmail=NULL, updatedAt = getdate() where id = @id
			END
		END

		FETCH NEXT FROM hasherDelCrsr INTO @id
	END

	CLOSE hasherDelCrsr
	DEALLOCATE hasherDelCrsr

END
GO
ALTER TABLE [HC].[Hasher] ENABLE TRIGGER [trgSafeDelete]
GO
/****** Object:  Trigger [HC].[trgUpdateKennelToken]    Script Date: 3/8/2026 12:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgUpdateKennelToken]
   ON  [HC].[Hasher]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prHasher extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF (UPDATE(ThirdPartyAccessToken) OR UPDATE(ThirdPartyEmail))
	
			UPDATE ken 
			   SET ken.KennelFacebookToken = ins.ThirdPartyAccessToken, 
				   ken.KennelFacebookTokenLastUpdated = ins.ThirdPartyTokenLastUpdated,
				   ken.updatedAt = SYSDATETIME()
			  FROM HC.Kennel ken inner join INSERTED ins on ken.KennelFacebookTokenUsername = ins.ThirdPartyEmail
			 WHERE ken.KennelFacebookToken != ins.ThirdPartyAccessToken AND KennelFacebookTokenUsername = ins.ThirdPartyEmail
	
	--BEGIN
	--	DECLARE @thirdPartyAccessToken nvarchar(2000),
	--			@thirdPartyEmail nvarchar(2000),
	--			@thirdPartyTokenLastUpdated datetime

	--	DECLARE tokenCrsr CURSOR FOR SELECT ThirdPartyAccessToken,thirdPartyEmail,ThirdPartyTokenLastUpdated FROM inserted

	--	OPEN tokenCrsr

	--	FETCH NEXT FROM tokenCrsr INTO @ThirdPartyAccessToken,@thirdPartyEmail,@thirdPartyTokenLastUpdated

	--	WHILE(@@FETCH_STATUS = 0)
	--	BEGIN
	--		UPDATE HC.Kennel 
	--		   SET KennelFacebookToken = @ThirdPartyAccessToken, 
	--			   KennelFacebookTokenLastUpdated = @thirdPartyTokenLastUpdated
	--		 WHERE KennelFacebookToken != @ThirdPartyAccessToken AND KennelFacebookTokenUsername = @thirdPartyEmail
								
	--		FETCH NEXT FROM xCrsr INTO @ThirdPartyAccessToken,@thirdPartyEmail,@thirdPartyTokenLastUpdated
	--	END

	--	CLOSE tokenCrsr
	--	DEALLOCATE tokenCrsr
	--END


END
GO
ALTER TABLE [HC].[Hasher] ENABLE TRIGGER [trgUpdateKennelToken]
GO
/****** Object:  Trigger [HC].[trgUpdateModifiedOnDateForHasher]    Script Date: 3/8/2026 12:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgUpdateModifiedOnDateForHasher]
   ON  [HC].[Hasher]
   AFTER INSERT, UPDATE
AS 
BEGIN

	SET NOCOUNT ON;

	IF UPDATE(updatedAt)
	BEGIN
		UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,CAST(ins.updatedAt as datetime2)) 
		FROM HC.Hasher tbl
		INNER JOIN INSERTED ins on tbl.id = ins.id
	END

END
GO
ALTER TABLE [HC].[Hasher] ENABLE TRIGGER [trgUpdateModifiedOnDateForHasher]
GO
/****** Object:  Trigger [HC].[trgUpdateModifiedOnDateForNames]    Script Date: 3/8/2026 12:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgUpdateModifiedOnDateForNames]
   ON  [HC].[Hasher]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prHasher extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF (UPDATE(FirstName) OR UPDATE(LastName) OR UPDATE(NameDisplayPreference) OR UPDATE(HashName) OR UPDATE(Removed) OR UPDATE(Photo))
	BEGIN
		UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,SYSDATETIME()) 
		FROM HC.Hasher tbl
		INNER JOIN INSERTED ins on tbl.id = ins.id
	END
END
GO
ALTER TABLE [HC].[Hasher] ENABLE TRIGGER [trgUpdateModifiedOnDateForNames]
GO
