/****** Object:  Table [HC].[IntegrationJob]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[IntegrationJob](
	[IntegrationJobId] [int] IDENTITY(1,1) NOT NULL,
	[IntegrationId] [int] NOT NULL,
	[SequenceNumber] [int] NOT NULL,
	[RecordsRead] [smallint] NULL,
	[RecordsWritten] [smallint] NULL,
	[RecordsSuccessInfo] [nvarchar](4000) NULL,
	[RecordsFailedInfo] [nvarchar](4000) NULL,
	[ErrorCount] [smallint] NULL,
	[ErrorInfo] [nvarchar](4000) NULL,
	[KennelsSucceeded] [smallint] NULL,
	[KennelsSucceededInfo] [nvarchar](4000) NULL,
	[KennelsFailed] [smallint] NULL,
	[KennelsFailedInfo] [nvarchar](4000) NULL,
	[startedAt] [datetimeoffset](7) NOT NULL,
	[endedAt] [datetimeoffset](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IX_IntegJobGetUsageData]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_IntegJobGetUsageData] ON [HC].[IntegrationJob]
(
	[endedAt] ASC
)
INCLUDE([IntegrationJobId],[IntegrationId]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [nci_wi_IntegrationJob_68D805A967F637B24BF2F7DA2A1DB775]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [nci_wi_IntegrationJob_68D805A967F637B24BF2F7DA2A1DB775] ON [HC].[IntegrationJob]
(
	[IntegrationId] ASC,
	[SequenceNumber] ASC,
	[startedAt] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [nci_wi_IntegrationJob_86BCC8B2445AB341D16087B3D3981652]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [nci_wi_IntegrationJob_86BCC8B2445AB341D16087B3D3981652] ON [HC].[IntegrationJob]
(
	[IntegrationJobId] ASC
)
INCLUDE([endedAt],[ErrorCount],[ErrorInfo],[IntegrationId],[KennelsFailed],[KennelsFailedInfo],[KennelsSucceeded],[KennelsSucceededInfo],[RecordsFailedInfo],[RecordsRead],[RecordsWritten]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [HC].[IntegrationJob] ADD  CONSTRAINT [DF_IntegrationJob_createdAt]  DEFAULT (getdate()) FOR [startedAt]
GO
