/****** Object:  Table [HC].[KennelCredit]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[KennelCredit](
	[id] [uniqueidentifier] NOT NULL,
	[userId] [uniqueidentifier] NOT NULL,
	[kennelId] [uniqueidentifier] NOT NULL,
	[balanceAsOfEventId] [uniqueidentifier] NOT NULL,
	[currentBalance] [smallmoney] NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[removed] [smallint] NOT NULL,
	[updatedAtBias] [int] NOT NULL,
 CONSTRAINT [PK_KennelCredit] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [HC].[KennelCredit] ADD  CONSTRAINT [DF_KennelCredit_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[KennelCredit] ADD  CONSTRAINT [DF_KennelCredit_removed]  DEFAULT ((0)) FOR [removed]
GO
ALTER TABLE [HC].[KennelCredit] ADD  CONSTRAINT [DF_KennelCredit_updatedAtBias]  DEFAULT (CONVERT([int],abs((CONVERT([bigint],CONVERT([varbinary](8),newid(),(1)))/(40020.2323))%(999999)))) FOR [updatedAtBias]
GO
ALTER TABLE [HC].[KennelCredit]  WITH CHECK ADD  CONSTRAINT [FK_KennelCredit_Hasher] FOREIGN KEY([userId])
REFERENCES [HC].[Hasher] ([id])
GO
ALTER TABLE [HC].[KennelCredit] CHECK CONSTRAINT [FK_KennelCredit_Hasher]
GO
ALTER TABLE [HC].[KennelCredit]  WITH CHECK ADD  CONSTRAINT [FK_KennelCredit_Kennel] FOREIGN KEY([kennelId])
REFERENCES [HC].[Kennel] ([id])
GO
ALTER TABLE [HC].[KennelCredit] CHECK CONSTRAINT [FK_KennelCredit_Kennel]
GO
/****** Object:  Trigger [HC].[trgUpdateModifiedOnDateForKennelCredit]    Script Date: 3/8/2026 12:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgUpdateModifiedOnDateForKennelCredit]
   ON  [HC].[KennelCredit]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prHasher extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF NOT UPDATE(updatedAt)
		BEGIN
			UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,SYSDATETIME()) 
			FROM HC.KennelCredit tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
		END
	ELSE
		BEGIN
			UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,CAST(ins.updatedAt as datetime2)) 
			FROM HC.KennelCredit tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
		END
END
GO
ALTER TABLE [HC].[KennelCredit] ENABLE TRIGGER [trgUpdateModifiedOnDateForKennelCredit]
GO
