/****** Object:  Table [HC].[Kennel]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[Kennel](
	[id] [uniqueidentifier] NOT NULL,
	[PublicKennelId] [uniqueidentifier] NOT NULL,
	[KennelStatus] [smallint] NOT NULL,
	[KennelName] [nvarchar](250) NOT NULL,
	[KennelAdminEmailList] [nvarchar](2000) NULL,
	[InboundIntegrationId] [int] NOT NULL,
	[IntegrationType] [nvarchar](50) NOT NULL,
	[IntegrationImportDaysInPast] [smallint] NULL,
	[IntegrationImportDaysInFuture] [smallint] NOT NULL,
	[IntegrationForceUpdatesUntil] [datetimeoffset](7) NULL,
	[IntegrationAutoImportEvents] [smallint] NOT NULL,
	[IntegrationSendTokenExpiredEmails] [smallint] NOT NULL,
	[IntegrationTokenExpiredEmailAddresses] [nvarchar](1000) NULL,
	[IntegrationImportOnlyTaggedEvents] [smallint] NOT NULL,
	[IntegrationTagForImport] [nvarchar](500) NULL,
	[IntegrationLastExecuted] [datetimeoffset](7) NULL,
	[IntegrationLastShameEmailSent] [datetimeoffset](7) NOT NULL,
	[DisseminateHashRunsDotOrg] [smallint] NOT NULL,
	[DisseminateAllowWebLinks] [smallint] NOT NULL,
	[DisseminationAudience] [int] NOT NULL,
	[GoogleCalendarId] [nvarchar](250) NULL,
	[KennelFacebookId] [nvarchar](250) NULL,
	[KennelFacebookToken] [nvarchar](1000) NULL,
	[KennelFacebookTokenUserId] [uniqueidentifier] NULL,
	[KennelFacebookTokenUsername] [nvarchar](200) NULL,
	[KennelFacebookTokenLastUpdated] [datetimeoffset](7) NULL,
	[PublishToGoogleCalendar] [smallint] NOT NULL,
	[PublishToGoogleCalendarAddresses] [nvarchar](1000) NULL,
	[CanEditRunAttendence] [smallint] NOT NULL,
	[KennelShortName] [nvarchar](25) NOT NULL,
	[KennelDescription] [nvarchar](4000) NULL,
	[KennelLogo] [nvarchar](500) NOT NULL,
	[KennelPinColor] [smallint] NOT NULL,
	[KennelCoverPhoto] [nvarchar](500) NULL,
	[KennelWebsiteUrl] [nvarchar](500) NULL,
	[KennelEventsUrl] [nvarchar](500) NULL,
	[KennelHcEventsUrl] [nvarchar](500) NULL,
	[KennelMismanagementTeam] [nvarchar](4000) NULL,
	[DefaultEventPriceForMembers] [decimal](10, 4) NOT NULL,
	[DefaultEventPriceForNonMembers] [decimal](10, 4) NOT NULL,
	[DefaultEventCurrencyType] [nvarchar](10) NULL,
	[DefaultRunStartTime] [time](7) NOT NULL,
	[CurrencyCode] [nvarchar](5) NULL,
	[PrimaryCultureCode] [nvarchar](10) NULL,
	[CurrencySymbol] [nvarchar](5) NULL,
	[DigitsAfterDecimal] [smallint] NULL,
	[BankScheme] [nvarchar](10) NULL,
	[BankAccountNumber] [nvarchar](50) NULL,
	[BankBic] [nvarchar](50) NULL,
	[BankBeneficiary] [nvarchar](150) NULL,
	[KennelPaymentScheme] [nvarchar](50) NULL,
	[KennelPaymentUrl] [nvarchar](2000) NULL,
	[KennelPaymentUrlExpires] [datetimeoffset](7) NULL,
	[KennelPaymentMemberSurcharge] [decimal](10, 4) NULL,
	[KennelPaymentNonMemberSurcharge] [decimal](10, 4) NULL,
	[KennelPaymentScheme2] [nvarchar](50) NULL,
	[KennelPaymentUrl2] [nvarchar](2000) NULL,
	[KennelPaymentUrlExpires2] [datetimeoffset](7) NULL,
	[KennelPaymentMemberSurcharge2] [decimal](10, 4) NULL,
	[KennelPaymentNonMemberSurcharge2] [decimal](10, 4) NULL,
	[KennelPaymentScheme3] [nvarchar](50) NULL,
	[KennelPaymentUrl3] [nvarchar](2000) NULL,
	[KennelPaymentUrlExpires3] [datetimeoffset](7) NULL,
	[KennelPaymentMemberSurcharge3] [decimal](10, 4) NULL,
	[KennelPaymentNonMemberSurcharge3] [decimal](10, 4) NULL,
	[KennelFeaturesTier] [smallint] NOT NULL,
	[KennelFeaturesExpire] [datetimeoffset](7) NULL,
	[KennelGoogleSheetApiKey] [nvarchar](250) NULL,
	[AllowSelfPayment] [smallint] NOT NULL,
	[AllowNegativeCredit] [smallint] NOT NULL,
	[CityId] [uniqueidentifier] NOT NULL,
	[ProvinceStateId] [uniqueidentifier] NOT NULL,
	[CountryId] [uniqueidentifier] NOT NULL,
	[Latitude] [decimal](18, 14) NULL,
	[Longitude] [decimal](19, 15) NULL,
	[DefaultRunTags1] [int] NOT NULL,
	[DefaultRunTags2] [int] NOT NULL,
	[DefaultRunTags3] [int] NOT NULL,
	[KennelGeolocation] [geography] NULL,
	[MembershipDurationInMonths] [int] NOT NULL,
	[RunCountStartDate] [datetimeoffset](7) NULL,
	[DistancePreference] [smallint] NULL,
	[ExtApiKey] [nvarchar](120) NULL,
	[KennelSearchTags] [nvarchar](4000) NULL,
	[removed] [smallint] NOT NULL,
	[version] [timestamp] NOT NULL,
	[createdAt] [datetimeoffset](7) NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[deleted] [bit] NOT NULL,
	[updatedAtBias] [int] NOT NULL,
	[ExcludeFromLeaderboard] [smallint] NOT NULL,
	[WebsiteBackgroundColor] [nvarchar](25) NULL,
	[WebsiteBackgroundImage] [nvarchar](500) NULL,
	[WebsiteTitleText] [nvarchar](500) NULL,
	[WebsiteMenuTextColor] [nvarchar](25) NULL,
	[WebsiteWelcomeText] [nvarchar](4000) NULL,
	[WebsiteBodyTextColor] [nvarchar](25) NULL,
	[WebsiteTitleTextColor] [nvarchar](25) NULL,
	[WebsiteMismanagementDescription] [nvarchar](4000) NULL,
	[WebsiteMismanagementJson] [nvarchar](4000) NULL,
	[WebsiteExtraMenusJson] [nvarchar](4000) NULL,
	[WebsiteControlFlags] [int] NULL,
	[WebsiteContactDetailsJson] [nvarchar](4000) NULL,
	[WebsiteBannerImage] [nvarchar](500) NULL,
	[WebsiteUrlShortcode] [nvarchar](50) NULL,
	[WebsiteTitleFont] [nvarchar](100) NULL,
	[WebsiteBodyFont] [nvarchar](100) NULL,
	[WebsiteMenuBackgroundColor] [nvarchar](25) NULL,
	[DisseminateOnGlobalGoogleCalendar] [smallint] NOT NULL,
	[KennelUniqueShortName] [nvarchar](50) NOT NULL,
	[KennelSeoTitle] [nvarchar](60) NULL,
	[KennelSeoDescription] [nvarchar](155) NULL,
	[KennelSeoKeywords] [nvarchar](200) NULL,
	[KennelFavicon] [nvarchar](250) NULL,
	[KennelPrimaryGoogleCalendarUrl] [nvarchar](250) NULL,
	[KennelFoundedOnDate] [datetimeoffset](7) NULL,
	[NotificationMinutesBeforeRunForCheckinReminder] [smallint] NOT NULL,
	[NotificationMinutesBeforeRunForChatPushNotifications] [smallint] NOT NULL,
	[NotificationMinutesAfterRunForChatPushNotifications] [smallint] NOT NULL,
	[NotificationMinutesBeforeRunForRsvpReminder] [smallint] NOT NULL,
 CONSTRAINT [PK_PublicKennelId] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_KennelUniqueShortName] UNIQUE NONCLUSTERED 
(
	[KennelUniqueShortName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_AllSyncKennels]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_AllSyncKennels] ON [HC].[Kennel]
(
	[updatedAt] ASC,
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kennel]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Kennel] ON [HC].[Kennel]
(
	[PublicKennelId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KennelCreatedAt]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_KennelCreatedAt] ON [HC].[Kennel]
(
	[createdAt] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_PublicKennelId]  DEFAULT (newid()) FOR [PublicKennelId]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_KennelStatus]  DEFAULT ((1)) FOR [KennelStatus]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_IntegrationType]  DEFAULT (N'None') FOR [IntegrationType]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_KennelFacebookImportDaysInPast]  DEFAULT ((4)) FOR [IntegrationImportDaysInPast]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_KennelFacebookImportDaysInFuture]  DEFAULT ((90)) FOR [IntegrationImportDaysInFuture]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_AutoImportFacebookEvents]  DEFAULT ((0)) FOR [IntegrationAutoImportEvents]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_IntegrationSendTokenExpiredEmails]  DEFAULT ((0)) FOR [IntegrationSendTokenExpiredEmails]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_ImportOnlyTaggedEvents]  DEFAULT ((0)) FOR [IntegrationImportOnlyTaggedEvents]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_IntegrationLastShameEmailSent]  DEFAULT ('1/1/2020') FOR [IntegrationLastShameEmailSent]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_KennelShowRunsOnHashRunsDotOrt]  DEFAULT ((1)) FOR [DisseminateHashRunsDotOrg]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_KennelAllowRunWebLinks]  DEFAULT ((1)) FOR [DisseminateAllowWebLinks]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_KenAudienceFlags]  DEFAULT ((2147483647)) FOR [DisseminationAudience]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_PublishToGoogleCalendar]  DEFAULT ((0)) FOR [PublishToGoogleCalendar]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_CanEditRunAttendence]  DEFAULT ((0)) FOR [CanEditRunAttendence]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_KennelLogo]  DEFAULT (N'bundle://defaultKennelLogo') FOR [KennelLogo]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_KennelPinColor]  DEFAULT ((0)) FOR [KennelPinColor]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_KennelMismanagementTeam]  DEFAULT ('<none listed>') FOR [KennelMismanagementTeam]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_DefaultEventPriceForNonMembers]  DEFAULT ((0)) FOR [DefaultEventPriceForNonMembers]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_DefaultRunStartTime]  DEFAULT ('12:00:00.0000000') FOR [DefaultRunStartTime]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_KennelFeaturesTier]  DEFAULT ((0)) FOR [KennelFeaturesTier]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_AllowSelfPayment]  DEFAULT ((1)) FOR [AllowSelfPayment]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_AllowNegativeCredit]  DEFAULT ((0)) FOR [AllowNegativeCredit]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_DefaultRunTags1]  DEFAULT ((0)) FOR [DefaultRunTags1]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_DefaultRunTags2]  DEFAULT ((0)) FOR [DefaultRunTags2]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_DefaultRunTags3]  DEFAULT ((0)) FOR [DefaultRunTags3]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_MembershipDurationInMonths]  DEFAULT ((12)) FOR [MembershipDurationInMonths]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_removed]  DEFAULT ((0)) FOR [removed]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF__Kennel__createdA__338A9CD5]  DEFAULT (CONVERT([datetimeoffset](7),sysutcdatetime(),(0))) FOR [createdAt]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF__Kennel__updatedA__347EC10E]  DEFAULT (CONVERT([datetimeoffset](7),sysutcdatetime(),(0))) FOR [updatedAt]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF__Kennel__deleted__3572E547]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_updatedAtBias]  DEFAULT (CONVERT([int],abs((CONVERT([bigint],CONVERT([varbinary](8),newid(),(1)))/(40020.2323))%(999999)))) FOR [updatedAtBias]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_excludeFromLeaderboard]  DEFAULT ((0)) FOR [ExcludeFromLeaderboard]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_DisseminateOnGlobalGoogleCalendar]  DEFAULT ((0)) FOR [DisseminateOnGlobalGoogleCalendar]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_NotificationMinutesBeforeRunForCheckin]  DEFAULT ((5)) FOR [NotificationMinutesBeforeRunForCheckinReminder]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_NotificationMinutesChatWindow]  DEFAULT ((360)) FOR [NotificationMinutesBeforeRunForChatPushNotifications]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_NotificationMinutesAfterRunForChatPushNotifications]  DEFAULT ((240)) FOR [NotificationMinutesAfterRunForChatPushNotifications]
GO
ALTER TABLE [HC].[Kennel] ADD  CONSTRAINT [DF_Kennel_NotificationMinutesBeforeRunForRsvpReminder]  DEFAULT ((4320)) FOR [NotificationMinutesBeforeRunForRsvpReminder]
GO
ALTER TABLE [HC].[Kennel]  WITH CHECK ADD  CONSTRAINT [FK_Kennel_City] FOREIGN KEY([CityId])
REFERENCES [HC].[City] ([id])
GO
ALTER TABLE [HC].[Kennel] CHECK CONSTRAINT [FK_Kennel_City]
GO
ALTER TABLE [HC].[Kennel]  WITH CHECK ADD  CONSTRAINT [FK_Kennel_Country] FOREIGN KEY([CountryId])
REFERENCES [HC].[Country] ([id])
GO
ALTER TABLE [HC].[Kennel] CHECK CONSTRAINT [FK_Kennel_Country]
GO
ALTER TABLE [HC].[Kennel]  WITH CHECK ADD  CONSTRAINT [FK_Kennel_Integration] FOREIGN KEY([InboundIntegrationId])
REFERENCES [HC].[Integration] ([IntegrationId])
GO
ALTER TABLE [HC].[Kennel] CHECK CONSTRAINT [FK_Kennel_Integration]
GO
ALTER TABLE [HC].[Kennel]  WITH CHECK ADD  CONSTRAINT [FK_Kennel_KennelStatusEnum] FOREIGN KEY([KennelStatus])
REFERENCES [DomainValues].[KennelStatusEnum] ([KennelStatusEnumId])
GO
ALTER TABLE [HC].[Kennel] CHECK CONSTRAINT [FK_Kennel_KennelStatusEnum]
GO
ALTER TABLE [HC].[Kennel]  WITH CHECK ADD  CONSTRAINT [FK_Kennel_Region] FOREIGN KEY([ProvinceStateId])
REFERENCES [HC].[Region] ([id])
GO
ALTER TABLE [HC].[Kennel] CHECK CONSTRAINT [FK_Kennel_Region]
GO
/****** Object:  Trigger [HC].[GenerateExtApiKey]    Script Date: 3/8/2026 12:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[GenerateExtApiKey]
ON [HC].[Kennel] AFTER INSERT
AS
BEGIN

DECLARE @id uniqueidentifier

DECLARE xCrsr CURSOR FOR
SELECT ID FROM INSERTED

OPEN xCrsr

FETCH NEXT from xCrsr INTO @id
  
WHILE @@FETCH_STATUS = 0
	BEGIN

	DECLARE	@BinaryData varbinary(max) = crypt_gen_random (150) 
	DECLARE @randText nvarchar(1000)
	SELECT @randText = LEFT(REPLACE(REPLACE(cast('' as xml).value('xs:base64Binary(sql:variable("@BinaryData"))', 'varchar(max)'),'+',''),'/',''),75)
	  UPDATE   HC.Kennel
	  SET      ExtApiKey = @randText
		WHERE id = @id

		FETCH NEXT from xCrsr INTO @id
	END

CLOSE xCrsr
DEALLOCATE xCrsr

END
GO
ALTER TABLE [HC].[Kennel] ENABLE TRIGGER [GenerateExtApiKey]
GO
/****** Object:  Trigger [HC].[trgConfigureFacebookToken]    Script Date: 3/8/2026 12:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgConfigureFacebookToken]
   ON  [HC].[Kennel]
   AFTER INSERT,UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF (UPDATE(KennelFacebookTokenUsername) OR UPDATE(KennelFacebookToken))
	BEGIN

		declare @kennelId uniqueidentifier,
				@kennelFacebookUsername nvarchar(250),
				@kennelFacebookToken nvarchar(1000),
				@kennelFacebookTokenLastUpdated datetimeoffset(7)


		declare xCrsr CURSOR FOR
			select id,KennelFacebookTokenUsername 
			from INSERTED 

		OPEN xCrsr

		FETCH NEXT FROM xCrsr into @kennelId,@kennelFacebookUsername

		WHILE @@Fetch_status = 0
		BEGIN
			IF (@kennelFacebookUsername IS NULL)
				--SET NOCOUNT ON
				-- If the token username has been removed altogether, set the integration type to "none" and null out the other fields.
				BEGIN
					UPDATE HC.Kennel set 
						 KennelFacebookToken = null
						,KennelFacebookTokenLastUpdated = null
						--,IntegrationType = 'None' 
					FROM HC.Kennel k where k.id = @kennelId
				END
			ELSE
				BEGIN
					-- the facebook token for a user can be stored either in HC.Hasher (if they logged in to the mobile app)
					-- or in dbo.Users if they logged in using Facebook using the website. Check HC.Hasher first
					-- and then dbo.Users to see if there is a valid Facebook token for this user.
					SELECT @kennelFacebookToken = FacebookAccessToken,
						   @kennelFacebookTokenLastUpdated = FacebookAccessTokenLastUpdated 
					FROM HC.Hasher 
					--where Email = @kennelFacebookUsername OR ThirdPartyEmail = @kennelFacebookUsername
					where ThirdPartyEmail = @kennelFacebookUsername
					and FacebookAccessToken is not null

					if (@kennelFacebookToken is null)
					BEGIN
						SELECT @kennelFacebookToken = AuthToken, @kennelFacebookTokenLastUpdated = AuthTokenLastUpdated FROM dbo.Users where Username = @kennelFacebookUsername and AuthTokenType = 'FACEBOOK'
					END

					-- if we found a valid auth token, copy it to HC.Kennel
					IF (@kennelFacebookToken is not null)
						BEGIN
							UPDATE HC.Kennel set KennelFacebookToken = @kennelFacebookToken, KennelFacebookTokenLastUpdated = @kennelFacebookTokenLastUpdated 
							FROM HC.Kennel k where k.id = @kennelId
						END
					ELSE
						-- if the user was not configured with an auth token, null out the fields and set the integration type to 'none'
						BEGIN
							UPDATE HC.Kennel 
								set 
									KennelFacebookToken = null
									,KennelFacebookTokenLastUpdated = null
									--IntegrationType = 'None' 
							FROM HC.Kennel k where k.id = @kennelId
						END
				END
			

			FETCH NEXT FROM xCrsr into @kennelId,@kennelFacebookUsername
		END

		CLOSE xCrsr
		DEALLOCATE xCrsr
	END

END
GO
ALTER TABLE [HC].[Kennel] ENABLE TRIGGER [trgConfigureFacebookToken]
GO
/****** Object:  Trigger [HC].[trgForceFbRefresh]    Script Date: 3/8/2026 12:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgForceFbRefresh]
   ON  [HC].[Kennel]
   AFTER INSERT,UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF 
	     UPDATE(KennelFacebookTokenUsername) 
	  OR UPDATE(KennelFacebookToken)
	  OR UPDATE ([InboundIntegrationId])
      OR UPDATE ([IntegrationType])
      OR UPDATE ([IntegrationImportDaysInPast])
      OR UPDATE ([IntegrationImportDaysInFuture])
      OR UPDATE ([IntegrationAutoImportEvents])
      OR UPDATE ([IntegrationImportOnlyTaggedEvents])
      OR UPDATE ([IntegrationTagForImport])
      OR UPDATE ([KennelFacebookId])
      OR UPDATE ([KennelFacebookToken])
      OR UPDATE ([KennelFacebookTokenUserId])
      OR UPDATE ([KennelFacebookTokenUsername])
      OR UPDATE ([KennelFacebookTokenLastUpdated])

	BEGIN

		UPDATE k set IntegrationForceUpdatesUntil = dateadd(minute,intg.Interval * 4,getdate())
		FROM HC.Kennel k 
		INNER JOIN inserted i on k.id = i.id
		INNER JOIN HC.Integration intg on intg.IntegrationId = i.InboundIntegrationId
		
	END

END
GO
ALTER TABLE [HC].[Kennel] ENABLE TRIGGER [trgForceFbRefresh]
GO
/****** Object:  Trigger [HC].[trgForceIntegrationRefresh]    Script Date: 3/8/2026 12:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgForceIntegrationRefresh]
   ON  [HC].[Kennel]
   AFTER INSERT,UPDATE
AS 
BEGIN

	SET NOCOUNT ON;

	-- If any changes are made to integration parameters, 
	-- reset the ForceUpdateUntil parameter to ensure that
	-- updates from external sources are not skipped

	IF 
	     UPDATE(KennelFacebookTokenUsername) 
	  OR UPDATE(KennelFacebookToken)
	  OR UPDATE ([InboundIntegrationId])
      OR UPDATE ([IntegrationType])
      OR UPDATE ([IntegrationImportDaysInPast])
      OR UPDATE ([IntegrationImportDaysInFuture])
      OR UPDATE ([IntegrationAutoImportEvents])
      OR UPDATE ([IntegrationImportOnlyTaggedEvents])
      OR UPDATE ([IntegrationTagForImport])
      OR UPDATE ([KennelFacebookId])
      OR UPDATE ([KennelFacebookToken])
      OR UPDATE ([KennelFacebookTokenUserId])
      OR UPDATE ([KennelFacebookTokenUsername])
      OR UPDATE ([KennelFacebookTokenLastUpdated])

	BEGIN

		UPDATE k set IntegrationForceUpdatesUntil = dateadd(minute,intg.Interval * 4,getdate())
		FROM HC.Kennel k 
		INNER JOIN inserted i on k.id = i.id
		INNER JOIN HC.Integration intg on intg.IntegrationId = i.InboundIntegrationId
		
	END

END
GO
ALTER TABLE [HC].[Kennel] ENABLE TRIGGER [trgForceIntegrationRefresh]
GO
/****** Object:  Trigger [HC].[trgUpdateKennelGeolocation]    Script Date: 3/8/2026 12:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgUpdateKennelGeolocation]
   ON  [HC].[Kennel]
   AFTER INSERT,UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF UPDATE(CityId) OR UPDATE(Latitude) OR UPDATE(Longitude)
	BEGIN

		declare @kennelId uniqueidentifier,
				@cityId uniqueidentifier,
				@regionId uniqueidentifier,
				@countryId uniqueidentifier,
				@oldCityId uniqueidentifier,
				@oldRegionId uniqueidentifier,
				@oldCountryId uniqueidentifier,
				@latitude decimal(12,9),
				@longitude decimal (13,9)

		declare xCrsr CURSOR FOR
			select id,CityId,ProvinceStateId,CountryId,Latitude,Longitude from INSERTED where ((CityId is not null) OR (Latitude is not null AND Longitude is not null))

		OPEN xCrsr

		FETCH NEXT FROM xCrsr into @kennelId,@cityId,@regionId,@countryId,@latitude,@longitude

		WHILE @@Fetch_status = 0
		BEGIN
			IF (@latitude is not null and @longitude is not null)
				BEGIN
					UPDATE HC.Kennel SET KennelGeolocation = geography::Point(@latitude,@longitude,4326) WHERE id = @kennelId
				END
			ELSE
				IF (@cityId is not null)
					BEGIN
						UPDATE HC.Kennel SET KennelGeolocation = city.CityGeolocation FROM HC.Kennel k,
						HC.City city where city.id = @cityId and k.id = @kennelId
					END
				ELSE
					UPDATE HC.Kennel SET KennelGeolocation = null WHERE id = @kennelId

			-- we want to force city,region and country to replicate after any changes to Kennels
			-- to ensure that the records are replicated to mobile devices
			SELECT @oldCityId = CityId, @oldRegionId = ProvinceStateId, @oldCountryId = CountryId FROM DELETED WHERE id = @kennelId
			
			IF (@oldCityId IS NULL OR @cityId != @oldCityId) UPDATE HC.City SET updatedAt = getdate() where id = @cityId
			IF (@oldRegionId IS NULL OR @regionId != @oldRegionId) UPDATE HC.Region SET updatedAt = getdate() where id = @regionId
			IF (@oldCountryId IS NULL OR @countryId != @oldCountryId) UPDATE HC.Country SET updatedAt = getdate() where id = @countryId

			FETCH NEXT FROM xCrsr into @kennelId,@cityId,@regionId,@countryId,@latitude,@longitude
		END

		CLOSE xCrsr
		DEALLOCATE xCrsr
	END

END
GO
ALTER TABLE [HC].[Kennel] ENABLE TRIGGER [trgUpdateKennelGeolocation]
GO
/****** Object:  Trigger [HC].[trgUpdateModifiedOnDateForKennels]    Script Date: 3/8/2026 12:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgUpdateModifiedOnDateForKennels]
   ON  [HC].[Kennel]
   AFTER INSERT, UPDATE
AS 
BEGIN

	SET NOCOUNT ON;

	IF ((NOT UPDATE(updatedAt)) AND (NOT UPDATE(IntegrationLastExecuted)) AND (NOT UPDATE(IntegrationLastShameEmailSent)))
	BEGIN
		UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,SYSDATETIME()) 
		FROM HC.Kennel tbl
		INNER JOIN INSERTED ins on tbl.id = ins.id
	END

	IF UPDATE(updatedAt)
	BEGIN
		UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,CAST(ins.updatedAt as datetime2)) 
		FROM HC.Kennel tbl
		INNER JOIN INSERTED ins on tbl.id = ins.id
	END

	---- if the run attendence is changed at the Kennel level
	---- make sure we update all Events for the Kennel where
	---- the CanEditRunAttendence is null so that they are
	---- propagated to the mobile devices
	--IF UPDATE(CanEditRunAttendence)
	--BEGIN
	--	UPDATE HC.Event Set updatedAt = GETDATE() FROM HC.Event 
	--		WHERE KennelId in (SELECT id from INSERTED) 
	--		AND CanEditRunAttendence is null
	--	SET NOCOUNT ON
	--END

END
GO
ALTER TABLE [HC].[Kennel] ENABLE TRIGGER [trgUpdateModifiedOnDateForKennels]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [IX_KennelSpatialIndex]    Script Date: 3/8/2026 12:42:55 PM ******/
CREATE SPATIAL INDEX [IX_KennelSpatialIndex] ON [HC].[Kennel]
(
	[KennelGeolocation]
)USING  GEOGRAPHY_AUTO_GRID 
WITH (
CELLS_PER_OBJECT = 12, STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80) ON [PRIMARY]
GO
