/****** Object:  Table [HC].[KennelSongMap]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[KennelSongMap](
	[id] [uniqueidentifier] NOT NULL,
	[KennelId] [uniqueidentifier] NOT NULL,
	[SongId] [uniqueidentifier] NOT NULL,
	[Removed] [smallint] NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[updatedAtBias] [int] NOT NULL,
	[createdAt] [datetimeoffset](7) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [HC].[KennelSongMap] ADD  CONSTRAINT [DF_KennelSongMap_Removed]  DEFAULT ((0)) FOR [Removed]
GO
ALTER TABLE [HC].[KennelSongMap] ADD  CONSTRAINT [DF_KennelSongMap_updatedAt]  DEFAULT (CONVERT([datetimeoffset](7),sysutcdatetime(),(0))) FOR [updatedAt]
GO
ALTER TABLE [HC].[KennelSongMap] ADD  CONSTRAINT [DF_KennelSongMap_updatedAtBias]  DEFAULT (CONVERT([int],abs((CONVERT([bigint],CONVERT([varbinary](8),newid(),(1)))/(40020.2323))%(999999)))) FOR [updatedAtBias]
GO
ALTER TABLE [HC].[KennelSongMap] ADD  CONSTRAINT [DF_KennelSongMap_createdAt]  DEFAULT (CONVERT([datetimeoffset](7),sysutcdatetime(),(0))) FOR [createdAt]
GO
