/****** Object:  Table [HC].[LoginNotifications]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[LoginNotifications](
	[id] [uniqueidentifier] NOT NULL,
	[ServerStatusCode] [smallint] NOT NULL,
	[LoginMessageTitle] [nvarchar](120) NOT NULL,
	[LoginMessage] [nvarchar](500) NOT NULL,
	[MessageWindowOpens] [datetimeoffset](7) NOT NULL,
	[MessageWindowCloses] [datetimeoffset](7) NOT NULL,
	[MessageDisplayType] [smallint] NOT NULL,
	[MessageImageUrl] [nvarchar](500) NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_ServerMaintenanceWindow] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [HC].[LoginNotifications] ADD  CONSTRAINT [DF_ServerMaintenanceWindow_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[LoginNotifications] ADD  CONSTRAINT [DF_ServerMaintenanceWindow_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
