/****** Object:  Table [HC].[PortalAccess]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[PortalAccess](
	[idx] [int] IDENTITY(1,1) NOT NULL,
	[hasherId] [uniqueidentifier] NOT NULL,
	[accessDate] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_PortalAccess] PRIMARY KEY CLUSTERED 
(
	[idx] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [HC].[PortalAccess] ADD  CONSTRAINT [DF_PortalAccess_accessDate]  DEFAULT (getdate()) FOR [accessDate]
GO
