/****** Object:  Table [HC].[Receipt]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[Receipt](
	[id] [uniqueidentifier] NOT NULL,
	[EventId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ReceiptAmount] [decimal](12, 4) NOT NULL,
	[CostCategory] [smallint] NOT NULL,
	[DateUploaded] [datetimeoffset](7) NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[ReceiptShortDesc] [nvarchar](255) NULL,
	[Notes] [nvarchar](1000) NULL,
	[ReimbursedBy] [uniqueidentifier] NULL,
	[ReimbursedOn] [datetimeoffset](7) NULL,
	[ReimbursedAmount] [decimal](12, 4) NULL,
	[ReimbursedNotes] [nvarchar](1000) NULL,
	[removed] [smallint] NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[updatedAtBias] [int] NOT NULL,
 CONSTRAINT [PK_Receipt] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [HC].[Receipt] ADD  CONSTRAINT [DF_Receipt_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[Receipt] ADD  CONSTRAINT [DF_Receipt_CostCategory]  DEFAULT ((0)) FOR [CostCategory]
GO
ALTER TABLE [HC].[Receipt] ADD  CONSTRAINT [DF_Receipt_DateUploaded]  DEFAULT (getdate()) FOR [DateUploaded]
GO
ALTER TABLE [HC].[Receipt] ADD  CONSTRAINT [DF_Receipt_removed]  DEFAULT ((0)) FOR [removed]
GO
ALTER TABLE [HC].[Receipt] ADD  CONSTRAINT [DF_Receipt_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [HC].[Receipt] ADD  CONSTRAINT [DF_Receipt_updatedAtBias]  DEFAULT (CONVERT([int],abs((CONVERT([bigint],CONVERT([varbinary](8),newid(),(1)))/(40020.2323))%(999999)))) FOR [updatedAtBias]
GO
ALTER TABLE [HC].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Event] FOREIGN KEY([EventId])
REFERENCES [HC].[Event] ([id])
GO
ALTER TABLE [HC].[Receipt] CHECK CONSTRAINT [FK_Receipt_Event]
GO
ALTER TABLE [HC].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Hasher] FOREIGN KEY([UserId])
REFERENCES [HC].[Hasher] ([id])
GO
ALTER TABLE [HC].[Receipt] CHECK CONSTRAINT [FK_Receipt_Hasher]
GO
ALTER TABLE [HC].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Hasher1] FOREIGN KEY([ReimbursedBy])
REFERENCES [HC].[Hasher] ([id])
GO
ALTER TABLE [HC].[Receipt] CHECK CONSTRAINT [FK_Receipt_Hasher1]
GO
/****** Object:  Trigger [HC].[trgUpdateModifiedOnDateForReceipt]    Script Date: 3/8/2026 12:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgUpdateModifiedOnDateForReceipt]
   ON  [HC].[Receipt]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prHasher extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF NOT UPDATE(updatedAt)
		BEGIN
			UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,SYSDATETIME()) 
			FROM HC.Receipt tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
		END
	ELSE
		BEGIN
			UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,CAST(ins.updatedAt as datetime2)) 
			FROM HC.Receipt tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
		END
END
GO
ALTER TABLE [HC].[Receipt] ENABLE TRIGGER [trgUpdateModifiedOnDateForReceipt]
GO
