/****** Object:  Table [HC].[SplashSequence]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[SplashSequence](
	[id] [uniqueidentifier] NOT NULL,
	[SplashSequenceRootName] [nvarchar](100) NOT NULL,
	[ValidFromDate] [datetimeoffset](7) NOT NULL,
	[ValidUntilDate] [datetimeoffset](7) NOT NULL,
	[SequenceType] [int] NOT NULL,
	[SequenceOrder] [int] NOT NULL,
	[SequenceTypeDesc]  AS (case when [SequenceType]=(100) then 'Urgent Announcement' when [SequenceType]=(200) then 'Kennel Promo' when [SequenceType]=(300) then 'Training' else 'Not defined' end) PERSISTED NOT NULL,
	[KennelId] [uniqueidentifier] NULL,
	[EventId] [uniqueidentifier] NULL,
	[Removed] [smallint] NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[updatedAtBias] [int] NOT NULL,
 CONSTRAINT [PK_SplashSequence] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_SplashSequenceRootNameUnique] UNIQUE NONCLUSTERED 
(
	[SplashSequenceRootName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [HC].[SplashSequence] ADD  CONSTRAINT [DF_SplashSequence_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[SplashSequence] ADD  CONSTRAINT [DF_SplashSequence_ValidFromDate]  DEFAULT ('2024-01-01 00:00:00.0000000 +00:00') FOR [ValidFromDate]
GO
ALTER TABLE [HC].[SplashSequence] ADD  CONSTRAINT [DF_SplashSequence_ValidUntilDate]  DEFAULT ('2040-01-01 00:00:00.0000000 +00:00') FOR [ValidUntilDate]
GO
ALTER TABLE [HC].[SplashSequence] ADD  CONSTRAINT [DF_SplashSequence_SequenceType]  DEFAULT ((0)) FOR [SequenceType]
GO
ALTER TABLE [HC].[SplashSequence] ADD  CONSTRAINT [DF_SplashSequence_SequenceOrder]  DEFAULT ((0)) FOR [SequenceOrder]
GO
ALTER TABLE [HC].[SplashSequence] ADD  CONSTRAINT [DF_SplashSequence_Removed]  DEFAULT ((0)) FOR [Removed]
GO
ALTER TABLE [HC].[SplashSequence] ADD  CONSTRAINT [DF_SplashSequence_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [HC].[SplashSequence] ADD  CONSTRAINT [DF_SplashSequence_updatedAtBias]  DEFAULT (CONVERT([int],abs((CONVERT([bigint],CONVERT([varbinary](8),newid(),(1)))/(40020.2323))%(999999)))) FOR [updatedAtBias]
GO
