/****** Object:  Table [HC].[WebPortalAuthenticationRequests]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[WebPortalAuthenticationRequests](
	[id] [uniqueidentifier] NOT NULL,
	[hasherId] [uniqueidentifier] NOT NULL,
	[scanData] [nvarchar](100) NOT NULL,
	[Removed] [smallint] NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_WebPortalAuthenticationRequests] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [HC].[WebPortalAuthenticationRequests] ADD  CONSTRAINT [DF_WebAuthReq_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[WebPortalAuthenticationRequests] ADD  CONSTRAINT [DF_WebAuthReq_Removed]  DEFAULT ((0)) FOR [Removed]
GO
ALTER TABLE [HC].[WebPortalAuthenticationRequests] ADD  CONSTRAINT [DF_WebAuthReq_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [HC].[WebPortalAuthenticationRequests]  WITH CHECK ADD  CONSTRAINT [FK_WebPortalAuthenticationRequests_Hasher] FOREIGN KEY([hasherId])
REFERENCES [HC].[Hasher] ([id])
GO
ALTER TABLE [HC].[WebPortalAuthenticationRequests] CHECK CONSTRAINT [FK_WebPortalAuthenticationRequests_Hasher]
GO
