/****** Object:  Table [DomainValues].[TimeZoneMap]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DomainValues].[TimeZoneMap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[WindowsTimeZone] [nvarchar](4000) NOT NULL,
	[territory] [nvarchar](10) NOT NULL,
	[IANATimeZone] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
