/****** Object:  Table [DomainValues].[CurrencyCodes]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DomainValues].[CurrencyCodes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nation] [nvarchar](500) NOT NULL,
	[CurrencyName] [nvarchar](100) NOT NULL,
	[CurrencyCode] [nvarchar](50) NOT NULL,
	[CurrencyNumericCode] [nvarchar](50) NOT NULL,
	[DigitsAfterDecimal] [int] NOT NULL,
	[CultureCode] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
