/****** Object:  Table [DomainValues].[BitFlagEnums]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DomainValues].[BitFlagEnums](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[EnumGroupId] [int] NOT NULL,
	[EnumTextValue] [nvarchar](100) NOT NULL,
	[EnumNumericValue] [int] NOT NULL,
	[HumanReadableText] [nvarchar](100) NULL
) ON [PRIMARY]
GO
