/****** Object:  Table [DomainValues].[Timezone]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DomainValues].[Timezone](
	[id] [int] IDENTITY(10,10) NOT NULL,
	[FullTimezone] [nvarchar](303) NOT NULL,
	[Timezone] [nvarchar](300) NOT NULL,
	[SubTimezone] [nvarchar](150) NOT NULL,
	[IanaTimeZone] [nvarchar](300) NULL,
 CONSTRAINT [PK_Timezone] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Timezone]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE CLUSTERED INDEX [IX_Timezone] ON [DomainValues].[Timezone]
(
	[FullTimezone] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
