/****** Object:  Table [DomainValues].[MisManagementRoles]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DomainValues].[MisManagementRoles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[RoleShortName] [nvarchar](50) NOT NULL,
	[BitFlags] [int] NOT NULL,
	[BitMask] [nchar](10) NOT NULL,
	[PropertyName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MisManagementRoles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
