/****** Object:  Table [HC].[AppError]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[AppError](
	[id] [uniqueidentifier] NOT NULL,
	[DeviceId] [uniqueidentifier] NOT NULL,
	[HttpBody] [nvarchar](max) NULL,
	[ErrorText] [nvarchar](1000) NOT NULL,
	[ExtraData] [nvarchar](max) NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK_AppError] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [HC].[AppError] ADD  CONSTRAINT [DF_AppError_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[AppError] ADD  CONSTRAINT [DF_AppError_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
