/****** Object:  Table [HC].[Country]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[Country](
	[id] [uniqueidentifier] NOT NULL,
	[CountryCode] [nvarchar](5) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[CountryName] [nvarchar](250) NOT NULL,
	[ContinentCode] [nvarchar](5) NOT NULL,
	[ContinentName] [nvarchar](100) NOT NULL,
	[FlagFile] [nvarchar](100) NULL,
	[CurrencyCode] [nvarchar](5) NOT NULL,
	[PrimaryCultureCode] [nvarchar](10) NOT NULL,
	[ShowRegion] [smallint] NOT NULL,
	[CurrencySymbol] [nvarchar](5) NOT NULL,
	[DigitsAfterDecimal] [smallint] NOT NULL,
	[DistancePreference] [smallint] NOT NULL,
	[NeighboringCountries] [nvarchar](50) NOT NULL,
	[CountrySearchTags] [nvarchar](4000) NULL,
	[Removed] [smallint] NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[updatedAtBias] [int] NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AllSyncCountries]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_AllSyncCountries] ON [HC].[Country]
(
	[updatedAt] ASC,
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CountryCode]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_CountryCode] ON [HC].[Country]
(
	[CountryCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CountryName]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_CountryName] ON [HC].[Country]
(
	[ContinentName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [HC].[Country] ADD  CONSTRAINT [DF_Country_CountryId]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[Country] ADD  CONSTRAINT [DF_Country_PrimaryCultureCode]  DEFAULT (N'en-US') FOR [PrimaryCultureCode]
GO
ALTER TABLE [HC].[Country] ADD  CONSTRAINT [DF_Country_ShowRegion]  DEFAULT ((0)) FOR [ShowRegion]
GO
ALTER TABLE [HC].[Country] ADD  CONSTRAINT [DF_Country_CurrencySymbol]  DEFAULT (' ') FOR [CurrencySymbol]
GO
ALTER TABLE [HC].[Country] ADD  CONSTRAINT [DF_Country_DigitsAfterDecimal]  DEFAULT ((2)) FOR [DigitsAfterDecimal]
GO
ALTER TABLE [HC].[Country] ADD  CONSTRAINT [DF_Country_DistancePreference]  DEFAULT ((0)) FOR [DistancePreference]
GO
ALTER TABLE [HC].[Country] ADD  CONSTRAINT [DF_Country_NeighboringCountries]  DEFAULT ('') FOR [NeighboringCountries]
GO
ALTER TABLE [HC].[Country] ADD  CONSTRAINT [DF_Country_Removed]  DEFAULT ((0)) FOR [Removed]
GO
ALTER TABLE [HC].[Country] ADD  CONSTRAINT [DF_Country_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [HC].[Country] ADD  CONSTRAINT [DF_Country_updatedAtBias]  DEFAULT (CONVERT([int],abs((CONVERT([bigint],CONVERT([varbinary](8),newid(),(1)))/(40020.2323))%(999999)))) FOR [updatedAtBias]
GO
/****** Object:  Trigger [HC].[trgUpdateModifiedOnDateForCountry]    Script Date: 3/8/2026 12:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgUpdateModifiedOnDateForCountry]
   ON  [HC].[Country]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prHasher extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF NOT UPDATE(updatedAt)
		BEGIN
			UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,SYSDATETIME()) 
			FROM HC.Country tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
		END
	ELSE
		BEGIN
			UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,CAST(ins.updatedAt as datetime2)) 
			FROM HC.Country tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
		END

END

GO
ALTER TABLE [HC].[Country] ENABLE TRIGGER [trgUpdateModifiedOnDateForCountry]
GO
