/****** Object:  Table [HC].[City]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[City](
	[id] [uniqueidentifier] NOT NULL,
	[CityName] [nvarchar](100) NOT NULL,
	[CityCountryName] [nvarchar](250) NULL,
	[CityFullName] [nvarchar](350) NULL,
	[ShowRegion] [smallint] NOT NULL,
	[RegionId] [uniqueidentifier] NOT NULL,
	[Latitude] [numeric](12, 9) NOT NULL,
	[Longitude] [numeric](13, 9) NOT NULL,
	[City_ASCII] [nvarchar](100) NULL,
	[CityGeolocation] [geography] NOT NULL,
	[FlagFile] [nvarchar](100) NULL,
	[TimezoneId] [int] NOT NULL,
	[CitySearchTags] [nvarchar](4000) NULL,
	[Removed] [smallint] NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[updatedAtBias] [int] NOT NULL,
 CONSTRAINT [PK_City2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_AllSyncCities]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_AllSyncCities] ON [HC].[City]
(
	[updatedAt] ASC,
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CityName]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_CityName] ON [HC].[City]
(
	[CityName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [HC].[City] ADD  CONSTRAINT [DF_City_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[City] ADD  CONSTRAINT [DF_City_UseCityFullName]  DEFAULT ((0)) FOR [ShowRegion]
GO
ALTER TABLE [HC].[City] ADD  CONSTRAINT [DF_City_Removed]  DEFAULT ((0)) FOR [Removed]
GO
ALTER TABLE [HC].[City] ADD  CONSTRAINT [DF_City_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [HC].[City] ADD  CONSTRAINT [DF_City_updatedAtBias]  DEFAULT (CONVERT([int],abs((CONVERT([bigint],CONVERT([varbinary](8),newid(),(1)))/(40020.2323))%(999999)))) FOR [updatedAtBias]
GO
ALTER TABLE [HC].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Region] FOREIGN KEY([RegionId])
REFERENCES [HC].[Region] ([id])
GO
ALTER TABLE [HC].[City] CHECK CONSTRAINT [FK_City_Region]
GO
ALTER TABLE [HC].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Timezone] FOREIGN KEY([TimezoneId])
REFERENCES [DomainValues].[Timezone] ([id])
GO
ALTER TABLE [HC].[City] CHECK CONSTRAINT [FK_City_Timezone]
GO
/****** Object:  Trigger [HC].[trgUpdateCityNames]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgUpdateCityNames]
   ON  [HC].[City]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prHasher extra result sets from
	-- interfering with SELECT statements.
SET NOCOUNT ON;

	IF UPDATE(CityName) 
	BEGIN

		UPDATE c SET cityFullName = ins.CityName + ', ' + r.RegionName + ', ' + n.CountryName,
			CityCountryName = ins.CityName + ', ' + n.CountryName 
			FROM HC.City c
			INNER JOIN inserted ins on c.id = ins.id
			inner join HC.Region r on ins.RegionId = r.id
			inner join HC.Country n on r.CountryId = n.id	
	END

END
GO
ALTER TABLE [HC].[City] ENABLE TRIGGER [trgUpdateCityNames]
GO
/****** Object:  Trigger [HC].[trgUpdateGeolocation]    Script Date: 3/8/2026 12:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgUpdateGeolocation]
   ON  [HC].[City]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prHasher extra result sets from
	-- interfering with SELECT statements.
SET NOCOUNT ON;

	IF UPDATE(Latitude) OR UPDATE(Longitude)
	BEGIN

		declare @cityId uniqueidentifier
		declare @latitude decimal(12,9)
		declare @longitude decimal (13,9)

		declare xCrsr CURSOR FOR
			select id,Latitude,Longitude from INSERTED where ((Latitude is not null AND Longitude is not null))

		OPEN xCrsr

		FETCH NEXT FROM xCrsr into @cityId,@latitude,@longitude

		WHILE @@Fetch_status = 0
		BEGIN
			IF (@latitude is not null and @longitude is not null)
				BEGIN
					UPDATE HC.City SET CityGeolocation = geography::Point(@latitude,@longitude,4326) WHERE id = @cityId
				END
			FETCH NEXT FROM xCrsr into @cityId,@latitude,@longitude
		END

		CLOSE xCrsr
		DEALLOCATE xCrsr
	END

END
GO
ALTER TABLE [HC].[City] ENABLE TRIGGER [trgUpdateGeolocation]
GO
/****** Object:  Trigger [HC].[trgUpdateModifiedOnDateForCity]    Script Date: 3/8/2026 12:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgUpdateModifiedOnDateForCity]
   ON  [HC].[City]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prHasher extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF NOT UPDATE(updatedAt)
		BEGIN
			UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,SYSDATETIME()) 
			FROM HC.City tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
		END
	ELSE
		BEGIN
			UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,CAST(ins.updatedAt as datetime2)) 
			FROM HC.City tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
		END
END
GO
ALTER TABLE [HC].[City] ENABLE TRIGGER [trgUpdateModifiedOnDateForCity]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [IX_City_SpatialLocation]    Script Date: 3/8/2026 12:42:55 PM ******/
CREATE SPATIAL INDEX [IX_City_SpatialLocation] ON [HC].[City]
(
	[CityGeolocation]
)USING  GEOGRAPHY_AUTO_GRID 
WITH (
CELLS_PER_OBJECT = 12, STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80) ON [PRIMARY]
GO
