/****** Object:  Table [HC].[EmailTemplate]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[EmailTemplate](
	[id] [uniqueidentifier] NOT NULL,
	[KennelId] [uniqueidentifier] NOT NULL,
	[EventId] [uniqueidentifier] NULL,
	[Description] [nvarchar](250) NOT NULL,
	[Subject] [nvarchar](250) NOT NULL,
	[Template] [nvarchar](max) NOT NULL,
	[EmailTypeFlag] [int] NOT NULL,
	[HoursBeforeRun] [smallint] NOT NULL,
	[DaysBeforeRun] [smallint] NOT NULL,
	[SendToAll] [smallint] NOT NULL,
	[SendToMembers] [smallint] NOT NULL,
	[SendToMismanagement] [smallint] NOT NULL,
	[SendToFollowers] [smallint] NOT NULL,
	[SendToVisitors] [smallint] NOT NULL,
	[ReplyToEmailAddress] [nvarchar](250) NOT NULL,
	[SenderName] [nvarchar](250) NOT NULL,
	[SendWhenHareAssigned] [smallint] NOT NULL,
 CONSTRAINT [PK_EmailTemplate] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [HC].[EmailTemplate] ADD  CONSTRAINT [DF_EmailTemplate_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[EmailTemplate] ADD  CONSTRAINT [DF_EmailTemplate_Description]  DEFAULT ('Email template') FOR [Description]
GO
ALTER TABLE [HC].[EmailTemplate] ADD  CONSTRAINT [DF_EmailTemplate_EmailTypeFlag]  DEFAULT ((1)) FOR [EmailTypeFlag]
GO
ALTER TABLE [HC].[EmailTemplate] ADD  CONSTRAINT [DF_EmailTemplate_HoursBeforeRun]  DEFAULT ((12)) FOR [HoursBeforeRun]
GO
ALTER TABLE [HC].[EmailTemplate] ADD  CONSTRAINT [DF_EmailTemplate_DaysBeforeRun]  DEFAULT ((3)) FOR [DaysBeforeRun]
GO
ALTER TABLE [HC].[EmailTemplate] ADD  CONSTRAINT [DF_EmailTemplate_SendToAll]  DEFAULT ((1)) FOR [SendToAll]
GO
ALTER TABLE [HC].[EmailTemplate] ADD  CONSTRAINT [DF_Table_1_SendToMembersOnly]  DEFAULT ((0)) FOR [SendToMembers]
GO
ALTER TABLE [HC].[EmailTemplate] ADD  CONSTRAINT [DF_EmailTemplate_SendToMismanagement]  DEFAULT ((0)) FOR [SendToMismanagement]
GO
ALTER TABLE [HC].[EmailTemplate] ADD  CONSTRAINT [DF_EmailTemplate_SendToFollowers]  DEFAULT ((0)) FOR [SendToFollowers]
GO
ALTER TABLE [HC].[EmailTemplate] ADD  CONSTRAINT [DF_EmailTemplate_SendToVisitors]  DEFAULT ((0)) FOR [SendToVisitors]
GO
ALTER TABLE [HC].[EmailTemplate] ADD  CONSTRAINT [DF_EmailTemplate_ReplyToEmailAddress]  DEFAULT ('noreply@harriercentral.com') FOR [ReplyToEmailAddress]
GO
ALTER TABLE [HC].[EmailTemplate] ADD  CONSTRAINT [DF_EmailTemplate_SenderName]  DEFAULT ('') FOR [SenderName]
GO
ALTER TABLE [HC].[EmailTemplate] ADD  CONSTRAINT [DF_EmailTemplate_SendWhenHareAssigned]  DEFAULT ((0)) FOR [SendWhenHareAssigned]
GO
ALTER TABLE [HC].[EmailTemplate]  WITH CHECK ADD  CONSTRAINT [FK_EmailTemplate_Event] FOREIGN KEY([EventId])
REFERENCES [HC].[Event] ([id])
GO
ALTER TABLE [HC].[EmailTemplate] CHECK CONSTRAINT [FK_EmailTemplate_Event]
GO
ALTER TABLE [HC].[EmailTemplate]  WITH CHECK ADD  CONSTRAINT [FK_EmailTemplate_Kennel] FOREIGN KEY([KennelId])
REFERENCES [HC].[Kennel] ([id])
GO
ALTER TABLE [HC].[EmailTemplate] CHECK CONSTRAINT [FK_EmailTemplate_Kennel]
GO
