/****** Object:  Table [HC].[Event]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[Event](
	[id] [uniqueidentifier] NOT NULL,
	[PublicEventId] [uniqueidentifier] NOT NULL,
	[EventStartDatetimeIndexed] [datetimeoffset](7) NULL,
	[EventStartDatetime] [datetimeoffset](7) NOT NULL,
	[EventEndDatetime] [datetimeoffset](7) NULL,
	[KennelId] [uniqueidentifier] NOT NULL,
	[IsVisible] [smallint] NOT NULL,
	[IsCountedRun] [smallint] NOT NULL,
	[IsPromotedEvent] [smallint] NOT NULL,
	[EventGeographicScope] [smallint] NOT NULL,
	[ThemeRunType] [int] NOT NULL,
	[Tags1] [int] NOT NULL,
	[Tags2] [int] NOT NULL,
	[Tags3] [int] NOT NULL,
	[AbsoluteEventNumber] [smallint] NULL,
	[EventNumber] [smallint] NOT NULL,
	[EventNumberIncrement] [smallint] NOT NULL,
	[DoTrackHashCash] [smallint] NOT NULL,
	[EvtDisseminationAudience] [int] NULL,
	[EvtDisseminateAllowWebLinks] [smallint] NULL,
	[EvtDisseminateHashRunsDotOrg] [smallint] NULL,
	[EventPriceForMembers] [decimal](10, 4) NULL,
	[EventPriceForNonMembers] [decimal](10, 4) NULL,
	[EventPriceForExtras] [decimal](10, 4) NULL,
	[ExtrasDescription] [nvarchar](250) NULL,
	[ExtrasRsvpRequired] [smallint] NOT NULL,
	[EventCurrencyType] [nvarchar](10) NULL,
	[BankScheme] [nvarchar](10) NULL,
	[BankAccountNumber] [nvarchar](50) NULL,
	[BankBic] [nvarchar](50) NULL,
	[BankBeneficiary] [nvarchar](150) NULL,
	[EventPaymentScheme] [nvarchar](10) NULL,
	[EventPaymentUrl] [nvarchar](2000) NULL,
	[EventPaymentUrlExpires] [datetimeoffset](7) NULL,
	[UnconfirmedBankXferCount] [int] NOT NULL,
	[UserEventCounterIncrement] [smallint] NOT NULL,
	[EventName] [nvarchar](250) NOT NULL,
	[EventDescription] [nvarchar](4000) NULL,
	[EventUrl] [nvarchar](500) NULL,
	[InboundIntegrationId] [int] NOT NULL,
	[IntegrationEnabled] [int] NOT NULL,
	[EventImage] [nvarchar](500) NULL,
	[EventImageOffsetX] [smallint] NULL,
	[EventImageOffsetY] [smallint] NULL,
	[LocationOneLineDesc] [nvarchar](250) NULL,
	[LocationCity] [nvarchar](250) NULL,
	[LocationStreet] [nvarchar](250) NULL,
	[LocationPostCode] [nvarchar](250) NULL,
	[LocationSubRegion] [nvarchar](250) NULL,
	[LocationRegion] [nvarchar](250) NULL,
	[LocationCountry] [nvarchar](250) NULL,
	[Latitude] [decimal](18, 15) NULL,
	[Longitude] [decimal](19, 15) NULL,
	[EventGeolocation] [geography] NULL,
	[MinimumParticipantsRequired] [smallint] NULL,
	[MaximumParticipantsAllowed] [smallint] NULL,
	[Organizer_HasherId] [uniqueidentifier] NULL,
	[CanEditRunAttendence] [smallint] NULL,
	[Hares] [nvarchar](2500) NULL,
	[UseFbRunDetails] [smallint] NOT NULL,
	[UseFbLocation] [smallint] NOT NULL,
	[UseFbLatLon] [smallint] NOT NULL,
	[UseFbImage] [smallint] NOT NULL,
	[UpdateDataFromFacebook] [smallint] NOT NULL,
	[EventSource] [nvarchar](50) NOT NULL,
	[EventFacebookId] [nvarchar](250) NULL,
	[FacebookRecordLastUpdated] [datetimeoffset](7) NULL,
	[FbEventName] [nvarchar](250) NULL,
	[FbEventDescription] [nvarchar](4000) NULL,
	[FbEventStartDatetime] [datetimeoffset](7) NULL,
	[FbEventImage] [nvarchar](500) NULL,
	[FbEventImageOffsetX] [smallint] NULL,
	[FbEventImageOffsetY] [smallint] NULL,
	[FbLocationOneLineDesc] [nvarchar](250) NULL,
	[FbLocationCity] [nvarchar](250) NULL,
	[FbLocationStreet] [nvarchar](250) NULL,
	[FbLocationPostCode] [nvarchar](250) NULL,
	[FbLocationSubRegion] [nvarchar](250) NULL,
	[FbLocationRegion] [nvarchar](250) NULL,
	[FbLocationCountry] [nvarchar](250) NULL,
	[FbLatitude] [decimal](18, 15) NULL,
	[FbLongitude] [decimal](19, 15) NULL,
	[FbEventGeoLocation] [geography] NULL,
	[FbEventMapUrl] [nvarchar](500) NULL,
	[FbEventUrl] [nvarchar](500) NULL,
	[PublishToGoogleId] [nvarchar](250) NULL,
	[w3wJson] [nvarchar](1000) NULL,
	[w3wLatitude] [decimal](18, 15) NULL,
	[w3wLongitude] [decimal](19, 15) NULL,
	[removed] [smallint] NOT NULL,
	[deleted] [bit] NOT NULL,
	[lastModified] [datetimeoffset](7) NOT NULL,
	[version] [timestamp] NOT NULL,
	[createdAt] [datetimeoffset](7) NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[updatedAtBias] [int] NOT NULL,
	[SyncLocationCity]  AS (case when [UseFbLocation]=(1) then [FbLocationCity] else [LocationCity] end) PERSISTED,
	[SyncLocationStreet]  AS (case when [UseFbLocation]=(1) then [FbLocationStreet] else [LocationStreet] end) PERSISTED,
	[SyncLocationPostCode]  AS (case when [UseFbLocation]=(1) then [FbLocationPostCode] else [LocationPostCode] end) PERSISTED,
	[SyncLocationSubRegion]  AS (case when [UseFbLocation]=(1) then [FbLocationSubRegion] else [LocationSubRegion] end) PERSISTED,
	[SyncLocationRegion]  AS (case when [UseFbLocation]=(1) then [FbLocationRegion] else [LocationRegion] end) PERSISTED,
	[SyncLocationCountry]  AS (case when [UseFbLocation]=(1) then [FbLocationCountry] else [LocationCountry] end) PERSISTED,
	[SyncLatitude]  AS (case when [UseFbLatLon]=(1) then [FbLatitude] else [Latitude] end) PERSISTED,
	[SyncLongitude]  AS (case when [UseFbLatLon]=(1) then [FbLongitude] else [Longitude] end),
	[SyncDescription]  AS (case when [UseFbRunDetails]=(1) then [FbEventDescription] else [EventDescription] end) PERSISTED,
	[EventLastUpdatedSource] [nvarchar](50) NOT NULL,
	[EventLastUpdatedBy] [uniqueidentifier] NULL,
	[Unused_1] [nvarchar](500) NULL,
	[PublishToGoogleCalendar] [smallint] NULL,
	[PublishToGoogleCalendarAddresses] [nvarchar](1000) NULL,
	[Unused_2] [datetimeoffset](7) NULL,
	[DisseminateOnGlobalGoogleCalendar] [smallint] NULL,
	[GlobalGoogleCalendarLastUpdated] [datetimeoffset](7) NULL,
	[GlobalGoogleCalendarId] [nvarchar](250) NULL,
	[SyncResolvableLocation]  AS (case when datalength([LocationPostCode])>(4) then (((coalesce([LocationStreet]+', ','')+coalesce([LocationCity]+', ',''))+coalesce([LocationPostCode]+', ',''))+coalesce([LocationRegion]+', ',''))+coalesce([LocationCountry],'') when [Latitude] IS NOT NULL AND [Longitude] IS NOT NULL then (CONVERT([nvarchar](20),[Latitude])+', ')+CONVERT([nvarchar](20),[Longitude]) when [LocationOneLineDesc] IS NOT NULL then [LocationOneLineDesc] else 'No location provided' end) PERSISTED,
	[SyncEventStartDatetime]  AS (case when [UseFbRunDetails]=(1) then CONVERT([datetimeoffset],[FbEventStartDatetime]) else CONVERT([datetimeoffset],[EventStartDatetime]) end) PERSISTED,
	[EventSeoTitle] [nvarchar](60) NULL,
	[EventSeoDescription] [nvarchar](155) NULL,
	[EventSeoKeywords] [nvarchar](200) NULL,
	[EventType]  AS (case when [EventGeographicScope]=(1) then 'Normal run' when [EventGeographicScope]=(2) then 'Specia local event' when [EventGeographicScope]=(3) then 'Special regional / state event' when [EventGeographicScope]=(4) then 'Nash Hash / national event' when [EventGeographicScope]=(5) then 'Interhash / continent-wide event' when [EventGeographicScope]=(6) then 'World Interhash / global event' when [EventGeographicScope]=(7) then 'Other special event' else 'Not specified' end) PERSISTED NOT NULL,
	[Tags1String]  AS ((((((((((((((((((((((((((((((case when ([tags1]&0x00000001)<>(0) then 'Normal Run,' else '' end+case when ([tags1]&0x00000002)<>(0) then 'Red Dress,' else '' end)+case when ([tags1]&0x00000004)<>(0) then 'Full Moon,' else '' end)+case when ([tags1]&0x00000008)<>(0) then 'Harriette,' else '' end)+case when ([tags1]&0x00000010)<>(0) then 'Men Only,' else '' end)+case when ([tags1]&0x00000020)<>(0) then 'Women Only,' else '' end)+case when ([tags1]&0x00000040)<>(0) then 'Kids Allowed,' else '' end)+case when ([tags1]&0x00000080)<>(0) then 'No Kids Allowed,' else '' end)+case when ([tags1]&0x00000100)<>(0) then 'Bring Flashlight,' else '' end)+case when ([tags1]&0x00000200)<>(0) then 'Water On Trail,' else '' end)+case when ([tags1]&0x00000400)<>(0) then 'Walker Trail,' else '' end)+case when ([tags1]&0x00000800)<>(0) then 'Medium Trail,' else '' end)+case when ([tags1]&0x00001000)<>(0) then 'Long Trail,' else '' end)+case when ([tags1]&0x00002000)<>(0) then 'Pub Crawl,' else '' end)+case when ([tags1]&0x00004000)<>(0) then 'On After,' else '' end)+case when ([tags1]&0x00008000)<>(0) then 'Baby Jogger Friendly,' else '' end)+case when ([tags1]&0x00010000)<>(0) then 'Shiggy Run,' else '' end)+case when ([tags1]&0x00020000)<>(0) then 'Accessible By Public Transport,' else '' end)+case when ([tags1]&0x00040000)<>(0) then 'Bike Hash,' else '' end)+case when ([tags1]&0x00080000)<>(0) then 'City Hash,' else '' end)+case when ([tags1]&0x00100000)<>(0) then 'Live Hare,' else '' end)+case when ([tags1]&0x00200000)<>(0) then 'Dead Hare,' else '' end)+case when ([tags1]&0x00400000)<>(0) then 'Night Run,' else '' end)+case when ([tags1]&0x00800000)<>(0) then 'Steep Hills,' else '' end)+case when ([tags1]&0x01000000)<>(0) then 'Charity Event,' else '' end)+case when ([tags1]&0x02000000)<>(0) then 'Dog Friendly,' else '' end)+case when ([tags1]&0x04000000)<>(0) then 'Pick Up Hash,' else '' end)+case when ([tags1]&0x08000000)<>(0) then 'Catch The Hare,' else '' end)+case when ([tags1]&0x10000000)<>(0) then 'Bring Cash On Trail,' else '' end)+case when ([tags1]&0x20000000)<>(0) then 'Bag Drop Available,' else '' end)+case when ([tags1]&0x40000000)<>(0) then 'AGM,' else '' end) PERSISTED NOT NULL,
	[Tags2String]  AS (((((((((((case when ([tags2]&0x00000001)<>(0) then 'Multi-Day Event,' else '' end+case when ([tags2]&0x00000002)<>(0) then 'No Dogs Allowed,' else '' end)+case when ([tags2]&0x00000004)<>(0) then 'Family Hash,' else '' end)+case when ([tags2]&0x00000008)<>(0) then 'Bring Dry Clothes,' else '' end)+case when ([tags2]&0x00000010)<>(0) then 'Short Trail,' else '' end)+case when ([tags2]&0x00000020)<>(0) then 'Parking Available,' else '' end)+case when ([tags2]&0x00000040)<>(0) then 'No Parking Available,' else '' end)+case when ([tags2]&0x00000080)<>(0) then 'Camping Hash,' else '' end)+case when ([tags2]&0x00000100)<>(0) then 'No Bag Drop Available,' else '' end)+case when ([tags2]&0x00000200)<>(0) then 'Drinking Practice,' else '' end)+case when ([tags2]&0x00000400)<>(0) then 'Ballbreaker Trail,' else '' end)+case when ([tags2]&0x00000800)<>(0) then 'Old Farts Trail,' else '' end) PERSISTED NOT NULL,
	[Tags3String]  AS (case when ([tags3]&0x00000001)<>(0) then '' else '' end) PERSISTED NOT NULL,
	[CountryId] [uniqueidentifier] NULL,
	[CheckInReminderSent] [datetimeoffset](7) NULL,
	[RsvpReminderSent] [datetimeoffset](7) NULL,
	[EventStartDatetimeGmt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_AllSyncEvent]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_AllSyncEvent] ON [HC].[Event]
(
	[updatedAt] ASC,
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Event_CreatedAt_Includes]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_Event_CreatedAt_Includes] ON [HC].[Event]
(
	[createdAt] ASC
)
INCLUDE([KennelId],[EventNumber],[EventStartDatetimeIndexed],[EventName],[InboundIntegrationId]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Event_EventStartDateTimeIndexed]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_Event_EventStartDateTimeIndexed] ON [HC].[Event]
(
	[EventStartDatetimeIndexed] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Event_Kennel_FacebookId]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_Event_Kennel_FacebookId] ON [HC].[Event]
(
	[KennelId] ASC,
	[EventFacebookId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Event_KennelId]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_Event_KennelId] ON [HC].[Event]
(
	[KennelId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Event_KidIsCountedDeleted2]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_Event_KidIsCountedDeleted2] ON [HC].[Event]
(
	[KennelId] ASC,
	[IsCountedRun] ASC,
	[deleted] ASC
)
INCLUDE([AbsoluteEventNumber]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventByKennelIsCountedStartDateAbsEvtNum]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_EventByKennelIsCountedStartDateAbsEvtNum] ON [HC].[Event]
(
	[KennelId] ASC,
	[IsCountedRun] ASC,
	[EventStartDatetime] ASC,
	[AbsoluteEventNumber] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventCreated]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_EventCreated] ON [HC].[Event]
(
	[createdAt] ASC,
	[EventStartDatetime] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventUsageData]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_EventUsageData] ON [HC].[Event]
(
	[EventStartDatetimeIndexed] ASC
)
INCLUDE([EventStartDatetime],[KennelId],[EventName],[UseFbRunDetails],[FbEventName],[createdAt],[updatedAt]) 
WHERE ([IsVisible]=(1))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EvtRunCount]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_EvtRunCount] ON [HC].[Event]
(
	[EventStartDatetimeIndexed] ASC
)
INCLUDE([KennelId],[EventNumber]) 
WHERE ([IsCountedRun]=(1) AND [IsVisible]=(1) AND [removed]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PublicEventId]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PublicEventId] ON [HC].[Event]
(
	[PublicEventId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [nci_wi_Event_1F80FB5C5AEF569B3EBDA0D44A1F8718]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [nci_wi_Event_1F80FB5C5AEF569B3EBDA0D44A1F8718] ON [HC].[Event]
(
	[deleted] ASC,
	[IsCountedRun] ASC,
	[KennelId] ASC,
	[removed] ASC,
	[IsVisible] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_HC_Event_EventId]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_PublicEventId]  DEFAULT (newid()) FOR [PublicEventId]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_IsVisible]  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_IsCountedRun]  DEFAULT ((1)) FOR [IsCountedRun]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_IsPromotedRun]  DEFAULT ((0)) FOR [IsPromotedEvent]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_EventGeographicScope]  DEFAULT ((0)) FOR [EventGeographicScope]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_HC_Event_IsThemeRun]  DEFAULT ((0)) FOR [ThemeRunType]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_Tags1]  DEFAULT ((0)) FOR [Tags1]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_Tags2]  DEFAULT ((0)) FOR [Tags2]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_Tags3]  DEFAULT ((0)) FOR [Tags3]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_EventNumber]  DEFAULT ((0)) FOR [EventNumber]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_RunCount]  DEFAULT ((1)) FOR [EventNumberIncrement]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_DoTrackHashCash]  DEFAULT ((0)) FOR [DoTrackHashCash]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_ExtrasRsvpRequired]  DEFAULT ((0)) FOR [ExtrasRsvpRequired]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_UnconfirmedBankXferCount]  DEFAULT ((0)) FOR [UnconfirmedBankXferCount]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_UserCountIncrement]  DEFAULT ((1)) FOR [UserEventCounterIncrement]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_InboundIntegrationId]  DEFAULT ((0)) FOR [InboundIntegrationId]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_IntegrationEnabled]  DEFAULT ((1)) FOR [IntegrationEnabled]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_UseFbData]  DEFAULT ((0)) FOR [UseFbRunDetails]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_UseFbLocation]  DEFAULT ((0)) FOR [UseFbLocation]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_UseFbLatLon]  DEFAULT ((0)) FOR [UseFbLatLon]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_UseFbImage]  DEFAULT ((0)) FOR [UseFbImage]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_UpdateDataFromFacebook]  DEFAULT ((0)) FOR [UpdateDataFromFacebook]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_EventSource]  DEFAULT (N'Unknown') FOR [EventSource]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_removed]  DEFAULT ((0)) FOR [removed]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF__Event__deleted__22CA2527]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_lastModified]  DEFAULT (getdate()) FOR [lastModified]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF__Event__createdAt__414EAC47]  DEFAULT (CONVERT([datetimeoffset](7),sysutcdatetime(),(0))) FOR [createdAt]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF__Event__updatedAt__4242D080]  DEFAULT (CONVERT([datetimeoffset](7),sysutcdatetime(),(0))) FOR [updatedAt]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_updatedAtBias]  DEFAULT (CONVERT([int],abs((CONVERT([bigint],CONVERT([varbinary](8),newid(),(1)))/(40020.2323))%(999999)))) FOR [updatedAtBias]
GO
ALTER TABLE [HC].[Event] ADD  CONSTRAINT [DF_Event_EventLastUpdatedBy]  DEFAULT (N'n''Unknown''') FOR [EventLastUpdatedSource]
GO
ALTER TABLE [HC].[Event]  WITH CHECK ADD  CONSTRAINT [CK_Event_IsCountedRun] CHECK  (([IsCountedRun]>=(0) AND [IsCountedRun]<=(1)))
GO
ALTER TABLE [HC].[Event] CHECK CONSTRAINT [CK_Event_IsCountedRun]
GO
ALTER TABLE [HC].[Event]  WITH CHECK ADD  CONSTRAINT [CK_Event_IsPromotedEvent] CHECK  (([IsPromotedEvent]>=(0) AND [IsPromotedEvent]<=(1)))
GO
ALTER TABLE [HC].[Event] CHECK CONSTRAINT [CK_Event_IsPromotedEvent]
GO
ALTER TABLE [HC].[Event]  WITH CHECK ADD  CONSTRAINT [CK_Event_IsVisible] CHECK  (([IsVisible]>=(0) AND [IsVisible]<=(1)))
GO
ALTER TABLE [HC].[Event] CHECK CONSTRAINT [CK_Event_IsVisible]
GO
/****** Object:  Trigger [HC].[trgRecalculateRunCounts]    Script Date: 3/8/2026 12:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgRecalculateRunCounts]
   ON  [HC].[Event]
   AFTER INSERT,UPDATE,DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--SELECT UseFbRunDetails,FbE FROM inserted


	-- set the indexed EventStartDateTime column according to which time 
	-- is selected for this run. This is important to make the
	-- windowed functions for calculating individuals run counts more efficient
	IF (UPDATE(UseFbRunDetails) OR UPDATE(EventStartDateTime) OR UPDATE(FbEventStartDateTime))
	BEGIN
		SET NOCOUNT ON
		UPDATE evt 
			SET EventStartDatetimeIndexed = CASE WHEN (ins.UseFbRunDetails = 1) THEN convert(datetime2,ins.FbEventStartDatetime) ELSE convert(datetime2,ins.EventStartDatetime) END
			FROM HC.Event evt
			INNER JOIN Inserted ins on evt.id = ins.id

			-- TODO: If there was a change here (measured by the ROW_COUNT property
			-- we need to recalculate individual run counts and also the run number
	END





	IF (UPDATE(IsCountedRun) OR UPDATE(AbsoluteEventNumber)) --AND NOT UPDATE(updatedAt)
	BEGIN
		DECLARE @eid uniqueidentifier

		SELECT top 1 @eid = id from inserted order by EventStartDatetime asc

		EXEC [HC].[nonApi_updateRunNumbers] @eventId = @eid


	END

END
GO
ALTER TABLE [HC].[Event] ENABLE TRIGGER [trgRecalculateRunCounts]
GO
/****** Object:  Trigger [HC].[trgReplaceBrackets]    Script Date: 3/8/2026 12:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgReplaceBrackets]
   ON  [HC].[Event]
   AFTER INSERT, UPDATE
AS 
BEGIN

	SET NOCOUNT ON;

	IF UPDATE(FbEventDescription)
		BEGIN
			UPDATE tbl SET tbl.FbEventDescription = REPLACE(REPLACE(ins.FbEventDescription,'[','('),']',')')
			FROM HC.Event tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
			WHERE ins.FbEventDescription like '%[[]%' OR ins.FbEventDescription like '%]%'
		END

	IF UPDATE(EventDescription)
		BEGIN
			UPDATE tbl SET tbl.EventDescription = REPLACE(REPLACE(ins.EventDescription,'[','('),']',')')
			FROM HC.Event tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
			WHERE ins.EventDescription like '%[[]%' OR ins.EventDescription like '%]%'
		END

	IF UPDATE(FbEventName)
		BEGIN
			UPDATE tbl SET tbl.FbEventName = REPLACE(REPLACE(ins.FbEventName,'[','('),']',')')
			FROM HC.Event tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
			WHERE ins.FbEventName like '%[[]%' OR ins.FbEventName like '%]%'
		END

	IF UPDATE(EventName)
		BEGIN
			UPDATE tbl SET tbl.EventName = REPLACE(REPLACE(ins.EventName,'[','('),']',')')
			FROM HC.Event tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
			WHERE ins.EventName like '%[[]%' OR ins.EventName like '%]%'
		END

	IF UPDATE(FbLocationOneLineDesc)
		BEGIN
			UPDATE tbl SET tbl.FbLocationOneLineDesc = REPLACE(REPLACE(ins.FbLocationOneLineDesc,'[','('),']',')')
			FROM HC.Event tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
			WHERE ins.FbLocationOneLineDesc like '%[[]%' OR ins.FbLocationOneLineDesc like '%]%'
		END

	IF UPDATE(LocationOneLineDesc)
		BEGIN
			UPDATE tbl SET tbl.LocationOneLineDesc = REPLACE(REPLACE(ins.LocationOneLineDesc,'[','('),']',')')
			FROM HC.Event tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
			WHERE ins.LocationOneLineDesc like '%[[]%' OR ins.LocationOneLineDesc like '%]%'
		END

	IF UPDATE(FbLocationPostCode)
		BEGIN
			UPDATE tbl SET tbl.FbLocationPostCode = REPLACE(REPLACE(ins.FbLocationPostCode,'[','('),']',')')
			FROM HC.Event tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
			WHERE ins.FbLocationPostCode like '%[[]%' OR ins.FbLocationPostCode like '%]%'
		END

	IF UPDATE(LocationPostCode)
		BEGIN
			UPDATE tbl SET tbl.LocationPostCode = REPLACE(REPLACE(ins.LocationPostCode,'[','('),']',')')
			FROM HC.Event tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
			WHERE ins.LocationPostCode like '%[[]%' OR ins.LocationPostCode like '%]%'
		END

	IF UPDATE(FbLocationCity)
		BEGIN
			UPDATE tbl SET tbl.FbLocationCity = REPLACE(REPLACE(ins.FbLocationCity,'[','('),']',')')
			FROM HC.Event tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
			WHERE ins.FbLocationCity like '%[[]%' OR ins.FbLocationCity like '%]%'
		END

	IF UPDATE(LocationCity)
		BEGIN
			UPDATE tbl SET tbl.LocationCity = REPLACE(REPLACE(ins.LocationCity,'[','('),']',')')
			FROM HC.Event tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
			WHERE ins.LocationCity like '%[[]%' OR ins.LocationCity like '%]%'
		END


	IF UPDATE(FbLocationStreet)
		BEGIN
			UPDATE tbl SET tbl.FbLocationStreet = REPLACE(REPLACE(ins.FbLocationStreet,'[','('),']',')')
			FROM HC.Event tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
			WHERE ins.FbLocationStreet like '%[[]%' OR ins.FbLocationStreet like '%]%'
		END

	IF UPDATE(LocationStreet)
		BEGIN
			UPDATE tbl SET tbl.LocationStreet = REPLACE(REPLACE(ins.LocationStreet,'[','('),']',')')
			FROM HC.Event tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
			WHERE ins.LocationStreet like '%[[]%' OR ins.LocationStreet like '%]%'
		END


	IF UPDATE(FbLocationCountry)
		BEGIN
			UPDATE tbl SET tbl.FbLocationCountry = REPLACE(REPLACE(ins.FbLocationCountry,'[','('),']',')')
			FROM HC.Event tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
			WHERE ins.FbLocationCountry like '%[[]%' OR ins.FbLocationCountry like '%]%'
		END

	IF UPDATE(LocationCountry)
		BEGIN
			UPDATE tbl SET tbl.LocationCountry = REPLACE(REPLACE(ins.LocationCountry,'[','('),']',')')
			FROM HC.Event tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
			WHERE ins.LocationCountry like '%[[]%' OR ins.LocationCountry like '%]%'
		END

	IF UPDATE(FbLocationRegion)
		BEGIN
			UPDATE tbl SET tbl.FbLocationRegion = REPLACE(REPLACE(ins.FbLocationRegion,'[','('),']',')')
			FROM HC.Event tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
			WHERE ins.FbLocationRegion like '%[[]%' OR ins.FbLocationRegion like '%]%'
		END

	IF UPDATE(LocationRegion)
		BEGIN
			UPDATE tbl SET tbl.LocationRegion = REPLACE(REPLACE(ins.LocationRegion,'[','('),']',')')
			FROM HC.Event tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
			WHERE ins.LocationRegion like '%[[]%' OR ins.LocationRegion like '%]%'
		END

	IF UPDATE(FbLocationSubRegion)
		BEGIN
			UPDATE tbl SET tbl.FbLocationSubRegion = REPLACE(REPLACE(ins.FbLocationSubRegion,'[','('),']',')')
			FROM HC.Event tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
			WHERE ins.FbLocationSubRegion like '%[[]%' OR ins.FbLocationSubRegion like '%]%'
		END


	IF UPDATE(LocationSubRegion)
		BEGIN
			UPDATE tbl SET tbl.LocationSubRegion = REPLACE(REPLACE(ins.LocationSubRegion,'[','('),']',')')
			FROM HC.Event tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
			WHERE ins.LocationSubRegion like '%[[]%' OR ins.LocationSubRegion like '%]%'
		END

END
GO
ALTER TABLE [HC].[Event] ENABLE TRIGGER [trgReplaceBrackets]
GO
/****** Object:  Trigger [HC].[trgUpdateHemDates]    Script Date: 3/8/2026 12:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgUpdateHemDates]
   ON  [HC].[Event]
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF (   UPDATE(IsCountedRun) 
	    OR UPDATE(AbsoluteEventNumber) 
		OR UPDATE(EventNumber)
		OR UPDATE(EventName)
		OR UPDATE(FbEventName)
		OR UPDATE(IsVisible)
		OR UPDATE(UseFbRunDetails)
		OR UPDATE(EventStartDatetime)
		OR UPDATE(FbEventStartDatetime)
		OR UPDATE(CanEditRunAttendence)
		) --AND NOT UPDATE(updatedAt)
	BEGIN
		-- if any of the above are updated, we need to update the HEM tables on the mobile devices
		-- to remain in sync.

		-- NOTE:The below line compiles and executes but is incorrect because the 
		-- INSERTED table should not contain a "phoneNumber" column. I think this is
		-- a bug in MSSQL

		-- UPDATE HC.HasherEventMap set updatedAt = getdate() where EventId in (SELECT phoneNumber from INSERTED)
		
		UPDATE h 
		SET h.updatedAt = getdate() 
		FROM HC.HasherEventMap h 
		INNER JOIN INSERTED ins ON h.EventId = ins.id
	END

END
GO
ALTER TABLE [HC].[Event] ENABLE TRIGGER [trgUpdateHemDates]
GO
/****** Object:  Trigger [HC].[trgUpdateModifiedOnDateForEvent]    Script Date: 3/8/2026 12:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgUpdateModifiedOnDateForEvent]
   ON  [HC].[Event]
   AFTER INSERT, UPDATE
AS 
BEGIN

	SET NOCOUNT ON;



	IF UPDATE(EventStartDateTime)
		BEGIN
			UPDATE tbl Set EventStartDateTimeGmt = (cast(tbl.EventStartDatetime as datetime) AT TIME ZONE tz.Timezone) AT TIME ZONE 'UTC' 
			FROM HC.Event tbl
			INNER JOIN HC.Kennel k on k.id = tbl.KennelId
			INNER JOIN HC.City c on k.CityId = c.id
			LEFT OUTER JOIN DomainValues.Timezone tz on tz.id = c.TimezoneId
			INNER JOIN INSERTED ins on tbl.id = ins.id
		END

	IF (
		UPDATE([GlobalGoogleCalendarLastUpdated]) OR 
		UPDATE([GlobalGoogleCalendarId]) 
	)
	BEGIN
		RETURN
	END

	IF NOT UPDATE(updatedAt)
		BEGIN
			UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,SYSDATETIME()) 
			FROM HC.Event tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
		END
	ELSE
		BEGIN
			UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,CAST(ins.updatedAt as datetime2)) 
			FROM HC.Event tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
		END

END
GO
ALTER TABLE [HC].[Event] ENABLE TRIGGER [trgUpdateModifiedOnDateForEvent]
GO
