/****** Object:  Table [HC].[EventMessage]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[EventMessage](
	[id] [uniqueidentifier] NOT NULL,
	[EventId] [uniqueidentifier] NOT NULL,
	[PublicEventId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PublicHasherId] [uniqueidentifier] NOT NULL,
	[MessageTitle] [nvarchar](250) NOT NULL,
	[MessageContent] [nvarchar](500) NOT NULL,
	[MessageReleasabilityFlags] [int] NOT NULL,
	[MessageReleasabilityText]  AS (replace(Trim(((((case when ([MessageReleasabilityFlags]&0x00000001)<>(0) then 'Admins ' else '' end+case when ([MessageReleasabilityFlags]&0x00000002)<>(0) then 'Members ' else '' end)+case when ([MessageReleasabilityFlags]&0x00000004)<>(0) then 'Followers ' else '' end)+case when ([MessageReleasabilityFlags]&0x00000008)<>(0) then 'RSVPed Hashers ' else '' end)+case when ([MessageReleasabilityFlags]&0x00000010)<>(0) then 'Hares ' else '' end)+case when ([MessageReleasabilityFlags]&0x00000020)<>(0) then 'Anyone ' else '' end),' ',', ')) PERSISTED,
	[Removed] [smallint] NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[updatedAtBias] [int] NOT NULL,
	[createdAt] [datetimeoffset](7) NOT NULL,
	[MessageType] [int] NOT NULL,
	[MessageSequenceCount] [int] NOT NULL,
 CONSTRAINT [PK_EventMessage] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [HC].[EventMessage] ADD  CONSTRAINT [DF_EventMessage_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[EventMessage] ADD  CONSTRAINT [DF_EventMessage_Removed]  DEFAULT ((0)) FOR [Removed]
GO
ALTER TABLE [HC].[EventMessage] ADD  CONSTRAINT [DF_EventMessage_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [HC].[EventMessage] ADD  CONSTRAINT [DF_EventMessage_updatedAtBias]  DEFAULT (CONVERT([int],abs((CONVERT([bigint],CONVERT([varbinary](8),newid(),(1)))/(40020.2323))%(999999)))) FOR [updatedAtBias]
GO
ALTER TABLE [HC].[EventMessage] ADD  CONSTRAINT [DF_EventMessage_createdAt]  DEFAULT (sysutcdatetime()) FOR [createdAt]
GO
ALTER TABLE [HC].[EventMessage] ADD  CONSTRAINT [DF_EventMessage_MessageType]  DEFAULT ((0)) FOR [MessageType]
GO
ALTER TABLE [HC].[EventMessage] ADD  CONSTRAINT [DF_EventMessage_MessageSequenceCount]  DEFAULT ((0)) FOR [MessageSequenceCount]
GO
ALTER TABLE [HC].[EventMessage]  WITH CHECK ADD  CONSTRAINT [FK_EventMessage_Event] FOREIGN KEY([EventId])
REFERENCES [HC].[Event] ([id])
GO
ALTER TABLE [HC].[EventMessage] CHECK CONSTRAINT [FK_EventMessage_Event]
GO
ALTER TABLE [HC].[EventMessage]  WITH CHECK ADD  CONSTRAINT [FK_EventMessage_Hasher] FOREIGN KEY([UserId])
REFERENCES [HC].[Hasher] ([id])
GO
ALTER TABLE [HC].[EventMessage] CHECK CONSTRAINT [FK_EventMessage_Hasher]
GO
/****** Object:  Trigger [HC].[trgCreateSeqNum]    Script Date: 3/8/2026 12:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgCreateSeqNum]
   ON  [HC].[EventMessage]
   AFTER INSERT
AS 
BEGIN

	SET NOCOUNT ON;

    -- Update only rows from the same event(s) as the inserted messages
    ;WITH affected AS (
        SELECT DISTINCT eventId
        FROM inserted
    ),
    cte AS (
        SELECT 
            em.id,
            em.eventId,
            ROW_NUMBER() OVER (
                PARTITION BY em.eventId
                ORDER BY em.createdAt ASC, em.id
            ) AS RowNum
        FROM HC.EventMessage em
        INNER JOIN affected a ON a.eventId = em.eventId
    )
    UPDATE em
    SET em.MessageSequenceCount = cte.RowNum
    FROM HC.EventMessage em
    INNER JOIN cte ON cte.id = em.id;

END
GO
ALTER TABLE [HC].[EventMessage] ENABLE TRIGGER [trgCreateSeqNum]
GO
