/****** Object:  Table [HC].[EventMessageBadgeCounts]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[EventMessageBadgeCounts](
	[id] [uniqueidentifier] NOT NULL,
	[EventId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[LastSequenceCount] [int] NOT NULL,
	[Removed] [smallint] NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[updatedAtBias] [int] NOT NULL,
	[createdAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_EventMessageBadgeCounts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [HC].[EventMessageBadgeCounts] ADD  CONSTRAINT [DF_EventMessageBadgeCounts_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[EventMessageBadgeCounts] ADD  CONSTRAINT [DF_EventMessageBadgeCounts_Removed]  DEFAULT ((0)) FOR [Removed]
GO
ALTER TABLE [HC].[EventMessageBadgeCounts] ADD  CONSTRAINT [DF_EventMessageBadgeCounts_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [HC].[EventMessageBadgeCounts] ADD  CONSTRAINT [DF_EventMessageBadgeCounts_updatedAtBias]  DEFAULT (CONVERT([int],abs((CONVERT([bigint],CONVERT([varbinary](8),newid(),(1)))/(40020.2323))%(999999)))) FOR [updatedAtBias]
GO
ALTER TABLE [HC].[EventMessageBadgeCounts] ADD  CONSTRAINT [DF_EventMessageBadgeCounts_createdAt]  DEFAULT (sysutcdatetime()) FOR [createdAt]
GO
