/****** Object:  Table [HC].[GoogleCalendarEvent]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[GoogleCalendarEvent](
	[id] [uniqueidentifier] NOT NULL,
	[EventId] [uniqueidentifier] NOT NULL,
	[GCalendarId] [nvarchar](250) NOT NULL,
	[GCalendarEventId] [nvarchar](250) NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateLastUpdated] [datetimeoffset](7) NOT NULL,
	[DateRemoved] [datetimeoffset](7) NULL,
	[Removed] [smallint] NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[updatedAtBias] [int] NOT NULL,
 CONSTRAINT [PK_GoogleCalendarEvent] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_GoogleCalendarEvent] UNIQUE NONCLUSTERED 
(
	[EventId] ASC,
	[GCalendarId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [HC].[GoogleCalendarEvent] ADD  CONSTRAINT [DF_GoogleCalendarEvent_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[GoogleCalendarEvent] ADD  CONSTRAINT [DF_GoogleCalendarEvent_DateCreated]  DEFAULT (sysdatetime()) FOR [DateCreated]
GO
ALTER TABLE [HC].[GoogleCalendarEvent] ADD  CONSTRAINT [DF_GoogleCalendarEvent_DateLastUpdated]  DEFAULT (sysdatetime()) FOR [DateLastUpdated]
GO
ALTER TABLE [HC].[GoogleCalendarEvent] ADD  CONSTRAINT [DF_GoogleCalendarEvent_Removed]  DEFAULT ((0)) FOR [Removed]
GO
ALTER TABLE [HC].[GoogleCalendarEvent] ADD  CONSTRAINT [DF_GoogleCalendarEvent_updatedAt]  DEFAULT (sysdatetime()) FOR [updatedAt]
GO
ALTER TABLE [HC].[GoogleCalendarEvent] ADD  CONSTRAINT [DF_GoogleCalendarEvent_updatedAtBias]  DEFAULT (CONVERT([int],abs((CONVERT([bigint],CONVERT([varbinary](8),newid(),(1)))/(40020.2323))%(999999)))) FOR [updatedAtBias]
GO
ALTER TABLE [HC].[GoogleCalendarEvent]  WITH CHECK ADD  CONSTRAINT [FK_GoogleCalendarEvent_Event] FOREIGN KEY([EventId])
REFERENCES [HC].[Event] ([id])
GO
ALTER TABLE [HC].[GoogleCalendarEvent] CHECK CONSTRAINT [FK_GoogleCalendarEvent_Event]
GO
/****** Object:  Trigger [HC].[trgUpdateModifiedOnDateForGoogleCalendarEvent]    Script Date: 3/8/2026 12:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgUpdateModifiedOnDateForGoogleCalendarEvent]
   ON  [HC].[GoogleCalendarEvent]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prHasher extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF NOT UPDATE(updatedAt)
		BEGIN
			UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,SYSDATETIME()) 
			FROM HC.GoogleCalendarEvent tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
		END
	ELSE
		BEGIN
			UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,CAST(ins.updatedAt as datetime2)) 
			FROM HC.GoogleCalendarEvent tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
		END
END
GO
ALTER TABLE [HC].[GoogleCalendarEvent] ENABLE TRIGGER [trgUpdateModifiedOnDateForGoogleCalendarEvent]
GO
