/****** Object:  Table [HC].[HasherFriendMap]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[HasherFriendMap](
	[id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Friend_UserId] [uniqueidentifier] NOT NULL,
	[FriendNotificationPreference] [smallint] NOT NULL,
	[Ignore] [smallint] NOT NULL,
	[FriendSince] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_HasherFriendMap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_HasherFriendMap]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_HasherFriendMap] ON [HC].[HasherFriendMap]
(
	[UserId] ASC,
	[Friend_UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [HC].[HasherFriendMap] ADD  CONSTRAINT [DF_HasherFriendMap_Id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[HasherFriendMap] ADD  CONSTRAINT [DF_HasherFriendMap_FriendNotificationPreference]  DEFAULT ((0)) FOR [FriendNotificationPreference]
GO
ALTER TABLE [HC].[HasherFriendMap] ADD  CONSTRAINT [DF_HasherFriendMap_State]  DEFAULT ((0)) FOR [Ignore]
GO
ALTER TABLE [HC].[HasherFriendMap]  WITH CHECK ADD  CONSTRAINT [FK_HasherFriendMap_Hasher] FOREIGN KEY([UserId])
REFERENCES [HC].[Hasher] ([id])
GO
ALTER TABLE [HC].[HasherFriendMap] CHECK CONSTRAINT [FK_HasherFriendMap_Hasher]
GO
ALTER TABLE [HC].[HasherFriendMap]  WITH CHECK ADD  CONSTRAINT [FK_HasherFriendMap_Hasher1] FOREIGN KEY([Friend_UserId])
REFERENCES [HC].[Hasher] ([id])
GO
ALTER TABLE [HC].[HasherFriendMap] CHECK CONSTRAINT [FK_HasherFriendMap_Hasher1]
GO
