/****** Object:  Table [HC].[HasherBackup]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[HasherBackup](
	[id] [uniqueidentifier] NOT NULL,
	[PublicHasherId] [uniqueidentifier] NOT NULL,
	[HomeKennelId] [uniqueidentifier] NULL,
	[MotherKennelId] [uniqueidentifier] NULL,
	[SupportCode] [nvarchar](50) NOT NULL,
	[ResetCode] [nvarchar](50) NOT NULL,
	[QR_code] [nvarchar](50) NOT NULL,
	[QR_secret_code] [uniqueidentifier] NOT NULL,
	[DisplayName] [nvarchar](250) NOT NULL,
	[HashName] [nvarchar](250) NULL,
	[FirstName] [nvarchar](250) NULL,
	[LastName] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Photo] [nvarchar](250) NULL,
	[Gender] [nvarchar](50) NULL,
	[FacebookId] [nvarchar](250) NULL,
	[FacebookAccessToken] [nvarchar](1000) NULL,
	[FacebookAccessTokenLastUpdated] [datetimeoffset](7) NULL,
	[ThirdPartyLoginType] [nvarchar](120) NULL,
	[ThirdPartyUserId] [nvarchar](1000) NULL,
	[ThirdPartyAccessToken] [nvarchar](1000) NULL,
	[ThirdPartyAuthorizationCode] [nvarchar](1000) NULL,
	[ThirdPartyTokenLastUpdated] [datetimeoffset](7) NULL,
	[ThirdPartyAccessTokenExpires] [datetimeoffset](7) NULL,
	[ThirdPartyEmail] [nvarchar](250) NULL,
	[Locale] [nvarchar](50) NULL,
	[Description] [nvarchar](4000) NULL,
	[HomeLatitude] [decimal](12, 9) NULL,
	[HomeLongitude] [decimal](13, 9) NULL,
	[HomeGeolocation] [geography] NULL,
	[NameDisplayPreference] [smallint] NOT NULL,
	[Preferences] [int] NOT NULL,
	[HcWebUserId] [int] NULL,
	[IncludeInGlobalHashDirectory] [smallint] NOT NULL,
	[Removed] [smallint] NULL,
	[version] [timestamp] NOT NULL,
	[createdAt] [datetimeoffset](7) NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[deleted] [bit] NOT NULL,
	[SingleSignOnId] [nvarchar](250) NULL,
	[SingleSignOnType] [nvarchar](50) NULL,
	[ResetCodeLastUpdated] [datetimeoffset](7) NULL,
	[IsBetaTester] [smallint] NOT NULL,
	[LastLoginDateTime] [datetimeoffset](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
