/****** Object:  Table [HC].[HasherPromotionMap]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[HasherPromotionMap](
	[id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PromotionId] [uniqueidentifier] NOT NULL,
	[SnoozeUntilDate] [datetimeoffset](7) NULL,
	[removed] [smallint] NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_HasherPromotionMap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [HC].[HasherPromotionMap] ADD  CONSTRAINT [DF_HasherPromotionMap_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[HasherPromotionMap] ADD  CONSTRAINT [DF_HasherPromotionMap_removed]  DEFAULT ((0)) FOR [removed]
GO
ALTER TABLE [HC].[HasherPromotionMap] ADD  CONSTRAINT [DF_HasherPromotionMap_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
