/****** Object:  Table [HC].[Integration]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[Integration](
	[IntegrationId] [int] IDENTITY(1,1) NOT NULL,
	[IntegrationName] [nvarchar](100) NOT NULL,
	[IntegrationAbbreviation] [nvarchar](20) NOT NULL,
	[Interval] [smallint] NOT NULL,
	[IntervalOffset] [smallint] NOT NULL,
	[Direction] [smallint] NULL,
	[Type] [smallint] NOT NULL,
	[Enabled] [smallint] NOT NULL,
	[CustomUrl] [nvarchar](2000) NULL,
	[HttpRequestType] [smallint] NOT NULL,
	[IntegrationMethodName] [nvarchar](250) NOT NULL,
	[MaxLat] [decimal](18, 15) NOT NULL,
	[MinLat] [decimal](18, 15) NOT NULL,
	[MaxLon] [decimal](19, 15) NOT NULL,
	[MinLon] [decimal](19, 15) NOT NULL,
	[LocationFieldName] [nvarchar](250) NULL,
	[LatLonExtractionRegex] [nvarchar](1000) NULL,
	[SourceJsonResult] [nvarchar](max) NULL,
	[AugmentedJsonResult] [nvarchar](max) NULL,
	[JsonLastUpdated] [datetimeoffset](7) NULL,
	[JsonLastProcessed] [datetimeoffset](7) NULL,
	[Removed] [smallint] NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_Integration_1] PRIMARY KEY CLUSTERED 
(
	[IntegrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [HC].[Integration] ADD  CONSTRAINT [DF_Integration_Interval]  DEFAULT ((5)) FOR [Interval]
GO
ALTER TABLE [HC].[Integration] ADD  CONSTRAINT [DF_Integration_IntervalOffset]  DEFAULT ((0)) FOR [IntervalOffset]
GO
ALTER TABLE [HC].[Integration] ADD  CONSTRAINT [DF_Integration_Direction]  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [HC].[Integration] ADD  CONSTRAINT [DF_Integration_Type]  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [HC].[Integration] ADD  CONSTRAINT [DF_Integration_Enabled]  DEFAULT ((0)) FOR [Enabled]
GO
ALTER TABLE [HC].[Integration] ADD  CONSTRAINT [DF_Integration_HttpRequestType]  DEFAULT ((0)) FOR [HttpRequestType]
GO
ALTER TABLE [HC].[Integration] ADD  CONSTRAINT [DF_Integration_MaxLat]  DEFAULT ((90.0)) FOR [MaxLat]
GO
ALTER TABLE [HC].[Integration] ADD  CONSTRAINT [DF_Integration_MinLat]  DEFAULT ((-90.0)) FOR [MinLat]
GO
ALTER TABLE [HC].[Integration] ADD  CONSTRAINT [DF_Integration_Maxlon]  DEFAULT ((180.0)) FOR [MaxLon]
GO
ALTER TABLE [HC].[Integration] ADD  CONSTRAINT [DF_Integration_MinLon]  DEFAULT ((-180.0)) FOR [MinLon]
GO
ALTER TABLE [HC].[Integration] ADD  CONSTRAINT [DF_Integration_Removed]  DEFAULT ((0)) FOR [Removed]
GO
ALTER TABLE [HC].[Integration] ADD  CONSTRAINT [DF_Integration_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [HC].[Integration]  WITH CHECK ADD  CONSTRAINT [FK_Integration_Integration] FOREIGN KEY([IntegrationId])
REFERENCES [HC].[Integration] ([IntegrationId])
GO
ALTER TABLE [HC].[Integration] CHECK CONSTRAINT [FK_Integration_Integration]
GO
/****** Object:  Trigger [HC].[trgUpdateModifiedOnDateForIntegration]    Script Date: 3/8/2026 12:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgUpdateModifiedOnDateForIntegration]
   ON  [HC].[Integration]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prHasher extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF (NOT UPDATE(updatedAt))
	BEGIN
		UPDATE HC.Integration Set updatedAt = GETDATE() FROM HC.Integration
			WHERE IntegrationId in (SELECT IntegrationId from INSERTED)
	END

END
GO
ALTER TABLE [HC].[Integration] ENABLE TRIGGER [trgUpdateModifiedOnDateForIntegration]
GO
