/****** Object:  Table [HC].[KennelAuthorization]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[KennelAuthorization](
	[id] [uniqueidentifier] NOT NULL,
	[KennelId] [uniqueidentifier] NOT NULL,
	[Auth_FacebookIntegration] [smallint] NOT NULL,
	[Auth_TrackPayments] [smallint] NOT NULL,
	[Auth_Haberdashery] [smallint] NOT NULL,
	[Auth_CustomSongbook] [smallint] NOT NULL,
	[Auth_WebsiteIntegration] [smallint] NOT NULL,
	[Auth_AllowCredit] [smallint] NOT NULL,
	[Auth_PushNotifications] [smallint] NOT NULL,
	[Auth_CheckInAndOut] [smallint] NOT NULL,
	[Auth_PromoteEvents] [smallint] NOT NULL,
	[Auth_CustomLogo] [smallint] NOT NULL,
	[Auth_MembersAllowed] [smallint] NOT NULL,
	[Auth_HareRaisingManagement] [smallint] NOT NULL,
	[StartDate] [datetimeoffset](7) NOT NULL,
	[EndDate] [datetimeoffset](7) NULL,
	[Notes] [nvarchar](1000) NULL,
 CONSTRAINT [PK_KennelAuthorization] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [HC].[KennelAuthorization] ADD  CONSTRAINT [DF_KennelAuthorization_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[KennelAuthorization] ADD  CONSTRAINT [DF_KennelAuthorization_AutoFacebookEventImport]  DEFAULT ((0)) FOR [Auth_FacebookIntegration]
GO
ALTER TABLE [HC].[KennelAuthorization] ADD  CONSTRAINT [DF_KennelAuthorization_TrackPayments]  DEFAULT ((0)) FOR [Auth_TrackPayments]
GO
ALTER TABLE [HC].[KennelAuthorization] ADD  CONSTRAINT [DF_KennelAuthorization_Haberdashery]  DEFAULT ((0)) FOR [Auth_Haberdashery]
GO
ALTER TABLE [HC].[KennelAuthorization] ADD  CONSTRAINT [DF_KennelAuthorization_CustomSongbook]  DEFAULT ((0)) FOR [Auth_CustomSongbook]
GO
ALTER TABLE [HC].[KennelAuthorization] ADD  CONSTRAINT [DF_KennelAuthorization_WebsiteIntegration]  DEFAULT ((0)) FOR [Auth_WebsiteIntegration]
GO
ALTER TABLE [HC].[KennelAuthorization] ADD  CONSTRAINT [DF_KennelAuthorization_AllowCredit]  DEFAULT ((0)) FOR [Auth_AllowCredit]
GO
ALTER TABLE [HC].[KennelAuthorization] ADD  CONSTRAINT [DF_KennelAuthorization_PushNotifications]  DEFAULT ((0)) FOR [Auth_PushNotifications]
GO
ALTER TABLE [HC].[KennelAuthorization] ADD  CONSTRAINT [DF_KennelAuthorization_CheckInAndOut]  DEFAULT ((0)) FOR [Auth_CheckInAndOut]
GO
ALTER TABLE [HC].[KennelAuthorization] ADD  CONSTRAINT [DF_KennelAuthorization_PromoteEvents]  DEFAULT ((0)) FOR [Auth_PromoteEvents]
GO
ALTER TABLE [HC].[KennelAuthorization] ADD  CONSTRAINT [DF_KennelAuthorization_CustomLogo]  DEFAULT ((0)) FOR [Auth_CustomLogo]
GO
ALTER TABLE [HC].[KennelAuthorization] ADD  CONSTRAINT [DF_KennelAuthorization_AuthorizationAmount]  DEFAULT ((10)) FOR [Auth_MembersAllowed]
GO
ALTER TABLE [HC].[KennelAuthorization] ADD  CONSTRAINT [DF_KennelAuthorization_HareRaisingManagement]  DEFAULT ((0)) FOR [Auth_HareRaisingManagement]
GO
ALTER TABLE [HC].[KennelAuthorization] ADD  CONSTRAINT [DF_KennelAuthorization_StartDate]  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [HC].[KennelAuthorization]  WITH CHECK ADD  CONSTRAINT [FK_KennelAuthorization_Kennel] FOREIGN KEY([KennelId])
REFERENCES [HC].[Kennel] ([id])
GO
ALTER TABLE [HC].[KennelAuthorization] CHECK CONSTRAINT [FK_KennelAuthorization_Kennel]
GO
