/****** Object:  Table [HC].[LaunchAndLogin]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[LaunchAndLogin](
	[id] [uniqueidentifier] NOT NULL,
	[idx] [int] IDENTITY(1,1) NOT NULL,
	[LoginDate] [datetimeoffset](7) NOT NULL,
	[HcVersion] [nvarchar](200) NOT NULL,
	[UserName] [nvarchar](250) NULL,
	[UserId] [uniqueidentifier] NULL,
	[DeviceId] [nvarchar](100) NULL,
	[DeviceType] [nvarchar](100) NULL,
	[DeviceName] [nvarchar](100) NULL,
	[SystemName] [nvarchar](100) NULL,
	[SystemVersion] [nvarchar](100) NULL,
	[Manufacturer] [nvarchar](100) NULL,
	[Latitude] [decimal](18, 15) NULL,
	[Longitude] [decimal](19, 15) NULL,
	[CityId] [uniqueidentifier] NULL,
	[UsesLocSvcs] [smallint] NULL,
	[ipInfo] [nvarchar](2000) NULL,
	[errorInfo] [nvarchar](1000) NULL,
 CONSTRAINT [PK_LaunchAndLogin] PRIMARY KEY CLUSTERED 
(
	[idx] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 50, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_LandLoginUsageData]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_LandLoginUsageData] ON [HC].[LaunchAndLogin]
(
	[LoginDate] ASC
)
INCLUDE([HcVersion],[UserName],[UserId],[DeviceType],[SystemVersion]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LaunchAndLogin]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_LaunchAndLogin] ON [HC].[LaunchAndLogin]
(
	[LoginDate] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LaunchAndLogin_LoginDate_UserId]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_LaunchAndLogin_LoginDate_UserId] ON [HC].[LaunchAndLogin]
(
	[LoginDate] ASC,
	[UserId] ASC
)
INCLUDE([DeviceName],[Manufacturer],[DeviceType],[SystemName],[SystemVersion],[CityId],[HcVersion],[idx]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [nci_wi_LaunchAndLogin_53AC97311BA4CBD4B4BE121B9B2D5177]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [nci_wi_LaunchAndLogin_53AC97311BA4CBD4B4BE121B9B2D5177] ON [HC].[LaunchAndLogin]
(
	[LoginDate] ASC
)
INCLUDE([HcVersion],[SystemName],[UserId]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [HC].[LaunchAndLogin] ADD  CONSTRAINT [DF_LaunchAndLogin_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[LaunchAndLogin] ADD  CONSTRAINT [DF_LaunchAndLogin_DateAndTime]  DEFAULT (getdate()) FOR [LoginDate]
GO
ALTER TABLE [HC].[LaunchAndLogin] ADD  CONSTRAINT [DF_LaunchAndLogin_HcVersion]  DEFAULT (N'pre 0.6.4') FOR [HcVersion]
GO
ALTER TABLE [HC].[LaunchAndLogin]  WITH NOCHECK ADD  CONSTRAINT [FK_LaunchAndLogin_Hasher] FOREIGN KEY([UserId])
REFERENCES [HC].[Hasher] ([id])
GO
ALTER TABLE [HC].[LaunchAndLogin] NOCHECK CONSTRAINT [FK_LaunchAndLogin_Hasher]
GO
/****** Object:  Trigger [HC].[trgLocateLogin]    Script Date: 3/8/2026 12:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgLocateLogin]
   ON  [HC].[LaunchAndLogin]
   AFTER INSERT,UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF UPDATE(Latitude) OR UPDATE(Longitude)
	BEGIN

		declare @cityId uniqueidentifier
		declare @cityFullName nvarchar(250)
		declare @id uniqueidentifier
		declare @latitude decimal(12,9)
		declare @longitude decimal (13,9)
		DECLARE @origin geography

		declare xCrsr CURSOR FOR
			select id,Latitude,Longitude from INSERTED where ((Latitude is not null AND Longitude is not null))

		OPEN xCrsr

		FETCH NEXT FROM xCrsr into @id,@latitude,@longitude

		WHILE @@Fetch_status = 0
		BEGIN
			SET @origin = geography::Point(@latitude, @longitude, 4326);


		select top 1 @cityId = id, @cityFullName = c.CityFullName from HC.City c
			ORDER BY @origin.STDistance(c.CityGeolocation)
		
			UPDATE HC.LaunchAndLogin SET CityId = @cityId where id = @id

			FETCH NEXT FROM xCrsr into @id,@latitude,@longitude
		END

		CLOSE xCrsr
		DEALLOCATE xCrsr
	END

END
GO
ALTER TABLE [HC].[LaunchAndLogin] ENABLE TRIGGER [trgLocateLogin]
GO
