/****** Object:  Table [HC].[Payment]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[Payment](
	[id] [uniqueidentifier] NOT NULL,
	[KennelId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[HasherEventMapId] [uniqueidentifier] NOT NULL,
	[EventId] [uniqueidentifier] NOT NULL,
	[PaymentProcessedBy_userId] [uniqueidentifier] NOT NULL,
	[CreditAmount] [smallmoney] NOT NULL,
	[DebitAmount] [smallmoney] NOT NULL,
	[NetPayment]  AS ([CreditAmount]-[DebitAmount]) PERSISTED,
	[Surcharge] [smallmoney] NOT NULL,
	[PaymentProvider] [nvarchar](50) NULL,
	[PaidDate] [datetimeoffset](7) NOT NULL,
	[PaymentType] [smallint] NOT NULL,
	[ProductType] [smallint] NOT NULL,
	[DiscountAmount] [smallmoney] NOT NULL,
	[DiscountPercent] [smallint] NOT NULL,
	[DiscountDescription] [nvarchar](50) NOT NULL,
	[SpecialRunPriceReason] [nvarchar](50) NOT NULL,
	[CreditAvailable] [smallmoney] NOT NULL,
	[isCancelled] [smallint] NOT NULL,
	[CancelledDate] [datetimeoffset](7) NULL,
	[CancelledBy_UserId] [uniqueidentifier] NULL,
	[ConfirmedDate] [datetimeoffset](7) NULL,
	[ConfirmedBy_UserId] [uniqueidentifier] NULL,
	[PaymentReference] [nvarchar](50) NULL,
	[DoPayForExtras] [smallint] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[removed] [smallint] NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[createdAt] [datetimeoffset](7) NOT NULL,
	[updatedAtBias] [int] NOT NULL,
	[paymentTypeStr]  AS (case when [PaymentType]=(0) then 'Unknown' when [PaymentType]=(1) then 'Not paid' when [PaymentType]=(2) then 'Free' when [PaymentType]=(3) then 'Cash' when [PaymentType]=(4) then 'Bank Transfer' when [PaymentType]=(5) then 'Cash (other amount)' when [PaymentType]=(6) then 'Hash Credit' when [PaymentType]=(7) then 'Bank Transfer (other amount)' when [PaymentType]=(8) then 'Hash Credit (other amount)' when [PaymentType]=(100) then 'Confirm Bank Transfer' else 'Error' end) PERSISTED NOT NULL,
	[paymentTypeCode]  AS (case when [PaymentType]=(0) then '?' when [PaymentType]=(1) then 'X' when [PaymentType]=(2) then 'F' when [PaymentType]=(3) then 'C' when [PaymentType]=(4) then 'B' when [PaymentType]=(5) then 'C?' when [PaymentType]=(6) then 'H' when [PaymentType]=(7) then 'B?' when [PaymentType]=(8) then 'H?' when [PaymentType]=(100) then 'T' else '*' end) PERSISTED NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreditBalance]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreditBalance] ON [HC].[Payment]
(
	[UserId] ASC,
	[KennelId] ASC
)
INCLUDE([id],[EventId],[NetPayment]) 
WHERE ([isCancelled]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payment_CreatedAt_Includes]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payment_CreatedAt_Includes] ON [HC].[Payment]
(
	[createdAt] ASC
)
INCLUDE([HasherEventMapId],[UserId],[PaymentProcessedBy_userId],[CancelledBy_UserId],[EventId],[CreditAmount],[DebitAmount],[PaymentType],[PaymentProvider],[CreditAvailable],[DoPayForExtras]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PaymentReference]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PaymentReference] ON [HC].[Payment]
(
	[PaymentReference] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentUsageData]    Script Date: 3/8/2026 12:42:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentUsageData] ON [HC].[Payment]
(
	[createdAt] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [HC].[Payment] ADD  CONSTRAINT [DF_Payment_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[Payment] ADD  CONSTRAINT [DF_Payment_CreditAmount]  DEFAULT ((0)) FOR [CreditAmount]
GO
ALTER TABLE [HC].[Payment] ADD  CONSTRAINT [DF_Payment_DebitAmount]  DEFAULT ((0)) FOR [DebitAmount]
GO
ALTER TABLE [HC].[Payment] ADD  CONSTRAINT [DF_Payment_Surcharge]  DEFAULT ((0)) FOR [Surcharge]
GO
ALTER TABLE [HC].[Payment] ADD  CONSTRAINT [DF_Payment_PaidDate]  DEFAULT (getdate()) FOR [PaidDate]
GO
ALTER TABLE [HC].[Payment] ADD  CONSTRAINT [DF_Payment_ProductType]  DEFAULT ((1)) FOR [ProductType]
GO
ALTER TABLE [HC].[Payment] ADD  CONSTRAINT [DF_Payment_DiscountAmount]  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [HC].[Payment] ADD  CONSTRAINT [DF_Payment_DiscountPercentage]  DEFAULT ((0)) FOR [DiscountPercent]
GO
ALTER TABLE [HC].[Payment] ADD  CONSTRAINT [DF_Payment_DiscountDescription]  DEFAULT ('') FOR [DiscountDescription]
GO
ALTER TABLE [HC].[Payment] ADD  CONSTRAINT [DF_Payment_SpecialRunPriceReason]  DEFAULT ('') FOR [SpecialRunPriceReason]
GO
ALTER TABLE [HC].[Payment] ADD  CONSTRAINT [DF_Payment_CreditAvailable]  DEFAULT ((0)) FOR [CreditAvailable]
GO
ALTER TABLE [HC].[Payment] ADD  CONSTRAINT [DF_Payment_isCancelled]  DEFAULT ((0)) FOR [isCancelled]
GO
ALTER TABLE [HC].[Payment] ADD  CONSTRAINT [DF_Payment_DoPayForExtras]  DEFAULT ((0)) FOR [DoPayForExtras]
GO
ALTER TABLE [HC].[Payment] ADD  CONSTRAINT [DF_Payment_removed]  DEFAULT ((0)) FOR [removed]
GO
ALTER TABLE [HC].[Payment] ADD  CONSTRAINT [DF_Payment_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [HC].[Payment] ADD  CONSTRAINT [DF_Payment_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [HC].[Payment] ADD  CONSTRAINT [DF_Payment_updatedAtBias]  DEFAULT (CONVERT([int],abs((CONVERT([bigint],CONVERT([varbinary](8),newid(),(1)))/(40020.2323))%(999999)))) FOR [updatedAtBias]
GO
ALTER TABLE [HC].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Event] FOREIGN KEY([EventId])
REFERENCES [HC].[Event] ([id])
GO
ALTER TABLE [HC].[Payment] CHECK CONSTRAINT [FK_Payment_Event]
GO
ALTER TABLE [HC].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Hasher] FOREIGN KEY([UserId])
REFERENCES [HC].[Hasher] ([id])
GO
ALTER TABLE [HC].[Payment] CHECK CONSTRAINT [FK_Payment_Hasher]
GO
ALTER TABLE [HC].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Hasher1] FOREIGN KEY([PaymentProcessedBy_userId])
REFERENCES [HC].[Hasher] ([id])
GO
ALTER TABLE [HC].[Payment] CHECK CONSTRAINT [FK_Payment_Hasher1]
GO
ALTER TABLE [HC].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Hasher2] FOREIGN KEY([CancelledBy_UserId])
REFERENCES [HC].[Hasher] ([id])
GO
ALTER TABLE [HC].[Payment] CHECK CONSTRAINT [FK_Payment_Hasher2]
GO
ALTER TABLE [HC].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Hasher3] FOREIGN KEY([ConfirmedBy_UserId])
REFERENCES [HC].[Hasher] ([id])
GO
ALTER TABLE [HC].[Payment] CHECK CONSTRAINT [FK_Payment_Hasher3]
GO
ALTER TABLE [HC].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_HasherEventMap] FOREIGN KEY([HasherEventMapId])
REFERENCES [HC].[HasherEventMap] ([id])
GO
ALTER TABLE [HC].[Payment] CHECK CONSTRAINT [FK_Payment_HasherEventMap]
GO
ALTER TABLE [HC].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Kennel] FOREIGN KEY([KennelId])
REFERENCES [HC].[Kennel] ([id])
GO
ALTER TABLE [HC].[Payment] CHECK CONSTRAINT [FK_Payment_Kennel]
GO
/****** Object:  Trigger [HC].[trgUpdateModifiedOnDateForPayment]    Script Date: 3/8/2026 12:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgUpdateModifiedOnDateForPayment]
   ON  [HC].[Payment]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prHasher extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF NOT UPDATE(updatedAt)
		BEGIN
			UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,SYSDATETIME()) 
			FROM HC.Payment tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
		END
	ELSE
		BEGIN
			UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,CAST(ins.updatedAt as datetime2)) 
			FROM HC.Payment tbl
			INNER JOIN INSERTED ins on tbl.id = ins.id
		END
END
GO
ALTER TABLE [HC].[Payment] ENABLE TRIGGER [trgUpdateModifiedOnDateForPayment]
GO
