/****** Object:  Table [HC].[Promotion]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[Promotion](
	[PromotionId] [uniqueidentifier] NOT NULL,
	[PromoGroupId] [uniqueidentifier] NULL,
	[KennelId] [uniqueidentifier] NULL,
	[CityId] [uniqueidentifier] NULL,
	[EventId] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NULL,
	[PromoName] [nvarchar](250) NOT NULL,
	[PromoStartDate] [datetimeoffset](7) NOT NULL,
	[PromoEndDate] [datetimeoffset](7) NOT NULL,
	[PromoDisplayButtons] [int] NOT NULL,
	[PromoImage] [nvarchar](1000) NOT NULL,
	[PromoImageExtension] [nvarchar](10) NOT NULL,
	[PromoOverlayTiming] [nvarchar](50) NOT NULL,
	[PromoImageWide] [nvarchar](1000) NULL,
	[PromoImageTall] [nvarchar](1000) NULL,
	[PromoExternalUrl] [nvarchar](1000) NULL,
	[PromoExternalUrlButtonText] [nvarchar](250) NULL,
	[PromoPriority] [smallint] NOT NULL,
	[PromoLat] [decimal](18, 15) NULL,
	[PromoLon] [decimal](19, 15) NULL,
	[PromoRadius] [int] NULL,
	[PromoGeographicScope] [smallint] NOT NULL,
	[PromoImageIsDark] [smallint] NOT NULL,
	[PromoDisplayTimeInMs] [smallint] NOT NULL,
	[PromoDisplayTimingDotsToDisplay] [smallint] NOT NULL,
	[PromoDisplayTimingDotsShape] [nvarchar](20) NOT NULL,
	[PromoDisplayTimingDotsSize] [int] NOT NULL,
	[createdAt] [datetimeoffset](7) NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[updatedAtBias] [int] NOT NULL,
	[PromoType] [nvarchar](50) NOT NULL,
	[PromoIsDraft] [smallint] NOT NULL,
 CONSTRAINT [PK_Promotion] PRIMARY KEY CLUSTERED 
(
	[PromotionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [HC].[Promotion] ADD  CONSTRAINT [DF_Promotion_PromotionId]  DEFAULT (newid()) FOR [PromotionId]
GO
ALTER TABLE [HC].[Promotion] ADD  CONSTRAINT [DF_Promotion_DisplayButtons]  DEFAULT ((3)) FOR [PromoDisplayButtons]
GO
ALTER TABLE [HC].[Promotion] ADD  CONSTRAINT [DF_Promotion_PromoImageExtension]  DEFAULT (N'.webp') FOR [PromoImageExtension]
GO
ALTER TABLE [HC].[Promotion] ADD  CONSTRAINT [DF_Promotion_PromoOverlayNumbers]  DEFAULT (N'') FOR [PromoOverlayTiming]
GO
ALTER TABLE [HC].[Promotion] ADD  CONSTRAINT [DF_Promotion_Priority]  DEFAULT ((0)) FOR [PromoPriority]
GO
ALTER TABLE [HC].[Promotion] ADD  CONSTRAINT [DF_Promotion_EventGeographicScope]  DEFAULT ((0)) FOR [PromoGeographicScope]
GO
ALTER TABLE [HC].[Promotion] ADD  CONSTRAINT [DF_Promotion_PromoImageIsDark]  DEFAULT ((1)) FOR [PromoImageIsDark]
GO
ALTER TABLE [HC].[Promotion] ADD  CONSTRAINT [DF_Promotion_PromoReadTimeInMs]  DEFAULT ((5000)) FOR [PromoDisplayTimeInMs]
GO
ALTER TABLE [HC].[Promotion] ADD  CONSTRAINT [DF_Promotion_PromoDisplayTimingDotsToDisplay]  DEFAULT ((10)) FOR [PromoDisplayTimingDotsToDisplay]
GO
ALTER TABLE [HC].[Promotion] ADD  CONSTRAINT [DF_Promotion_PromoDisplayTimingDotsShape]  DEFAULT (N'Chevron') FOR [PromoDisplayTimingDotsShape]
GO
ALTER TABLE [HC].[Promotion] ADD  CONSTRAINT [DF_Promotion_PromoDisplayTimingDotsSize]  DEFAULT ((24)) FOR [PromoDisplayTimingDotsSize]
GO
ALTER TABLE [HC].[Promotion] ADD  CONSTRAINT [DF_Promotion_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [HC].[Promotion] ADD  CONSTRAINT [DF_Promotion_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [HC].[Promotion] ADD  CONSTRAINT [DF_Promotion_updatedAtBias]  DEFAULT (CONVERT([int],abs((CONVERT([bigint],CONVERT([varbinary](8),newid(),(1)))/(40020.2323))%(999999)))) FOR [updatedAtBias]
GO
ALTER TABLE [HC].[Promotion] ADD  CONSTRAINT [DF_Promotion_PromoType]  DEFAULT (N'unknown') FOR [PromoType]
GO
ALTER TABLE [HC].[Promotion] ADD  CONSTRAINT [DF_Promotion_PromoIsDraft]  DEFAULT ((1)) FOR [PromoIsDraft]
GO
ALTER TABLE [HC].[Promotion]  WITH CHECK ADD  CONSTRAINT [FK_Promotion_City] FOREIGN KEY([CityId])
REFERENCES [HC].[City] ([id])
GO
ALTER TABLE [HC].[Promotion] CHECK CONSTRAINT [FK_Promotion_City]
GO
ALTER TABLE [HC].[Promotion]  WITH CHECK ADD  CONSTRAINT [FK_Promotion_Event] FOREIGN KEY([EventId])
REFERENCES [HC].[Event] ([id])
GO
ALTER TABLE [HC].[Promotion] CHECK CONSTRAINT [FK_Promotion_Event]
GO
ALTER TABLE [HC].[Promotion]  WITH CHECK ADD  CONSTRAINT [FK_Promotion_Hasher] FOREIGN KEY([UserId])
REFERENCES [HC].[Hasher] ([id])
GO
ALTER TABLE [HC].[Promotion] CHECK CONSTRAINT [FK_Promotion_Hasher]
GO
ALTER TABLE [HC].[Promotion]  WITH CHECK ADD  CONSTRAINT [FK_Promotion_Kennel] FOREIGN KEY([KennelId])
REFERENCES [HC].[Kennel] ([id])
GO
ALTER TABLE [HC].[Promotion] CHECK CONSTRAINT [FK_Promotion_Kennel]
GO
ALTER TABLE [HC].[Promotion]  WITH CHECK ADD  CONSTRAINT [CK_PromotionIndicatorShape] CHECK  (([PromoDisplayTimingDotsShape]='Chevron short' OR [PromoDisplayTimingDotsShape]='Chevron medium' OR [PromoDisplayTimingDotsShape]='Chevron long' OR [PromoDisplayTimingDotsShape]='Circle' OR [PromoDisplayTimingDotsShape]='Square'))
GO
ALTER TABLE [HC].[Promotion] CHECK CONSTRAINT [CK_PromotionIndicatorShape]
GO
/****** Object:  Trigger [HC].[trgUpdateModifiedOnDateForPromotions]    Script Date: 3/8/2026 12:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [HC].[trgUpdateModifiedOnDateForPromotions]
   ON  [HC].[Promotion]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prHasher extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		UPDATE tbl Set updatedAt = dateadd(MICROSECOND,tbl.updatedAtBias,SYSDATETIME()) 
		FROM HC.Promotion tbl
		INNER JOIN INSERTED ins on tbl.PromotionId = ins.PromotionId
	
END
GO
ALTER TABLE [HC].[Promotion] ENABLE TRIGGER [trgUpdateModifiedOnDateForPromotions]
GO
