/****** Object:  Table [HC].[ServerStatus]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[ServerStatus](
	[id] [uniqueidentifier] NOT NULL,
	[ApiVersion] [nvarchar](25) NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[IosDownloadLink] [nvarchar](250) NOT NULL,
	[AndroidDownloadLink] [nvarchar](250) NOT NULL,
	[ImageRootUrl] [nvarchar](250) NOT NULL,
	[GlobalGoogleCalendarAddress] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_ServerStatus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [HC].[ServerStatus] ADD  CONSTRAINT [DF_ServerStatus_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[ServerStatus] ADD  CONSTRAINT [DF_ServerStatus_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [HC].[ServerStatus] ADD  CONSTRAINT [DF_ServerStatus_IosDownloadLink]  DEFAULT ('') FOR [IosDownloadLink]
GO
ALTER TABLE [HC].[ServerStatus] ADD  CONSTRAINT [DF_ServerStatus_AndroidDownloadLink]  DEFAULT ('') FOR [AndroidDownloadLink]
GO
ALTER TABLE [HC].[ServerStatus] ADD  CONSTRAINT [DF_ServerStatus_ImageRootUrl]  DEFAULT ('') FOR [ImageRootUrl]
GO
ALTER TABLE [HC].[ServerStatus] ADD  CONSTRAINT [DF_ServerStatus_GlobalGoogleCalendarTrigger]  DEFAULT (N'.') FOR [GlobalGoogleCalendarAddress]
GO
