/****** Object:  Table [HC].[SplashSequenceViews]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[SplashSequenceViews](
	[id] [uniqueidentifier] NOT NULL,
	[SplashSequenceId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ViewedOn] [datetimeoffset](7) NOT NULL,
	[Removed] [smallint] NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[updatedAtBias] [int] NOT NULL,
 CONSTRAINT [PK_SplashSequenceViews] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [HC].[SplashSequenceViews] ADD  CONSTRAINT [DF_SplashSequenceViews_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[SplashSequenceViews] ADD  CONSTRAINT [DF_SplashSequenceViews_Removed]  DEFAULT ((0)) FOR [Removed]
GO
ALTER TABLE [HC].[SplashSequenceViews] ADD  CONSTRAINT [DF_SplashSequenceViews_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [HC].[SplashSequenceViews] ADD  CONSTRAINT [DF_SplashSequenceViews_updatedAtBias]  DEFAULT (CONVERT([int],abs((CONVERT([bigint],CONVERT([varbinary](8),newid(),(1)))/(40020.2323))%(999999)))) FOR [updatedAtBias]
GO
