/****** Object:  Table [HC].[Song]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[Song](
	[id] [uniqueidentifier] NOT NULL,
	[SongName] [nvarchar](120) NOT NULL,
	[TuneOf] [nvarchar](500) NULL,
	[BawdyRating] [smallint] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[Actions] [nvarchar](max) NULL,
	[Variants] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[AudioUrl] [nvarchar](500) NULL,
	[AutoAddToKennel] [smallint] NOT NULL,
	[Rank] [smallint] NOT NULL,
	[AddedBy_KennelId] [uniqueidentifier] NULL,
	[AddedBy_UserId] [uniqueidentifier] NULL,
	[Lyrics] [nvarchar](max) NOT NULL,
	[Tags] [nvarchar](max) NULL,
	[Removed] [smallint] NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[updatedAtBias] [int] NOT NULL,
	[createdAt] [datetimeoffset](7) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [HC].[Song] ADD  CONSTRAINT [DF_Song_Removed]  DEFAULT ((0)) FOR [Removed]
GO
ALTER TABLE [HC].[Song] ADD  CONSTRAINT [DF_Song_updatedAt]  DEFAULT (CONVERT([datetimeoffset](7),sysutcdatetime(),(0))) FOR [updatedAt]
GO
ALTER TABLE [HC].[Song] ADD  CONSTRAINT [DF_Song_updatedAtBias]  DEFAULT (CONVERT([int],abs((CONVERT([bigint],CONVERT([varbinary](8),newid(),(1)))/(40020.2323))%(999999)))) FOR [updatedAtBias]
GO
ALTER TABLE [HC].[Song] ADD  CONSTRAINT [DF_Song_createdAt]  DEFAULT (CONVERT([datetimeoffset](7),sysutcdatetime(),(0))) FOR [createdAt]
GO
