/****** Object:  Table [HC].[WebAppLogin]    Script Date: 3/8/2026 12:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HC].[WebAppLogin](
	[id] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[LoginDatetime] [datetimeoffset](7) NOT NULL,
	[LoginSuccessful] [smallint] NOT NULL,
	[Browser] [nvarchar](50) NULL,
	[BrowserId] [nvarchar](50) NULL,
	[IsMobileDevice] [smallint] NULL,
	[MobileDeviceModel] [nvarchar](50) NULL,
	[MobileDeviceManufacturer] [nvarchar](50) NULL,
	[Platform] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Version] [nvarchar](20) NULL,
 CONSTRAINT [PK_WebAppLogin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [HC].[WebAppLogin] ADD  CONSTRAINT [DF_WebAppLogin_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [HC].[WebAppLogin] ADD  CONSTRAINT [DF_WebAppLogin_LoginSuccessful]  DEFAULT ((0)) FOR [LoginSuccessful]
GO
