/****** Object:  StoredProcedure [HC5].[hcportal_getKennel]    Script Date: 3/8/2026 11:54:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [HC5].[hcportal_getKennel]

@publicHasherId uniqueidentifier = NULL,
@accessToken nvarchar(1000) = NULL,
@publicKennelId uniqueidentifier = NULL,

-- optoinal parameters
@ipAddress nvarchar(100) = NULL,
@ipGeoDetails nvarchar(2000) = NULL

AS

BEGIN
	SET NOCOUNT ON

	-- EXEC HC5.hcportal_getKennel @publicHasherId = 'B6BAFD0D-5D2E-41CD-8495-811D551F01D0', @accessToken = '233E5CB6E56583B5CEB86CEEC9FAD2B18377E165B1D5F78C818FF59903BB9A4B', @publicKennelId = '4483B884-E862-44CA-B52A-D95C9E876D4B'

--{"publicHasherId":"d392243b-f581-47a8-9f39-024f55c23264","accessToken":"233E5CB6E56583B5CEB86CEEC9FAD2B18377E165B1D5F78C818FF59903BB9A4B","publicKennelIds":"null","specialEventKennelIds":"null","cityNames":"null","specialEventCityNames":"null","regionNames":"null","regionCodes":"null","specialEventRegionNames":"null","specialEventRegionCodes":"null","countryCodes":"NL","countryNames":"null","specialEventCountryCodes":"BE","specialEventCountryNames":"null","continentNames":"null","continentCodes":"null","specialEventContinentNames":"null","specialEventContinentCodes":"null"}

	DECLARE @errorId uniqueidentifier
	DECLARE @isError smallint = 0
	DECLARE @errorTitle nvarchar(500) = ''
	-- EXEC HC3.hcportal_getEvents @publicHasherId = 'd392243b-f581-47a8-9f39-024f55c23264',@accessToken = '', @countryCodes = 'NL',@specialEventCountryCodes='BE'


	IF (@publicHasherId IS NULL) OR (datalength(@publicHasherId) != 16)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Null or invalid publicHasherId'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','Null or empty publicHasherId','Null or empty publicHasherId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'Null or empty value was passed as the publicHasherId to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		SET @isError = 1
	END

	IF (@publicHasherId != '22222222-2222-2222-2222-222222222222') AND (@publicHasherId != '11111111-1111-1111-1111-111111111111')
	BEGIN
		DECLARE @hasherId uniqueidentifier
		SELECT @hasherId = id from HC.Hasher WHERE PublicHasherId = @publicHasherId

		IF (@hasherId IS NULL) AND (@isError = 0)
		BEGIN
			SET @errorId = newid()
			SET @isError = 1
			SET @errorTitle = 'No record found with provided @publicHasherId'
			INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @publicHasherId','@publicHasherId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
			SELECT 
			@errorId as errorId,
			cast (2 as int) as errorType 
			,@errorTitle as errorTitle
			,'@publicHasherId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
			,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
			,OBJECT_NAME(@@PROCID) as errorProc
		END
	END


	IF ((@publicKennelId IS NULL) OR (datalength(@publicKennelId) != 16)) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @errorTitle = 'NULL or invalid publicKennelId'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) 
		VALUES (@errorId,'hcportal',@errorTitle,'An invalid publicKennelId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		,@errorTitle as errorTitle
		,'An internal error was encountered in our web page (null or invalid publicKennelId).' as errorUserMessage
		,'Please contact us at harriercentral@gmail.com to learn more about how to generate web pages from our system. We are happy to help!' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		SET @isError = 1
	END

	DECLARE @kennelId uniqueidentifier
	SELECT @kennelId = id from HC.Kennel WHERE PublicKennelId = @publicKennelId

    IF (@kennelId IS NULL) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'No record found with provided @publicKennelId'
		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @publicKennelId','@publicKennelId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'@publicKennelId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END


	IF (HC.CHECK_PORTAL_ACCESS_TOKEN(@publicHasherId,OBJECT_NAME(@@PROCID),@accessToken,@publicKennelId) = 0) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @errorTitle = 'Invalid access token' 
		SET @isError = 1

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) 
		VALUES (@errorId,'hcportal','Invalid access token','An invalid access token was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		,@errorTitle as errorTitle
		,'An invalid access token was passed to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		SET @isError = 1
	END

	DECLARE @isAdmin smallint = 1
	IF (@publicHasherId = '11111111-1111-1111-1111-111111111111') 
	BEGIN
		SELECT @isAdmin = 0
	END


	INSERT INTO [LOG].[GeneralLog]
        ([LogSource]
        ,[Message]
		,[Data]
        ,[Timestamp])
    VALUES
        (
		case when @isAdmin = 1 THEN 'Admin Portal: hcportal_getKennel' ELSE 'HashRuns.Org hcportal_getKennel' END 
        ,case when @isError = 1 then @errorTitle + ' ' else '' end + coalesce(@ipAddress,'<no IP address>')
		,coalesce(@ipGeoDetails,'{   "ip": "<no IP address>",   "hostname": "<none>",   "city": "<none>",   "region": "<none>",   "country": "??",   "loc": 0,0",   "org": "<none>",   "postal": "<none>",   "timezone": "<none>" }')
        ,Getdate()
	)

	IF (@isError = 1)
	BEGIN
		RETURN
	END

	SELECT
		 k.PublicKennelId as kennelPublicId
		,k.KennelName as kennelName
		,k.KennelShortName as kennelShortName
		,k.KennelUniqueShortName as kennelUniqueShortName
		,k.KennelLogo as kennelLogo
		,k.KennelDescription as kennelDescription
		,k.Latitude as latitude
		,k.Longitude as longitude
		,c.latitude as defaultLatitude
		,c.longitude as defaultLongitude
		,k.ExcludeFromLeaderboard as excludeFromLeaderboard
		--,k.GoogleCalendarId as googleCalendarId
		,k.PublishToGoogleCalendar as publishToGoogleCalendar
		,k.PublishToGoogleCalendarAddresses as publishToGoogleCalendarAddresses
		,k.KennelMismanagementTeam as mismanagementTeam
		,k.KennelWebsiteUrl as kennelWebsiteUrl
		,k.KennelCoverPhoto as kennelCoverPhoto
		,c.CityName as cityName
		,r.RegionName as regionName
		,n.CountryName as countryName
		,n.ContinentName as continentName
		,n.FlagFile as countryFlag
		,r.FlagFile as regionFlag
		,c.FlagFile	 as cityFlag
		,k.[WebsiteBackgroundColor] as websiteBackgroundColor
		,k.[WebsiteBackgroundImage] as websiteBackgroundImage
		,k.[WebsiteTitleText] as websiteTitleText
		,k.[WebsiteMenuBackgroundColor] as websiteMenuBackgroundColor
		,k.[WebsiteMenuTextColor] as websiteMenuTextColor
		,k.[WebsiteWelcomeText] as websiteWelcomeText
		,k.[WebsiteBodyTextColor] as websiteBodyTextColor
		,k.[WebsiteTitleTextColor] as websiteTitleTextColor
		,k.[WebsiteMismanagementDescription] as websiteMismanagementDescription
		,k.[WebsiteMismanagementJson] as websiteMismanagementJson
		,k.[WebsiteExtraMenusJson] as websiteExtraMenusJson
		,k.[WebsiteControlFlags] as websiteControlFlags
		,k.[WebsiteContactDetailsJson] as websiteContactDetailsJson
		,k.[WebsiteBannerImage] as websiteBannerImage
		,k.[WebsiteUrlShortcode] as websiteUrlShortcode
		,k.[WebsiteTitleFont] as websiteTitleFont
		,k.[WebsiteBodyFont] as websiteBodyFont
		-- new params
		,k.[KennelStatus] as kennelStatus
		,k.[KennelAdminEmailList] as kennelAdminEmailList
		,k.[DisseminateHashRunsDotOrg] as disseminateHashRunsDotOrg
		,k.[DisseminateAllowWebLinks] as disseminateAllowWebLinks
		,k.[DisseminationAudience] as disseminationAudience
		,k.[DisseminateOnGlobalGoogleCalendar] as disseminateOnGlobalGoogleCalendar
		,k.[CanEditRunAttendence] as canEditRunAttendence
		,k.[KennelPinColor] as kennelPinColor
		,k.[KennelEventsUrl] as kennelEventsUrl
		,k.[KennelHcEventsUrl] as kennelHcEventsUrl
		,k.[DefaultEventPriceForMembers] as defaultEventPriceForMembers
		,k.[DefaultEventPriceForNonMembers] as defaultEventPriceForNonMembers
		,cast(k.[DefaultRunStartTime] as DateTime) as defaultRunStartTime
		,k.[BankScheme] as bankScheme
		,k.[BankAccountNumber] as bankAccountNumber
		,k.[BankBic] as bankBic
		,k.[BankBeneficiary] as bankBeneficiary
		,k.[KennelPaymentScheme] as kennelPaymentScheme
		,k.[KennelPaymentUrl] as kennelPaymentUrl
		,k.[KennelPaymentUrlExpires] as kennelPaymentUrlExpires
		,k.[KennelPaymentMemberSurcharge] as kennelPaymentMemberSurcharge
		,k.[KennelPaymentNonMemberSurcharge] as kennelPaymentNonMemberSurcharge
		,k.[KennelPaymentScheme2] as kennelPaymentScheme2
		,k.[KennelPaymentUrl2] as kennelPaymentUrl2
		,k.[KennelPaymentUrlExpires2] as kennelPaymentUrlExpires2
		,k.[KennelPaymentMemberSurcharge2] as kennelPaymentMemberSurcharge2
		,k.[KennelPaymentNonMemberSurcharge2] as kennelPaymentNonMemberSurcharge2
		,k.[KennelPaymentScheme3] as kennelPaymentScheme3
		,k.[KennelPaymentUrl3] as kennelPaymentUrl3
		,k.[KennelPaymentUrlExpires3] as kennelPaymentUrlExpires3
		,k.[KennelPaymentMemberSurcharge3] as kennelPaymentMemberSurcharge3
		,k.[KennelPaymentNonMemberSurcharge3] as kennelPaymentNonMemberSurcharge3
		,k.[AllowSelfPayment] as allowSelfPayment
		,k.[AllowNegativeCredit] as allowNegativeCredit
		,k.[CityId] as cityId
		,k.[ProvinceStateId] as provinceStateId
		,k.[CountryId] as countryId
		,k.[DefaultRunTags1] as defaultRunTags1
		,k.[DefaultRunTags2] as defaultRunTags2
		,k.[DefaultRunTags3] as defaultRunTags3
		,k.[MembershipDurationInMonths] as membershipDurationInMonths
		,k.[RunCountStartDate] as runCountStartDate
		,k.[DistancePreference] as distancePreference
		,n.[DistancePreference] as defaultDistancePreference
		,k.[ExtApiKey] as extApiKey
		,k.[KennelSearchTags] as kennelSearchTags
		,k.[NotificationMinutesBeforeRunForChatPushNotifications] as notificationMinutesBeforeRunForChatPushNotifications
		,k.[NotificationMinutesBeforeRunForCheckinReminder] as notificationMinutesBeforeRunForCheckinReminder
	FROM HC.Kennel k 
	INNER JOIN HC.City c on c.id = k.CityId
	INNER JOIN HC.Region r on r.id = c.RegionId
	INNER JOIN HC.Country n on n.id = r.CountryId
	WHERE k.PublicKennelId = @publicKennelId

END
	
	

	


			 
GO
