/****** Object:  StoredProcedure [HC5].[hcportal_updateKennelHasher]    Script Date: 3/8/2026 11:54:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [HC5].[hcportal_updateKennelHasher]

-- required parameters (we accept nulls so we can trap errors in SQL instead of having the SP fail to execute)
@publicHasherId uniqueidentifier = NULL,
@accessToken nvarchar(1000) = NULL,
@hasherBeingEditedPublicId uniqueidentifier = NULL,
@publicKennelId uniqueidentifier = NULL,

-- optional parameters
@firstName nvarchar(150) = NULL,
@lastName nvarchar(150) = NULL,
@eMail nvarchar(250) = NULL,
@hashName nvarchar(250) = NULL,
@isMember nvarchar(50) = NULL,
@status nvarchar(50) = NULL,
@emailAlerts nvarchar(50) = NULL,
@notifications nvarchar(50) = NULL,
@discountPercent smallint = NULL,
@discountAmount smallmoney = NULL,
@discountDescription nvarchar(50) = NULL,
@historicTotalRuns nvarchar(50) = NULL,
@historicHaring nvarchar(50) = NULL,
@historicCountsAreEstimates nvarchar(50) = NULL,

-- optional parameters
@ipAddress nvarchar(100) = NULL,
@ipGeoDetails nvarchar(2000) = NULL

AS

BEGIN

	SET NOCOUNT ON

	DECLARE @errorId uniqueidentifier
	DECLARE @errorTitle nvarchar(500) = ''
	DECLARE @isError int = 0

	IF (@publicHasherId IS NULL) OR (datalength(@publicHasherId) != 16)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Null or invalid publicHasherId'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','Null or empty publicHasherId','Null or empty publicHasherId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'Null or empty value was passed as the publicHasherId to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END

	DECLARE @hasherId uniqueidentifier
	SELECT @hasherId = id from HC.Hasher WHERE PublicHasherId = @publicHasherId

    IF (@hasherId IS NULL) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'No record found with provided @publicHasherId'
		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @publicHasherId','@publicHasherId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'@publicHasherId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END

	--SELECT 'Step 1' as result1

	
	IF ((@hasherBeingEditedPublicId IS NULL) OR (datalength(@hasherBeingEditedPublicId) != 16)) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Null or invalid hasherBeingEditedId'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','Null or empty hasherBeingEditedId','Null or empty hasherBeingEditedId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),null)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'Null or empty value was passed as the hasherBeingEditedId to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		
	END

	DECLARE @hasherBeingEditedId uniqueidentifier
	SELECT @hasherBeingEditedId = id from HC.Hasher WHERE PublicHasherId = @hasherBeingEditedPublicId

    IF ((@hasherBeingEditedId IS NULL) AND (@isError = 0))
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'No record found with provided @hasherBeingEditedId'
		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @hasherBeingEditedId','@hasherBeingEditedId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@hasherBeingEditedId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'@hasherBeingEditedId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END

	IF ((@publicKennelId IS NULL) OR (datalength(@publicKennelId) != 16)) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @errorTitle = 'NULL or invalid publicKennelId'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) 
		VALUES (@errorId,'hcportal',@errorTitle,'An invalid publicKennelId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		,@errorTitle as errorTitle
		,'An internal error was encountered in our web page (null or invalid publicKennelId).' as errorUserMessage
		,'Please contact us at harriercentral@gmail.com to learn more about how to generate web pages from our system. We are happy to help!' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		SET @isError = 1
	END

	DECLARE @kennelId uniqueidentifier
	SELECT @kennelId = id from HC.Kennel WHERE PublicKennelId = @publicKennelId

    IF ((@kennelId IS NULL) AND (@isError = 0))
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'No record found with provided @publicKennelId'
		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @publicKennelId','@publicKennelId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'@publicKennelId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END


	--SELECT 'Step 2' as result2

	IF (HC.CHECK_PORTAL_ACCESS_TOKEN(@publicHasherId,OBJECT_NAME(@@PROCID),@accessToken,@hasherBeingEditedPublicId) = 0) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Invalid access token'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) VALUES (@errorId,'<unknown>','Invalid access token','An invalid access token was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		,@errorTitle as errorTitle
		,'An invalid access token was passed to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END

	INSERT INTO [LOG].[GeneralLog]
        ([LogSource]
        ,[Message]
		,[Data]
        ,[Timestamp])
    VALUES
        (
		'Admin Portal: hcportal_updateKennelHasher'
        ,case when @isError = 1 then @errorTitle + ' ' else '' end + coalesce(@ipAddress,'<no IP address>')
		,coalesce(@ipGeoDetails,'{   "ip": "<no IP address>",   "hostname": "<none>",   "city": "<none>",   "region": "<none>",   "country": "??",   "loc": 0,0",   "org": "<none>",   "postal": "<none>",   "timezone": "<none>" }')
        ,Getdate()
	)

	if (@isError = 1)
	BEGIN
		RETURN
	END



		IF (
			(@eMail IS NOT NULL)
			OR (@firstName IS NOT NULL) 
			OR (@lastName IS NOT NULL)
			OR (@hashName IS NOT NULL) 
		)
		BEGIN
			UPDATE HC.Hasher 
				SET 
					Email = coalesce(@eMail,Email),
					FirstName = coalesce(@firstName,FirstName),
					LastName = coalesce(@lastName,LastName),
					HashName = coalesce(@hashName,HashName),
					updatedAt = getdate()
				WHERE PublicHasherId = @hasherBeingEditedPublicId
		END

		IF (
			(@discountAmount IS NOT NULL)
			OR (@discountPercent IS NOT NULL) 
			OR (@discountDescription IS NOT NULL)
		)
		BEGIN
			UPDATE HC.HasherKennelMap 
				SET 
					DiscountAmount = coalesce(@discountAmount,DiscountAmount),
					DiscountPercent = coalesce(@discountPercent,DiscountPercent),
					DiscountDescription = coalesce(@discountDescription,DiscountDescription),
					updatedAt = getdate()
				FROM HC.HasherKennelMap hkm
				INNER JOIN HC.Hasher h on hkm.UserId = h.id
				INNER JOIN HC.Kennel k on hkm.KennelId = k.id
				WHERE h.PublicHasherId = @hasherBeingEditedPublicId
				AND k.PublicKennelId = @publicKennelId
		END


		IF (
			(@isMember IS NOT NULL) OR (@status IS NOT NULL)
		)
		BEGIN
			UPDATE hkm 
				SET hkm.MembershipExpirationDate = 
					case when lower(@isMember) = 'yes' OR lower(@status) = 'member' then '2100-01-01' else dateadd(day,-1,getdate()) end,
				hkm.Following = 1,
				hkm.updatedAt = getdate()
				FROM HC.HasherKennelMap hkm
				INNER JOIN HC.Hasher h on hkm.UserId = h.id
				INNER JOIN HC.Kennel k on hkm.KennelId = k.id
				WHERE h.PublicHasherId = @hasherBeingEditedPublicId
				AND k.PublicKennelId = @publicKennelId
		END


		IF ((@emailAlerts IS NOT NULL) OR (@notifications IS NOT NULL))
		BEGIN
			UPDATE hkm 
				SET 
					hkm.KennelNotificationPreference = case when @notifications is null then hkm.KennelNotificationPreference
															when lower(@notifications) = 'on' then 1
															when lower(@notifications) = 'off' then 2
															when lower(@notifications) = 'auto' then 0
															else hkm.KennelNotificationPreference end,
					hkm.KennelEmailAlertPreference = case when @emailAlerts is null then hkm.KennelEmailAlertPreference
															when lower(@emailAlerts) = 'on' then 1
															when lower(@emailAlerts) = 'off' then 2
															when lower(@emailAlerts) = 'auto' then 0
															else hkm.KennelEmailAlertPreference end,
					hkm.updatedAt = getdate()
				FROM HC.HasherKennelMap hkm
				INNER JOIN HC.Hasher h on hkm.UserId = h.id
				INNER JOIN HC.Kennel k on hkm.KennelId = k.id
				WHERE h.PublicHasherId = @hasherBeingEditedPublicId
				AND k.PublicKennelId = @publicKennelId
		END

		IF (@historicCountsAreEstimates IS NOT NULL) 
		BEGIN
			UPDATE hkm 
				SET 
					hkm.HistoricalCountIsEstimate = case when lower(@historicCountsAreEstimates) = 'yes' then 1
															when lower(@historicCountsAreEstimates) = 'no' then 0
															else hkm.HistoricalCountIsEstimate end,
				hkm.updatedAt = getdate()
				FROM HC.HasherKennelMap hkm
				INNER JOIN HC.Hasher h on hkm.UserId = h.id
				INNER JOIN HC.Kennel k on hkm.KennelId = k.id
				WHERE h.PublicHasherId = @hasherBeingEditedPublicId
				AND k.PublicKennelId = @publicKennelId
		END


	-- here we have to deal with a bit of a disconnect in how we 
	-- count runs. The database stores the number of pack runs
	-- and the number of hared runs, the sum of which is the
	-- number of total runs. By contrast, the UI displays and
	-- lets the user edit the number of pack runs or the number
	-- of total runs. So when either of the two parameters is
	-- edited, we need to adjust the other accordingly.

	DECLARE @hid uniqueidentifier,
			@kid uniqueidentifier




	IF ((@historicTotalRuns IS NOT NULL) AND (ISNUMERIC(@historicTotalRuns) = 1))
	BEGIN
		SELECT @hid = id from HC.Hasher where PublicHasherId = @hasherBeingEditedPublicId
		SELECT @kid = id from HC.Kennel where PublicKennelId = @publicKennelId

		--SELECT 'Step 10' as result10
		DECLARE @htr int = cast(@historicTotalRuns as int)
		if (@htr is not null)
		BEGIN
			--SELECT 'Step 1: ' + cast(@htr as nvarchar(40))
			UPDATE hkm 
				SET hkm.HistoricalTotalRunCount = @htr,
				hkm.updatedAt = getdate()
				FROM HC.HasherKennelMap hkm
				INNER JOIN HC.Hasher h on hkm.UserId = h.id
				INNER JOIN HC.Kennel k on hkm.KennelId = k.id
				WHERE h.PublicHasherId = @hasherBeingEditedPublicId
				AND k.PublicKennelId = @publicKennelId

			EXEC [HC].[nonApi_updateRunCountsByUser]
				@userId = @hid

			SELECT  hkm.id as hkmId,
					hkm.HistoricalHaringCount,
					hkm.HistoricalTotalRunCount,
					hkm.HcTotalRunCount,
					hkm.HcHaringCount,
					@hasherBeingEditedPublicId as hasherBeingEditedId,
					@publicHasherId as publicHasherId
				FROM HC.HasherKennelMap hkm
				INNER JOIN HC.Hasher h on hkm.UserId = h.id
				INNER JOIN HC.Kennel k on hkm.KennelId = k.id
				WHERE h.PublicHasherId = @hasherBeingEditedPublicId
				AND k.PublicKennelId = @publicKennelId

		END
	END

	IF ((@historicHaring IS NOT NULL) AND(ISNUMERIC(@historicHaring) = 1))
	BEGIN
		SELECT @hid = id from HC.Hasher where PublicHasherId = @hasherBeingEditedPublicId
		SELECT @kid = id from HC.Kennel where PublicKennelId = @publicKennelId

		DECLARE @hh int = cast(@historicHaring as int)
		IF (@hh is not null)
		BEGIN

			UPDATE hkm 
				SET hkm.HistoricalHaringCount = @hh,
				hkm.updatedAt = getdate()
				FROM HC.HasherKennelMap hkm
				INNER JOIN HC.Hasher h on hkm.UserId = h.id
				INNER JOIN HC.Kennel k on hkm.KennelId = k.id
				WHERE h.PublicHasherId = @hasherBeingEditedPublicId
				AND k.PublicKennelId = @publicKennelId

			--EXEC [HC].[nonApi_updateRunCountsByUser]
			--	@userId = @hid

			SELECT  hkm.id as hkmId,
					hkm.HistoricalHaringCount,
					hkm.HistoricalTotalRunCount,
					hkm.HcTotalRunCount,
					hkm.HcHaringCount,
					@hasherBeingEditedPublicId as hasherBeingEditedId,
					@publicHasherId as publicHasherId
				FROM HC.HasherKennelMap hkm
				INNER JOIN HC.Hasher h on hkm.UserId = h.id
				INNER JOIN HC.Kennel k on hkm.KennelId = k.id
				WHERE h.PublicHasherId = @hasherBeingEditedPublicId
				AND k.PublicKennelId = @publicKennelId
		END
	END
END





GO
