/****** Object:  StoredProcedure [HC5].[hcportal_sendEventMessage]    Script Date: 3/8/2026 11:54:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [HC5].[hcportal_sendEventMessage]

/*

"{"queryType":"sendEventMessage","publicHasherId":"b6bafd0d-5d2e-41cd-8495-811d551f01d0","accessToken":"CF18388DCB25C5E22A2B1420B76BF75C76A43D68AFA0605089FC007F8F399801","publicEventId":"b9c72bb6-e74c-4ea8-a6bb-44ebb425f1b6","messageId":"22a22d01-c563-4072-ad88-706b38c955ee","messageContent":"test","messageReleasabilityFlags":63,"messageTitle":"CH3 - April Fools!"}"

*/

/*

declare @messageId uniqueidentifier = newid()

EXEC [HC5].[hcportal_sendEventMessage] 
@publicHasherId = 'b6bafd0d-5d2e-41cd-8495-811d551f01d0', 
@accessToken = 'xxx', 
@publicEventId = 'b9c72bb6-e74c-4ea8-a6bb-44ebb425f1b6', 
@messageId = @messageId,
@messageTitle = 'Test message', 
@messageContent = 'Test message content', 
@messageReleasabilityFlags = 63

*/

-- required parameters (we accept nulls so we can trap errors in SQL instead of having the SP fail to execute)
@publicHasherId uniqueidentifier = NULL,
@accessToken nvarchar(1000) = NULL,
@publicEventId uniqueidentifier = NULL,
@messageId uniqueidentifier = NULL,
@messageTitle nvarchar(250) = NULL,
@messageContent nvarchar(500) = NULL,
@messageReleasabilityFlags int = NULL,

-- optoinal parameters
@ipAddress nvarchar(100) = NULL,
@ipGeoDetails nvarchar(2000) = NULL

AS
BEGIN

		SET NOCOUNT ON

	DECLARE @errorId uniqueidentifier
	DECLARE @isError smallint = 0
	DECLARE @errorTitle nvarchar(500) = ''

	IF (@publicHasherId IS NULL) OR (datalength(@publicHasherId) != 16)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Null or invalid publicHasherId'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName) VALUES (@errorId,'<unknown>','Null or empty publicHasherId','Null or empty publicHasherId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID))
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'Null or empty value was passed as the publicHasherId to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END

	IF (@publicEventId IS NULL) OR (datalength(@publicEventId) != 16)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Null or invalid publicEventId'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','Null or empty publicEventId','Null or empty publicEventId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'Null or empty value was passed as the publicEventId to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END

	IF (@messageId IS NULL) OR (datalength(@messageId) != 16)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Null or invalid messageId'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','Null or empty messageId','Null or empty messageId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),NULL)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'Null or empty value was passed as the messageId to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END

	DECLARE @hasherId uniqueidentifier
	SELECT @hasherId = id from HC.Hasher WHERE PublicHasherId = @publicHasherId

	IF (@hasherId IS NULL) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'No record found with provided @publicHasherId'
		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @publicHasherId','@publicHasherId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'@publicHasherId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END

	IF (HC.CHECK_PORTAL_ACCESS_TOKEN(@publicHasherId,OBJECT_NAME(@@PROCID),@accessToken,@publicEventId) = 0) AND (@isError = 0) 
	BEGIN
		SET @errorId = newid()
		SET @errorTitle = 'Invalid access token'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) VALUES (@errorId,'<unknown>','Invalid access token','An invalid access token was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		,@errorTitle as errorTitle
		,'An invalid access token was passed to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		SET @isError = 1
	END

	INSERT INTO [LOG].[GeneralLog]
        ([LogSource]
        ,[Message]
		,[Data]
        ,[Timestamp])
    VALUES
        (
		'Admin Portal: hcportal_getKennelHashers'
        ,case when @isError = 1 then @errorTitle + ' ' else '' end + coalesce(@ipAddress,'<no IP address>')
		,coalesce(@ipGeoDetails,'{   "ip": "<no IP address>",   "hostname": "<none>",   "city": "<none>",   "region": "<none>",   "country": "??",   "loc": 0,0",   "org": "<none>",   "postal": "<none>",   "timezone": "<none>" }')
        ,Getdate()
	)

	if (@isError = 1)
	BEGIN
		RETURN
	END

	DECLARE @timeLimitForNotificationsInHours smallint = 6
	
	DECLARE @eventId uniqueidentifier,
			@kennelId uniqueidentifier,
			@eventStartDateTimeInUtc datetimeoffset(7),
			@isEventWithinTimeLimitForNotifications smallint = 0
	
	SELECT 
		@eventId = evt.id,
		@kennelId = evt.KennelId,
		@messageTitle = coalesce(@messageTitle,evt.EventName),
		@eventStartDateTimeInUtc = (cast(evt.EventStartDatetime as datetime) AT TIME ZONE tz.Timezone) AT TIME ZONE 'UTC'
	FROM HC.Event evt 
	INNER JOIN HC.Kennel k on k.id = evt.KennelId
	INNER JOIN HC.City c on k.CityId = c.id
	INNER JOIN DomainValues.Timezone tz on tz.id = c.TimezoneId
	WHERE PublicEventId = @publicEventId

	IF (abs(datediff(minute,getdate(),@eventStartDateTimeInUtc)) <= (@timeLimitForNotificationsInHours * 60))
	BEGIN
		SET @isEventWithinTimeLimitForNotifications = 1
	END

	IF (
		@messageContent IS NULL 
		OR datalength(@messageContent) = 0 
		--OR @messageTitle IS NULL 
		--OR DATALENGTH(@messageTitle) = 0 
		OR @MessageReleasabilityFlags IS NULL 
		OR (@MessageReleasabilityFlags & 0x0000003f) = 0) 
	  AND (@isError = 0) 
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Missing or empty fields in call to stored procedure'

		declare @errorDetail nvarchar(1000)
		SET @errorDetail = ''
		IF (@messageContent IS NULL OR datalength(@messageContent) = 0) SET @errorDetail = 'Message Content '
		--IF (@messageTitle IS NULL OR datalength(@messageTitle) = 0) SET @errorDetail = @errorDetail + 'Message Title '
		IF (@MessageReleasabilityFlags IS NULL OR (@MessageReleasabilityFlags & 0x0000000f) = 0) SET @errorDetail = @errorDetail +  'Message Releasability Flags '

		SET @errorDetail = REPLACE(TRIM(@errorDetail),' ',', ')

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) VALUES (@errorId,'<unknown>','Missing or empty ' + @errorDetail + ' calling sendMessage procedure','Empty or missing fields were sent to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@hasherId,@errorDetail)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		,@errorTitle as errorTitle
		,'Empty or missing fields sent to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		RETURN
	END

	IF (@messageTitle IS NULL)
	BEGIN
		SELECT @messageTitle = evt.EventName FROM HC.Event evt WHERE evt.publicEventId = @eventId
	END


	if (@isError = 1)
	BEGIN
		RETURN
	END

	INSERT INTO [HC].[EventMessage]
           (
		    [id]
           ,[EventId]
		   ,[PublicEventId]
           ,[UserId]
		   ,[PublicHasherId]
           ,[MessageTitle]
           ,[MessageContent]
           ,[MessageReleasabilityFlags]
           
		   )
     VALUES
           (
		    @messageId
           ,@eventId
		   ,@publicEventId
           ,@hasherId
		   ,@publicHasherId
           ,@messageTitle
           ,@messageContent
           ,@MessageReleasabilityFlags)


	DECLARE @sendToHares smallint = @messageReleasabilityFlags & 0x0010,
			@sendToEveryone smallint = @messageReleasabilityFlags & 0x0020,
			@sendToMismanagement smallint  = @messageReleasabilityFlags & 0x0001,
			@sendToMembers smallint  = @messageReleasabilityFlags & 0x0002,
			@sendToFollowers smallint = @messageReleasabilityFlags & 0x0004,
			@sendToRsvps smallint = @messageReleasabilityFlags & 0x0008

	SELECT 
	   msg.[id] as MessageId
      ,[EventId] as EventId
      ,[PublicEventId] as PublicEventId
      ,h.PublicHasherId as UserId
	  ,h.DisplayName as UserDisplayName
	  ,h.Photo as UserPhoto
      ,h.DisplayName + ' - ' + [MessageTitle] as MessageTitle
      --,[MessageTitle] as MessageTitle
      ,[MessageContent] as MessageContent
      ,[MessageReleasabilityFlags] as MessageRelesabilityFlags
	  --,(SELECT COUNT(*) FROM HC.EventMessage em WHERE em.EventId = msg.EventId and em.PublicHasherId != @publicHasherId) as EventChatMessageCount
	  ,0 as EventChatMessageCount -- this is obsolete as of 2.1.3 and can eventually be removed
	  ,msg.[MessageType] as MessageType
	FROM HC.EventMessage msg
	INNER JOIN HC.Hasher h on msg.UserId = h.id
	where msg.id = @messageId and msg.removed = 0 and h.Removed = 0
	
	-- Here are the notification preference flags
		/* 
		1 = Always On
		2 = Off
		4 = On 6 hours before run
		3 = On but muted
		*/

	-- Get a list of Hashers that should receive a full push notification (with sound and message popup)
	-- This is opposed to Hashers that will only receive an in-app notification which will be handled below
	SELECT 
		hkm.UserId as UserId,
		device.FcmToken as FcmToken
		--,h.HashName
		into #tempMessageOn
	FROM HC.HasherKennelMap hkm 
	INNER JOIN HC.Hasher h on hkm.UserId = h.id
	INNER JOIN HC.Event evt on evt.id = @eventId
	INNER JOIN HC.Device device on device.UserId = h.id
	LEFT OUTER JOIN HC.HasherEventMap hem on hem.EventId = evt.id and hem.UserId = h.id
	WHERE evt.id = @eventID
	AND 
	(
	  (coalesce(hem.EventNotificationPreference, hkm.KennelNotificationPreference) = 1) -- always send notifications
	  OR 
	  (
	    -- only send full notifications when within the time window
		(coalesce(hem.EventNotificationPreference, hkm.KennelNotificationPreference) = 4) AND (@isEventWithinTimeLimitForNotifications = 1)
	  )
	)
	AND hkm.KennelId = @kennelId 
	AND device.FcmToken IS NOT NULL
	  AND 
	   (@sendToEveryone != 0
		   OR (@sendToMismanagement != 0 AND hkm.MismanagementRoles != 0)
		   OR (@sendToMembers != 0 AND hkm.MembershipExpirationDate > getdate())
		   OR (@sendToFollowers != 0 AND hkm.Following = 1)
		   OR (@sendToRsvps != 0 AND hem.RsvpState >= 2 AND coalesce(hem.EventNotificationPreference,1) != 0)
		   OR (@sendToHares != 0 AND hem.IsHare != 0 AND coalesce(hem.EventNotificationPreference,1) != 0)
	   )

	-- This query covers cases where a visitor who is not following a Kennel has signed
	-- up for notofications for a run.
	--INSERT #tempMessageOn (UserId,FcmToken)
	--SELECT hem.UserId,device.FcmToken 
	--FROM HC.HasherEventMap hem
	--INNER JOIN HC.Device device on device.UserId = hem.UserId and hem.EventId = @eventId
	--LEFT OUTER JOIN #tempMessageOn t on t.UserId = hem.UserId
	--WHERE t.UserId IS NULL
	--AND coalesce(hem.EventNotificationPreference,1) != 0

	SELECT * FROM #tempMessageOn

	-- now, this is a list of everyone associated with a Kennel who 
	-- did not "qualify" for a full push notification. For these people
	-- we will send an in-app notification so they can see the chat 
	-- updating in realtime when the app is open
	SELECT 
		hkm.UserId,
		device.FcmToken
		--,h.HashName 
	FROM HC.HasherKennelMap hkm
	INNER JOIN HC.Device device on hkm.UserId = device.UserId
	--INNER JOIN HC.Hasher h on h.id = hkm.UserId
	LEFT OUTER JOIN #tempMessageOn t on hkm.UserId = t.UserId
	WHERE hkm.KennelId = @kennelId AND (hkm.Following != 0 OR hkm.MembershipExpirationDate > getdate())
	AND device.FcmToken IS NOT NULL
	AND t.UserId IS NULL

	DROP TABLE #tempMessageOn

	--SELECT 
	--   msg.[id] as MessageId
 --     ,[EventId] as EventId
 --     ,h.PublicHasherId as UserId
	--  ,h.DisplayName as UserDisplayName
	--  ,h.Photo as UserPhoto
 --     ,[MessageTitle] as MessageTitle
 --     ,[MessageContent] as MessageContent
 --     ,[MessageReleasabilityFlags] as MessageRelesabilityFlags
	--FROM HC.EventMessage msg
	--INNER JOIN HC.Hasher h on msg.UserId = h.id
	--where msg.id = @messageId and msg.removed = 0 and h.Removed = 0
	

	--SELECT 
	--	hkm.UserId as UserId,
	--	device.FcmToken as FcmToken
	--FROM HC.HasherKennelMap hkm 
	--INNER JOIN HC.Hasher h on hkm.UserId = h.id
	--INNER JOIN HC.Event evt on evt.id = @eventId
	--INNER JOIN HC.Device device on device.UserId = h.id
	--LEFT OUTER JOIN HC.HasherEventMap hem on hem.EventId = evt.id and hem.UserId = h.id
	--WHERE evt.id = @eventID
	--AND coalesce(hem.EventNotificationPreference, hkm.KennelNotificationPreference) = 1
	--AND hkm.KennelId = @kennelId 
	--  AND 
	--   (@sendToEveryone != 0
	--	   OR (@sendToMismanagement != 0 AND hkm.MismanagementRoles != 0)
	--	   OR (@sendToMembers != 0 AND hkm.MembershipExpirationDate > getdate())
	--	   OR (@sendToFollowers != 0 AND hkm.Following = 1)
	--	   OR (@sendToRsvps != 0 AND hem.RsvpState >= 2 AND coalesce(hem.EventNotificationPreference,1) != 0)
	--	   OR (@sendToHares != 0 AND hem.IsHare != 0 AND coalesce(hem.EventNotificationPreference,1) != 0)
	--   )
-- EXEC [HC5].[hcportal_sendEventMessage] @messageReleasabilityFlags = 32, @hasherId = 'B6BAFD0D-5D2E-41CD-8495-811D551F01D0', @accessToken = 'xxx', @eventId = 'BFBB5280-A1C8-48CF-9DE2-E563E5F944F2', @messageContent = 'Test message content'


END
	
	

GO
