/****** Object:  StoredProcedure [HC5].[hcportal_getEvent]    Script Date: 3/8/2026 11:54:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [HC5].[hcportal_getEvent]

-- required parameters
@publicHasherId uniqueidentifier = NULL,
@accessToken nvarchar(1000) = NULL,
@includePaymentInfo int = 0,

-- optional parameters
@publicEventId uniqueidentifier = NULL,
@kennelUniqueShortName nvarchar(50) = NULL,
@runDesignator nvarchar(50) = NULL,
@ipAddress nvarchar(100) = NULL,
@ipGeoDetails nvarchar(2000) = NULL


-- EXEC [HC5].[hcportal_getEvent] @publicHasherId ='22222222-2222-2222-2222-222222222222', @accessToken = 'not required', @publicEventId = 'E1B6614F-2EF5-40CB-8B68-56263C5804FA'

AS
	SET NOCOUNT ON

	DECLARE @errorId uniqueidentifier
	DECLARE @isError smallint = 0
	DECLARE @errorTitle nvarchar(500) = ''

	IF (@publicHasherId IS NULL) OR (datalength(@publicHasherId) != 16)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Null or invalid publicHasherId'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','Null or empty publicHasherId','Null or empty publicHasherId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'Null or empty value was passed as the publicHasherId to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END

	IF (@publicHasherId != '22222222-2222-2222-2222-222222222222') AND (@publicHasherId != '11111111-1111-1111-1111-111111111111')
	BEGIN
		DECLARE @hasherId uniqueidentifier
		SELECT @hasherId = id from HC.Hasher WHERE PublicHasherId = @publicHasherId

		IF (@hasherId IS NULL) AND (@isError = 0)
		BEGIN
			SET @errorId = newid()
			SET @isError = 1
			SET @errorTitle = 'No record found with provided @publicHasherId'
			INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @publicHasherId','@publicHasherId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
			SELECT 
			@errorId as errorId,
			cast (2 as int) as errorType 
			,@errorTitle as errorTitle
			,'@publicHasherId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
			,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
			,OBJECT_NAME(@@PROCID) as errorProc
		END
	END

	--IF ((@publicEventId IS NULL) OR (datalength(@publicEventId) != 16)) AND (@isError = 0)
	--BEGIN
	--	SET @errorId = newid()
	--	SET @errorTitle = 'Null or invalid publicEventId'
	--	INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','Null or empty publicEventId','Null or empty publicEventId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicEventId)
		
	--	SELECT 
	--	@errorId as errorId,
	--	cast (2 as int) as errorType 
	--	,@errorTitle as errorTitle
	--	,'Null or empty value was passed as the publicEventId to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
	--	,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
	--	,OBJECT_NAME(@@PROCID) as errorProc
	--	SET @isError = 1
	--END

	DECLARE @eventId uniqueidentifier
	DECLARE @kennelId uniqueidentifier

	IF (@publicEventId IS NOT NULL)
		BEGIN
			SELECT @eventId = id from HC.Event WHERE PublicEventId = @publicEventId
		END
	ELSE IF (lower(@rundesignator) = 'nextrun')
		BEGIN
			with cte as (
			SELECT
				ken.id as kennelId,
				evt.id as evtId,
			ROW_NUMBER() OVER (PARTITION BY KennelID ORDER BY EventStartDatetime ASC) AS RowNumber
			from HC.Event evt
			inner join HC.Kennel ken on evt.KennelId = ken.id
			inner join HC.City c on ken.CityId = c.id
			inner join DomainValues.Timezone tz on tz.id = c.TimezoneId
			where 
			ken.KennelUniqueShortName = @kennelUniqueShortName AND
			evt.removed = 0 AND
			dateadd(hour,4,(cast(evt.EventStartDatetime as datetime) AT TIME ZONE tz.Timezone) AT TIME ZONE 'UTC') > GETUTCDATE())
			SELECT @kennelId = cte.kennelId,@eventId = cte.evtId from cte where RowNumber = 1
		END
	ELSE IF (lower(@rundesignator) = 'lastrun')
		BEGIN
			with cte as (
			SELECT
				ken.id as kennelId,
				evt.id as evtId,
			ROW_NUMBER() OVER (PARTITION BY KennelID ORDER BY EventStartDatetime DESC) AS RowNumber
			from HC.Event evt
			inner join HC.Kennel ken on evt.KennelId = ken.id
			inner join HC.City c on ken.CityId = c.id
			inner join DomainValues.Timezone tz on tz.id = c.TimezoneId
			where 
			ken.KennelUniqueShortName = @kennelUniqueShortName AND
			evt.removed = 0 AND
			dateadd(hour,4,(cast(evt.EventStartDatetime as datetime) AT TIME ZONE tz.Timezone) AT TIME ZONE 'UTC') > GETUTCDATE())
			SELECT @kennelId = cte.kennelId,@eventId = cte.evtId from cte where RowNumber = 1
		END
	ELSE
		BEGIN
			SELECT @kennelId = id FROM HC.Kennel where KennelUniqueShortName = @kennelUniqueShortName
			SELECT @eventId = id FROM HC.Event evt where cast(evt.EventNumber as nvarchar(50)) = @runDesignator and evt.KennelId = @kennelId
		END

	IF ((@eventId IS NULL) AND (@isError = 0))
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'No run record found with provided information'
		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @publicEventId','@publicEventId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'@publicEventId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END

	--IF (HC.CHECK_PORTAL_ACCESS_TOKEN(@publicHasherId,OBJECT_NAME(@@PROCID),@accessToken,@publicEventId) = 0) AND (@isError = 0) 
	--BEGIN
	--	SET @errorId = newid()
	--	SET @isError = 1
	--	SET @errorTitle = 'Invalid access token'

	--	INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) VALUES (@errorId,'<unknown>','Invalid access token','An invalid access token was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

	--	SELECT 
	--	@errorId as errorId,
	--	cast (3 as int) as errorType 
	--	, @errorTitle as errorTitle
	--	,'An invalid access token was passed to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
	--	,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
	--	,OBJECT_NAME(@@PROCID) as errorProc
		
	--END

	DECLARE @isAdmin smallint = 1
	IF (@publicHasherId = '11111111-1111-1111-1111-111111111111') 
	BEGIN
		SELECT @isAdmin = 0
	END


	INSERT INTO [LOG].[GeneralLog]
           ([LogSource]
           ,[Message]
		   ,[Data]
		   ,[StrParam1]
           ,[Timestamp])
     VALUES
           (
		   case when @isAdmin = 1 THEN 'Admin Portal: hcportal_getEvent' ELSE 'HashRuns.Org: hcportal_getEvent' END 
           ,case when @isError = 1 then @errorTitle + ' ' else '' end + coalesce(@ipAddress,'<no IP address>')
		   ,coalesce(@ipGeoDetails,'{   "ip": "<no IP address>",   "hostname": "<none>",   "city": "<none>",   "region": "<none>",   "country": "??",   "loc": 0,0",   "org": "<none>",   "postal": "<none>",   "timezone": "<none>" }')
		   ,cast(@publicEventId as nvarchar(100))
           ,Getdate()
		   )

	IF (@isError = 1)
	BEGIN
		RETURN
	END

	
	SELECT
			 evt.PublicEventId as publicEventId
			,ken.[PublicKennelId] as publicKennelId
			,ken.[KennelName] as kennelName
			,ken.[KennelLogo] as kennelLogo
			,ken.[KennelWebsiteUrl] as kennelWebUrl
			,ken.[KennelShortName] as kennelShortName
			,ken.[KennelUniqueShortName] as kennelUniqueShortName
			,evt.[IsVisible] as isVisible
			,evt.[IsCountedRun] as isCountedRun
			,evt.[EventGeographicScope] as eventGeographicScope
			,evt.[IsPromotedEvent] as isPromotedEvent
			,evt.[EventNumber] as eventNumber
			,evt.[EventPriceForMembers] as eventPriceForMembers
			,evt.[EventPriceForNonMembers] as eventPriceForNonMembers
			,ken.[DefaultEventPriceForMembers] as kennelDefaultEventPriceForMembers
			,ken.[DefaultEventPriceForNonMembers] as kennelDefaultEventPriceForNonMembers

			,evt.[EventPriceForExtras] as eventPriceForExtras
			,evt.[ExtrasDescription] as extrasDescription
			,evt.[ExtrasRsvpRequired] as extrasRsvpRequired
			,evt.[DoTrackHashCash] as doTrackHashCash

			-- publishing and dissemination
			,ken.[DisseminateHashRunsDotOrg] as kenDisseminateHashRunsDotOrg
			,ken.[DisseminateAllowWebLinks] as kenDisseminateAllowWebLinks
			,ken.[DisseminationAudience] as kenDisseminationAudience
			,evt.[EvtDisseminationAudience] as evtDisseminationAudience
			,evt.[EvtDisseminateAllowWebLinks] as evtDisseminateAllowWebLinks
			,evt.[EvtDisseminateHashRunsDotOrg] as evtDisseminateHashRunsDotOrg
			,evt.PublishToGoogleCalendar as evtPublishToGoogleCalendar
			,ken.PublishToGoogleCalendar as kenPublishToGoogleCalendar
			,evt.PublishToGoogleCalendarAddresses as evtPublishToGoogleCalendarAddresses
			,evt.DisseminateOnGlobalGoogleCalendar as evtDisseminateOnGlobalGoogleCalendar
			,ken.DisseminateOnGlobalGoogleCalendar as kenDisseminateOnGlobalGoogleCalendar

			,evt.[InboundIntegrationId] as inboundIntegrationId
			,evt.[IntegrationEnabled] as integrationEnabled
			,evt.[FacebookRecordLastUpdated] as extDataLastUpdated

			,evt.[EventFacebookId] as eventFacebookId
			,evt.[AbsoluteEventNumber] as absoluteEventNumber
			,evt.[CanEditRunAttendence] as canEditRunAttendence

			,evt.Hares as hares
			,evt.EventPaymentScheme as eventPaymentScheme
			,evt.EventPaymentUrl as eventPaymentUrl
			,evt.EventPaymentUrlExpires as eventPaymentUrlExpires
			,evt.UnconfirmedBankXferCount as unconfirmedBankXferCount

			,evt.[Tags1] as tags1
			,evt.[Tags2] as tags2
			,evt.[Tags3] as tags3

			
			-- FB run details flag
			,evt.FbEventImage AS extEventImage
			,evt.EventImage AS eventImage

			,evt.FbEventName AS extEventName
			,evt.EventName AS eventName
			
			,convert(datetime2,evt.FbEventStartDatetime) AS extEventStartDatetime -- This is a bit of a hack, force conversion into local time prior to sending over the wire. TODO: Eventually send over the event UTC and a separate time offset
			,convert(datetime2,evt.EventStartDatetime) AS eventStartDatetime -- This is a bit of a hack, force conversion into local time prior to sending over the wire. TODO: Eventually send over the event UTC and a separate time offset
			,convert(datetime2,evt.EventEndDatetime) AS eventEndDatetime -- This is a bit of a hack, force conversion into local time prior to sending over the wire. TODO: Eventually send over the event UTC and a separate time offset
			
			,COALESCE(evt.FbEventDescription,'') AS extEventDescription
			,COALESCE(evt.EventDescription,'') AS eventDescription

			,evt.MaximumParticipantsAllowed as maximumParticipantsAllowed
			,evt.MinimumParticipantsRequired as minimumParticipantsRequired
			
			,evt.FbLocationOneLineDesc AS extLocationOneLineDesc
			,evt.LocationOneLineDesc AS locationOneLineDesc
			,evt.SyncResolvableLocation AS resolvableLocation
			
			,evt.FbLocationPostCode AS extLocationPostCode
			,evt.FbLocationCity AS extLocationCity
			,evt.FbLocationStreet  AS extLocationStreet
			,evt.FbLocationCountry  AS extLocationCountry
			,evt.FbLocationRegion  AS extLocationRegion
			,evt.FbLocationSubRegion AS extLocationSubRegion

			,evt.LocationPostCode AS locationPostCode
			,evt.LocationCity AS locationCity
			,evt.LocationStreet AS locationStreet
			,evt.LocationCountry AS locationCountry
			,evt.LocationRegion AS locationRegion
			,evt.LocationSubRegion AS locationSubRegion

			,evt.[removed] as removed
			,evt.[updatedAt] as updatedAt

			,evt.UseFbLocation as useFbLocation
			,evt.UseFbLatLon as useFbLatLon
			,evt.UseFbRunDetails as useFbRunDetails
			,evt.UseFbImage as useFbImage

			,evt.Latitude as hcLatitude
			,evt.Longitude as hcLongitude
			,evt.FbLatitude as fbLatitude
			,evt.FbLongitude as fbLongitude
			,evt.CountryId as countryId -- this is the country ID where the Kennel was located when the event was created, this may be different than where the Kennel is currently located
			,c4s.CountryName as countryName -- see above
			,ken.Latitude as kenLatitude
			,ken.Longitude as kenLongitude
			,city.Latitude as cityLatitude
			,city.Longitude as cityLongitude
			,cn.NeighboringCountries as kennelCountryCodes
			,coalesce(ken.DigitsAfterDecimal,cn.DigitsAfterDecimal) as digitsAfterDecimal
			,coalesce(ken.CurrencySymbol,cn.CurrencySymbol) as currencySymbol
			,'' as searchText

		FROM HC.Event evt 
		INNER JOIN HC.Kennel ken on evt.KennelId = ken.id
		INNER JOIN HC.City city on ken.cityId = city.id
		INNER JOIN HC.Country cn on cn.id = ken.CountryId
		INNER JOIN HC.Country c4s on c4s.id = evt.CountryId -- This is the country ID for statistics purposes, which might be different from the Kennel country ID (for Kennels that move)
		WHERE evt.id = @eventId


		if ((@publicHasherId != '22222222-2222-2222-2222-222222222222') AND (@publicHasherId != '11111111-1111-1111-1111-111111111111'))
		BEGIN
			if (@includePaymentInfo = 0)
			BEGIN
				SELECT 
					coalesce(hem.DisplayName,hasher.DisplayName) as displayName,
					hem.RsvpState as rsvpState,
					hem.AttendenceState as attendanceState,
					coalesce(hem.TotalRunsThisKennel,0) + coalesce(hkm.HistoricalTotalRunCount,0) as totalRunsThisKennel,
					coalesce(hem.TotalHaringThisKennel,0) + coalesce(hkm.HistoricalHaringCount,0) as totalHaringThisKennel,
					coalesce(REPLACE(coalesce(ken.CurrencySymbol,n.CurrencySymbol),'^',FORMAT(pay.CreditAmount, 'F' + CAST(coalesce(ken.DigitsAfterDecimal,n.DigitsAfterDecimal) AS NVARCHAR))),'') as amountPaidStr,
					coalesce(REPLACE(coalesce(ken.CurrencySymbol,n.CurrencySymbol),'^',FORMAT(pay.DebitAmount, 'F' + CAST(coalesce(ken.DigitsAfterDecimal,n.DigitsAfterDecimal) AS NVARCHAR))),'') as amountOwedStr,
					coalesce(REPLACE(coalesce(ken.CurrencySymbol,n.CurrencySymbol),'^',FORMAT(pay.CreditAvailable, 'F' + CAST(coalesce(ken.DigitsAfterDecimal,n.DigitsAfterDecimal) AS NVARCHAR))),'') as creditAvailableStr,
					hem.VirginVisitorType as virginVisitorType
				FROM HC.Event evt 
				INNER JOIN HC.HasherEventMap hem on hem.EventId = evt.id
				INNER JOIN HC.Kennel ken on ken.id = evt.KennelId
				INNER JOIN HC.Country n on n.id = ken.CountryId
				LEFT OUTER JOIN HC.Hasher hasher on hasher.id = hem.UserId
				LEFT OUTER JOIN HC.HasherKennelMap hkm on hkm.UserId = hasher.id AND hkm.kennelId = evt.KennelId
				LEFT OUTER JOIN HC.Payment pay on pay.HasherEventMapId = hem.id AND pay.CancelledBy_UserId IS NULL
				WHERE evt.id = @eventId
			END
		ELSE
			BEGIN
				SELECT 
					coalesce(hem.DisplayName,hasher.DisplayName) as displayName,
					hem.RsvpState as rsvpState,
					hem.AttendenceState as attendanceState,
					coalesce(hem.TotalRunsThisKennel,0) + coalesce(hkm.HistoricalTotalRunCount,0) as totalRunsThisKennel,
					coalesce(hem.TotalHaringThisKennel,0) + coalesce(hkm.HistoricalHaringCount,0) as totalHaringThisKennel,
					hem.VirginVisitorType as virginVisitorType,
					pay.CancelledDate as cancelledDate,
					canceledBy.DisplayName as cancelledBy,
					pay.CreditAvailable as creditAvailable,
					pay.CreditAmount as amountPaid,
					pay.DebitAmount as amountOwed,
					pay.NetPayment as netPayment,
					REPLACE(coalesce(ken.CurrencySymbol,n.CurrencySymbol),'^',FORMAT(pay.CreditAmount, 'F' + CAST(coalesce(ken.DigitsAfterDecimal,n.DigitsAfterDecimal) AS NVARCHAR))) as amountPaidStr,
					REPLACE(coalesce(ken.CurrencySymbol,n.CurrencySymbol),'^',FORMAT(pay.DebitAmount, 'F' + CAST(coalesce(ken.DigitsAfterDecimal,n.DigitsAfterDecimal) AS NVARCHAR))) as amountOwedStr,
					REPLACE(coalesce(ken.CurrencySymbol,n.CurrencySymbol),'^',FORMAT(pay.NetPayment, 'F' + CAST(coalesce(ken.DigitsAfterDecimal,n.DigitsAfterDecimal) AS NVARCHAR))) as netPaymentStr,
					REPLACE(coalesce(ken.CurrencySymbol,n.CurrencySymbol),'^',FORMAT(pay.CreditAvailable, 'F' + CAST(coalesce(ken.DigitsAfterDecimal,n.DigitsAfterDecimal) AS NVARCHAR))) as creditAvailableStr,
					pay.DoPayForExtras as doPayForExtras,
					pay.ConfirmedDate as paymentConfirmedDate,
					confirmedBy.DisplayName as paymentConfirmedBy,
					pay.PaidDate as payedDate,
					pay.PaymentType as paymentType,
					case 
						when pay.PaymentType = 0 then 'Unknown' 
						when pay.PaymentType = 1 then 'Not paid'
						when pay.PaymentType = 2 then 'Free' 
						when pay.PaymentType = 3 then 'Cash'
						when pay.PaymentType = 4 then 'Bank transfer' 
						when pay.PaymentType = 5 then 'Cash (other amount)'
						when pay.PaymentType = 6 then 'Hash credit'
						when pay.PaymentType = 7 then 'Bank transfer (other amount)'
					end as paymentTypeString,
					pay.PaymentReference as paymentReference
				FROM HC.Event evt 
				INNER JOIN HC.HasherEventMap hem on hem.EventId = evt.id
				INNER JOIN HC.Kennel ken on ken.id = evt.KennelId
				INNER JOIN HC.Country n on n.id = ken.CountryId
				LEFT OUTER JOIN HC.Hasher hasher on hasher.id = hem.UserId
				LEFT OUTER JOIN HC.HasherKennelMap hkm on hkm.UserId = hasher.id AND hkm.kennelId = evt.KennelId
				LEFT OUTER JOIN HC.Payment pay on pay.HasherEventMapId = hem.id AND pay.CancelledBy_UserId IS NULL
				LEFT OUTER JOIN HC.Hasher canceledBy on canceledBy.id = pay.CancelledBy_UserId
				LEFT OUTER JOIN HC.Hasher confirmedBy on confirmedBy.id = pay.ConfirmedBy_UserId
				WHERE evt.id = @eventId
			END
		END


 
 
GO
