/****** Object:  StoredProcedure [HC5].[hcportal_addEditEvent]    Script Date: 3/8/2026 11:54:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [HC5].[hcportal_addEditEvent]

-- required parameters (we accept nulls so we can trap errors in SQL instead of having the SP fail to execute)
@publicHasherId uniqueidentifier = NULL,
@accessToken nvarchar(1000) = NULL,
@publicKennelId uniqueidentifier = NULL,

-- optional parameters

@absoluteEventNumber smallint = null,
@eventImage nvarchar(500) = null,
@deleted smallint = null,
@endDatetime datetimeoffset(7) = null,
@eventDescription nvarchar(4000) = null,
@eventGeographicScope smallint = null,
@eventName nvarchar(120) = null,
@eventPriceForExtras float = null,
@eventPriceForMembers float = null,
@eventPriceForNonMembers float = null,
@extrasDescription nvarchar(250) = null,
@extrasRsvpRequired smallint = null,
@hares nvarchar(2500) = null,
@integrationEnabled smallint = null,
@isCountedRun smallint = null,
@isPromotedEvent smallint = null,
@isVisible smallint = null,
@latitude decimal(18,15) = null,
@locationCity nvarchar(250) = null,
@locationCountry nvarchar(250) = null,
@locationOneLineDesc nvarchar(250) = null,
@locationPostCode nvarchar(50) = null,
@locationRegion nvarchar(250) = null,
@locationStreet nvarchar(250) = null,
@locationSubRegion nvarchar(250) = null,
@longitude decimal(19,15) = null,
@maximumParticipantsAllowed smallint = null,
@minimumParticipantsRequired smallint = null,
@publicEventId uniqueidentifier = null,
@saveTagsAsKennelDefault smallint = null,
@startDatetime datetimeoffset(7) = null,
@tags1 int = null,
@tags2 int = null,
@tags3 int = null,
@useFbImage smallint = null,
@useFbLatLon smallint = null,
@useFbLocation smallint = null,
@useFbRunDetails smallint = null,
@canEditRunAttendence smallint = null,
@evtDisseminationAudience int = null,
@evtDisseminateAllowWebLinks smallint = null,
@evtDisseminateHashRunsDotOrg smallint = null,
@evtDisseminateOnGlobalGoogleCalendar smallint = null,
@countryId uniqueidentifier = null,

@ipAddress nvarchar(100) = NULL,
@ipGeoDetails nvarchar(2000) = NULL

AS

BEGIN

	SET NOCOUNT ON

	INSERT INTO [LOG].[GeneralLog]
           ([LogSource]
           ,[Message]
		   ,[Data]
		   ,[StrParam1]
           ,[Timestamp])
     VALUES
           (
		   'Admin Portal: hcportal_addEditEvent'
           ,'[HC5].[hcportal_addEditEvent]'
		   , cast(coalesce(@publicEventId,'00000000-0000-0000-0000-000000000000') as nvarchar(100))
		   ,'PublicHasherId:' + cast(@publicHasherId as nvarchar(100))
           ,Getdate()
		   )

	DECLARE @isError smallint = 0
	DECLARE @isAdmin smallint = 1
	DECLARE @errorTitle nvarchar(500) = ''

	IF (@publicHasherId = '11111111-1111-1111-1111-111111111111') 
	BEGIN
		SELECT @isAdmin = 0
	END

	DECLARE @errorId uniqueidentifier

	IF (@publicHasherId IS NULL) OR (datalength(@publicHasherId) != 16)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Null or invalid publicHasherId'
		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','Null or empty publicHasherId','Null or empty publicHasherId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'Null or empty value was passed as the publicHasherId to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at connect@harriercentral.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		
	END

	--DECLARE @hasherId uniqueidentifier
	--SELECT @hasherId = id from HC.Hasher WHERE PublicHasherId = @publicHasherId

 --   IF (@hasherId IS NULL) AND (@isError = 0)
	--BEGIN
	--	SET @errorId = newid()
	--	SET @isError = 1
	--	SET @errorTitle = 'No record found with provided @publicHasherId'
	--	INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @publicHasherId','@publicHasherId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
	--	SELECT 
	--	@errorId as errorId,
	--	cast (2 as int) as errorType 
	--	,@errorTitle as errorTitle
	--	,'@publicHasherId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
	--	,'This error should not occur, please contact us at connect@harriercentral.com' as debugMessage
	--	,OBJECT_NAME(@@PROCID) as errorProc
	--END

	IF ((@publicKennelId IS NULL) OR (datalength(@publicKennelId) != 16)) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @errorTitle = 'NULL or invalid publicKennelId'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) 
		VALUES (@errorId,'hcportal',@errorTitle,'An invalid publicKennelId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		,@errorTitle as errorTitle
		,'An internal error was encountered in our web page (null or invalid publicKennelId).' as errorUserMessage
		,'Please contact us at connect@harriercentral.com to learn more about how to generate web pages from our system. We are happy to help!' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		SET @isError = 1
	END

	-- NOTE: This is a special case error check because @publicEventId can be NULL
	IF ((@publicEventId IS NOT NULL) AND (datalength(@publicEventId) != 16)) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @errorTitle = 'Invalid publicEventId'
		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','Null or empty publicEventId','Null or empty publicEventId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicEventId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'Null or empty value was passed as the publicEventId to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at connect@harriercentral.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		SET @isError = 1
	END

	DECLARE @eventId uniqueidentifier
	SELECT @eventId = id from HC.Event WHERE PublicEventId = @publicEventId AND @publicEventId is not null

	IF ((@publicEventId IS NOT NULL) AND (@eventId IS NULL) AND (@isError = 0))
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'No record found with provided @publicEventId'
		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @publicEventId','@publicEventId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'@publicEventId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at connect@harriercentral.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		
	END

	DECLARE 
		@kennelId uniqueidentifier,
		@countryIdFromKennel uniqueidentifier

	SELECT 
		@kennelId = id,
		@countryIdFromKennel = CountryId
	FROM HC.Kennel WHERE PublicKennelId = @publicKennelId AND @publicKennelId is not null

    IF ((@publicKennelId IS NOT NULL) AND (@kennelId IS NULL) AND (@isError = 0))
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'No record found with provided @publicKennelId'
		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @publicKennelId','@publicKennelId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'@publicKennelId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at connect@harriercentral.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		
	END


	IF (HC.CHECK_PORTAL_ACCESS_TOKEN(@publicHasherId,OBJECT_NAME(@@PROCID),@accessToken,@publicKennelId) = 0) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Invalid access token'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) VALUES (@errorId,'<unknown>','Invalid access token','An invalid access token was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		, @errorTitle as errorTitle
		,'An invalid access token was passed to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at connect@harriercentral.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		
	END


	if (@isError = 1)
	BEGIN
		RETURN
	END

	DECLARE @resultStr nvarchar(250)
	DECLARE @resultInt int

	-- This is a unicode paragraph separator that screws up the ability to parse JSON in the app
	if (@eventDescription like '%'+NCHaR(8233)+'%') SET @eventDescription = REPLACE(@eventDescription,NCHaR(8233),'')
	if (@eventName like '%'+NCHaR(8233)+'%') SET @eventName = REPLACE(@eventName,NCHaR(8233),'')
	if (@locationOneLineDesc like '%'+NCHaR(8233)+'%') SET @locationOneLineDesc = REPLACE(@locationOneLineDesc,NCHaR(8233),'')
	if (@hares like '%'+NCHaR(8233)+'%') SET @hares = REPLACE(@hares,NCHaR(8233),'')

	-- This is a unicode paragraph separator that screws up the ability to parse JSON in the app
	if (@eventDescription like '%'+NCHaR(8232)+'%') SET @eventDescription = REPLACE(@eventDescription,NCHaR(8232),'')
	if (@eventName like '%'+NCHaR(8232)+'%') SET @eventName = REPLACE(@eventName,NCHaR(8232),'')
	if (@locationOneLineDesc like '%'+NCHaR(8232)+'%') SET @locationOneLineDesc = REPLACE(@locationOneLineDesc,NCHaR(8232),'')
	if (@hares like '%'+NCHaR(8232)+'%') SET @hares = REPLACE(@hares,NCHaR(8232),'')

	if ((@startDatetime IS NOT NULL) AND (@startDatetime <= '1/1/2000')) SET @startDatetime = NULL
	if ((@endDatetime IS NOT NULL) AND (@endDatetime <= '1/1/2000')) SET @endDatetime = NULL
	if (@isCountedRun = -1) SET @isCountedRun = NULL
	if (@isVisible = -1) SET @isVisible = NULL
	if (@canEditRunAttendence = -1) SET @canEditRunAttendence = NULL
	if (@isPromotedEvent = -1) SET @isPromotedEvent = NULL
	if (@eventGeographicScope = -1) SET @eventGeographicScope = NULL
	if (DATALENGTH(@eventName) < 2) SET @eventName = NULL
	if (DATALENGTH(@eventDescription) < 2) SET @eventDescription = NULL
	if (DATALENGTH(@locationCity) < 2) SET @locationCity = NULL
	if (DATALENGTH(@locationStreet) < 2) SET @locationStreet = NULL
	if (DATALENGTH(@locationPostCode) < 2) SET @locationPostCode = NULL
	if (DATALENGTH(@locationSubRegion) < 2) SET @locationSubRegion = NULL
	if (DATALENGTH(@locationRegion) < 2) SET @locationRegion = NULL
	if (DATALENGTH(@locationCountry) < 2) SET @locationCountry = NULL
	if (DATALENGTH(@locationOneLineDesc) < 2) SET @locationOneLineDesc = NULL
	if (DATALENGTH(@eventImage) < 5) SET @eventImage = NULL
	if (DATALENGTH(@hares) < 4) SET @hares = NULL
	if (@latitude = -1) SET @latitude = NULL
	if (@longitude = -1) SET @longitude = NULL
	if (@useFbLatLon = -1) SET @useFbLatLon = NULL
	if (@useFbRunDetails = -1) SET @useFbRunDetails = NULL
	if (@useFbLocation = -1) SET @useFbLocation = NULL
	if (@useFbImage = -1) SET @useFbImage = NULL
	if (@eventPriceForMembers = -1) SET @eventPriceForMembers = NULL
	if (@eventPriceForNonMembers = -1) SET @eventPriceForNonMembers = NULL
	if (@eventPriceForExtras = -1) SET @eventPriceForExtras = NULL
	if (DATALENGTH(@extrasDescription) < 2) SET @extrasDescription = NULL
	if (@absoluteEventNumber = -1) SET @absoluteEventNumber = NULL -- if AbsoluteEventNumber is zero, that will cause the record to null out the value currently in AbsoluteEventNumber
	if (@deleted = -1) SET @deleted = NULL
	if (@evtDisseminationAudience = -1) SET @evtDisseminationAudience = NULL
	if (@evtDisseminateAllowWebLinks = -1) SET @evtDisseminateAllowWebLinks = NULL
	if (@evtDisseminateHashRunsDotOrg = -1) SET @evtDisseminateHashRunsDotOrg = NULL
	if (@evtDisseminateOnGlobalGoogleCalendar = -1) SET @evtDisseminateOnGlobalGoogleCalendar = NULL

    if ((@deleted IS NOT NULL) AND (@deleted = 1))
	BEGIN
		SET NOCOUNT ON
		-- use the kennel id and date if we don't have an eventId
		--if ((@eventId = '00000000-0000-0000-0000-000000000000') OR (@eventId is null))
		--BEGIN
		--	select top 1 @eventId = id from HC.Event WHERE KennelId = @kennelId AND cast(EventStartDatetime as Date) = cast(@startDatetime as Date)
		--END

		--if ((@eventId is not null) AND (@eventId <> '00000000-0000-0000-0000-000000000000'))
		--BEGIN
		--	UPDATE HC.Event SET 
		--	deleted = 1
		--	FROM HC.Event e where e.id = @eventId
		--END
			
	END
	ELSE
	BEGIN
	-- does a record exist? If so, we are in "edit" mode
	if ((@eventId is not null) AND ((SELECT count(*) from HC.Event e where e.id = @eventId) > 0))
		BEGIN
			--declare @runCountsNeedToBeUpdated int = 0

			---- start by determining if we need to adjust run counts because this run has been updated
			---- have any of the items that would cause changes to hasher run counts changed?
			--SELECT @runCountsNeedToBeUpdated = count(*) FROM HC.Event evt
			--	where id = @eventId
			--		AND (
			--				   ((@isCountedRun is not null) AND (@isCountedRun != evt.IsCountedRun))
			--				OR ((@isVisible is not null) AND (@isVisible != evt.IsVisible))
			--				--OR ((@useFbRunDetails is not null) AND (@useFbRunDetails != evt.UseFbRunDetails))
			--				OR ((@startDatetime is not null) AND (@startDatetime != evt.EventStartDatetime))
			--				OR ((@deleted is not null) AND (@deleted != evt.deleted))
			--			)
			--		AND @startDatetime < dateadd(day,1,getdate())
			

			UPDATE HC.Event SET 
			--KennelId = coalesce(@kennelId,KennelId),
			EventStartDatetime = coalesce(@startDatetime,EventStartDatetime),
			EventEndDatetime = coalesce(@endDatetime,EventEndDatetime),
			IsCountedRun = coalesce(@isCountedRun,IsCountedRun,0),
			IsVisible = coalesce(@isVisible,IsVisible,1),
			CanEditRunAttendence = case when @canEditRunAttendence = -2 then null else coalesce(@canEditRunAttendence,CanEditRunAttendence) end,
			IsPromotedEvent = coalesce(@isPromotedEvent,IsPromotedEvent,0),
			IntegrationEnabled = coalesce(@integrationEnabled,IntegrationEnabled,1),
			EventGeographicScope = coalesce(@eventGeographicScope,EventGeographicScope,1),
			EventName = coalesce(@eventName, EventName),
			EventDescription = coalesce(@eventDescription, EventDescription),
			LocationCity = case when @locationCity = '<null>' then null else coalesce(@locationCity, LocationCity) end,
			LocationStreet = case when @locationStreet = '<null>' then null else coalesce(@locationStreet, LocationStreet)end,
			LocationPostCode = case when @locationPostCode = '<null>' then null else coalesce(@locationPostCode,LocationPostCode)end,
			LocationCountry =case when @locationCountry = '<null>' then null else  coalesce(@locationCountry,LocationCountry)end,
			LocationRegion = case when @locationRegion = '<null>' then null else  coalesce(@locationRegion,LocationRegion)end,
			LocationSubRegion =case when @locationSubRegion = '<null>' then null else  coalesce(@locationSubRegion,LocationSubRegion)end,
			LocationOneLineDesc = case when @locationOneLineDesc = '<null>' then null else coalesce(@locationOneLineDesc, LocationOneLineDesc)end,
			EventImage = case when @eventImage = '<null>' then null else coalesce(@eventImage, EventImage) end,
			Latitude = case when @latitude = -99.0 then null else coalesce(@latitude,Latitude) end,
			Longitude = case when @longitude = -999.0 then null else coalesce(@longitude,Longitude) end,
			EventGeolocation = 
			case when case when @latitude = -99.0 then null else coalesce(@latitude,Latitude) end is not null then
				geography::Point(case when @latitude = -99.0 then null else coalesce(@latitude,Latitude) end, case when @longitude = -999.0 then null else coalesce(@longitude,Longitude) end, 4326)
			else
				null
			end,
			EventPriceForMembers = case when @eventPriceForMembers = -2 then null else coalesce(@eventPriceForMembers,EventPriceForMembers) end,
			EventPriceForNonMembers = case when @eventPriceForNonMembers = -2 then null else coalesce(@eventPriceForNonMembers,EventPriceForNonMembers) end,
			EventPriceForExtras = case when @eventPriceForExtras = -2 then null else coalesce(@eventPriceForExtras,EventPriceForExtras) end,
			ExtrasDescription = case when @extrasDescription = '<null>' then null else coalesce(@extrasDescription,ExtrasDescription) end,
			ExtrasRsvpRequired = coalesce(@extrasRsvpRequired,ExtrasRsvpRequired,0),
			AbsoluteEventNumber = case when @absoluteEventNumber <= 0 then null else coalesce(@absoluteEventNumber, AbsoluteEventNumber) end,
			deleted = coalesce(@deleted, deleted),
			UseFbLatLon = coalesce(@useFbLatLon,UseFbLatLon),
			UseFbRunDetails = coalesce(@useFbRunDetails,UseFbRunDetails),
			UseFbLocation = coalesce(@useFbLocation,UseFbLocation),
			UseFbImage = coalesce(@useFbImage,UseFbImage),
			Hares = case when @hares = '<null>' then null elsE coalesce(@hares,Hares) end,
			updatedAt = getdate(),
			Tags1 = coalesce(@tags1,Tags1),
			Tags2 = coalesce(@tags2,Tags2),
			Tags3 = coalesce(@tags3,Tags3),
			MaximumParticipantsAllowed = case when @maximumParticipantsAllowed = -2 then null else coalesce(@maximumParticipantsAllowed,MaximumParticipantsAllowed) end,
			MinimumParticipantsRequired = case when @minimumParticipantsRequired = -2 then null else coalesce(@minimumParticipantsRequired,MinimumParticipantsRequired) end,
			EvtDisseminationAudience = case when @evtDisseminationAudience = -2 then null else coalesce(@evtDisseminationAudience,EvtDisseminationAudience) end,
			EvtDisseminateAllowWebLinks = case when @evtDisseminateAllowWebLinks = 2 then null else coalesce(@evtDisseminateAllowWebLinks,EvtDisseminateAllowWebLinks) end,
			EvtDisseminateHashRunsDotOrg = case when @evtDisseminateHashRunsDotOrg = -2 then null else coalesce(@evtDisseminateHashRunsDotOrg,EvtDisseminateHashRunsDotOrg) end,
			DisseminateOnGlobalGoogleCalendar = case when @evtDisseminateOnGlobalGoogleCalendar = -2 then null else coalesce(@evtDisseminateOnGlobalGoogleCalendar,DisseminateOnGlobalGoogleCalendar) end,
			EventLastUpdatedSource = 'HC Portal',
			EventLastUpdatedBy = @publicHasherId,
			CountryId = coalesce(@countryId,CountryId)
			
			FROM HC.Event e where e.id = @eventId
 
			

			-- If the countryId for statistics has changed, make sure to refresh all of the HEM records
			-- associated with that event so people's stats get updated in the app
			IF (@countryId IS NOT NULL)
			BEGIN
				UPDATE hem set hem.updatedAt = getdate() 
				FROM HC.HasherEventMap hem 
				WHERE hem.EventId = @eventId 
			END


			-- For now we comment this out... if run counts have to change that will happen overnight
			-- when we call the daily maintenance

			--IF (@runCountsNeedToBeUpdated != 0)
			--BEGIN
			--	EXEC HC.nonApi_updateRunCountsForAllUsers
			--END

			DECLARE @kennelShortNameForAlert nvarchar(100),
					@eventNumberForAlert nvarchar(100)

			SELECT @kennelShortNameForAlert = k.KennelShortName,@eventNumberForAlert = cast(evt.EventNumber as nvarchar(100)) FROM HC.Event evt 
			inner join HC.Kennel k on evt.KennelId = k.id
			where evt.id = @eventId

			if (@eventNumberForAlert is not null)
			BEGIN
				set @resultStr = 'Successfully updated ' + @kennelShortNameForAlert + ' run/event #'+@eventNumberForAlert
			END
			ELSE
			BEGIN
				set @resultStr = 'Successfully updated ' + @kennelShortNameForAlert + ' run/event'
			END

			set @resultInt = 1
		END
		ELSE
		BEGIN

			-- record does not exist, we're in insert mode
			if (coalesce(datalength(@eventName),0) < 1) 
			BEGIN
				DECLARE @kennelShortName nvarchar(50)
				SELECT @kennelShortName = k.KennelShortName from HC.Kennel k where k.id = @kennelId
				SET @eventName = 'Placeholder event for ' + coalesce(@kennelShortName,'<no kennel found>')
			END

			
			if ((datalength(Trim(@eventName)) > 0) AND (@kennelId is not null) AND (@kennelId <> '00000000-0000-0000-0000-000000000000'))
			BEGIN
				
				-- if no time exists or the time component of the date time is zero
				-- adjust the time to include default start time of the kennel
				if ((@startDatetime is null) OR (cast(@startDatetime as time) = '00:00:00.0000000'))
				BEGIN

					DECLARE	 @defaultStartTime time(7),
							 @diffSeconds int

					if (@startDatetime is null)
					BEGIN
						SET @startDatetime = DateAdd(day,3,getdate())
					END

					SELECT @defaultStartTime = DefaultRunStartTime from HC.Kennel where id = @kennelId

					if (@defaultStartTime is not null) 
					BEGIN
						SELECT @diffSeconds = datediff(second,'00:00:00',@defaultStartTime)
						SET @startDateTime = dateadd(second,@diffSeconds,@startDateTime)
					END
				END

				if (@eventId is null) SET @eventId = newid()

				--if ((@kennelId is not null) AND (@kennelId != '00000000-0000-0000-0000-000000000000'))
				--BEGIN
				--	SELECT @eventPriceForMembers = coalesce(@eventPriceForMembers,k.DefaultEventPriceForMembers),
				--			@eventPriceForNonMembers = coalesce(@eventPriceForNonMembers,k.DefaultEventPriceForNonMembers)
				--	 from HC.Kennel k WHERE k.id = @kennelId
				--END

				INSERT HC.Event 
					(
						 id
						,KennelId
						,EventStartDatetime
						,EventEndDatetime
						,IsCountedRun
						,IsVisible
						,IsPromotedEvent
						,CanEditRunAttendence
						,EventGeographicScope
						,InboundIntegrationId
						,EventName
						,EventDescription
						,LocationCity
						,LocationStreet
						,LocationPostCode
						,LocationCountry
						,LocationRegion
						,LocationSubRegion
						,LocationOneLineDesc
						,EventImage
						,Latitude
						,Longitude
						,EventGeolocation
						,EventPriceForMembers
						,EventPriceForNonMembers
						,EventPriceForExtras
						,ExtrasDescription
						,ExtrasRsvpRequired
						,IntegrationEnabled
						,AbsoluteEventNumber
						,Hares
						,Tags1
						,Tags2
						,Tags3
						,UseFbImage
						,UseFbLatLon
						,UseFbLocation
						,UseFbRunDetails
						,MaximumParticipantsAllowed
						,MinimumParticipantsRequired
						,EvtDisseminationAudience
						,EvtDisseminateAllowWebLinks 
						,EvtDisseminateHashRunsDotOrg
						,DisseminateOnGlobalGoogleCalendar
						,deleted
						,updatedAt
						,EventSource
						,CountryId
					) VALUES 
					(
						 @eventId
						,@KennelId
						,case when @startDatetime < '1/1/2000' then null else @startDatetime end
						,case when @endDatetime < '1/1/2000' then null else @endDateTime end
						,coalesce(@isCountedRun,1)
						,coalesce(@isVisible,1)
						,coalesce(@isPromotedEvent,0)
						,case when @canEditRunAttendence = -2 then null else @canEditRunAttendence end
						,coalesce(@eventGeographicScope,1)
						,0 -- InboundIntegrationId set for Harrier Central as the source
						,@eventName
						,@eventDescription
						,case when @locationCity = '<null>' then null else @locationCity end
						,case when @locationStreet = '<null>' then null else @locationStreet end
						,case when @locationPostCode = '<null>' then null else @locationPostCode end
						,case when @locationCountry = '<null>' then null else @locationCountry end
						,case when @locationRegion = '<null>' then null else @locationRegion end
						,case when @locationSubRegion = '<null>' then null else @locationSubRegion end
						,case when @locationOneLineDesc = '<null>' then null else @locationOneLineDesc end
						,case when @eventImage = '<null>' then null else @eventImage end
						,case when @latitude = -99.0 then null else @latitude end
						,case when @longitude = -999.0 then null else @longitude end
			  			,case when case when @latitude = -99.0 then null else cast(@latitude as decimal(18,15)) end is not null then
							geography::Point(case when @latitude = -99.0 then null else cast(@latitude as decimal(18,15)) end, case when @longitude = -999.0 then null else cast(@longitude as decimal(19,15)) end, 4326)
						else
							null
						end
						,case when @eventPriceForMembers = -2 then null else @eventPriceForMembers end
						,case when @eventPriceForNonMembers = -2 then null else @eventPriceForNonMembers end
						,case when @eventPriceForExtras = -2 then null else @eventPriceForExtras end
						,case when datalength(@extrasDescription) < 2 then null else @extrasDescription end
						,coalesce(@extrasRsvpRequired,0)
						,coalesce(@integrationEnabled,0)
						,case when @absoluteEventNumber = -2 then null else @absoluteEventNumber end
						,case when @hares = '<null>' then null else @hares end
						,coalesce(@tags1,0)
						,coalesce(@tags2,0)
						,coalesce(@tags3,0)
						,0 -- Use Fb image
						,0 -- use Fb lat/lon
						,0 -- use Fb location
						,0 -- use Fb runDetails
						,case when @maximumParticipantsAllowed = -2 then null else @maximumParticipantsAllowed end
						,case when @minimumParticipantsRequired = -2 then null else @minimumParticipantsRequired end
						,case when @evtDisseminationAudience = -2 then null else @evtDisseminationAudience end
						,case when @evtDisseminateAllowWebLinks = 2 then null else @evtDisseminateAllowWebLinks end
						,case when @evtDisseminateHashRunsDotOrg = -2 then null else @evtDisseminateHashRunsDotOrg end
						,case when @evtDisseminateOnGlobalGoogleCalendar = -2 then null else @evtDisseminateOnGlobalGoogleCalendar end

						,coalesce(@deleted,0)
						,getdate()
						,'HC Portal'
						,coalesce(@countryId,@countryIdFromKennel)
					)

				SET @resultStr = 'Run added to Harrier Central'
				SET @resultInt = 1
			END
		END
	
		if (@saveTagsAsKennelDefault = 1)
		BEGIN
			UPDATE HC.Kennel 
				SET 
					DefaultRunTags1 = coalesce(@tags1,DefaultRunTags1),
					DefaultRunTags2 = coalesce(@tags2,DefaultRunTags2),
					DefaultRunTags3 = coalesce(@tags3,DefaultRunTags3)
			WHERE id = @kennelId AND
				 (
					   DefaultRunTags1 != coalesce(@tags1,DefaultRunTags1)
					OR DefaultRunTags2 != coalesce(@tags2,DefaultRunTags2)
					OR DefaultRunTags3 != coalesce(@tags3,DefaultRunTags3)
				)

		END
	END

	EXEC HC.nonApi_updateRunNumbers @eventId = @eventId

	SELECT @resultStr as result, @resultInt as resultCode
	

END











GO
