/****** Object:  StoredProcedure [HC5].[hcportal_getUsageData]    Script Date: 3/8/2026 11:54:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [HC5].[hcportal_getUsageData]
    @publicHasherId UNIQUEIDENTIFIER = NULL,
    @accessToken NVARCHAR(1000) = NULL,
    @ipAddress NVARCHAR(100) = NULL,
    @ipGeoDetails NVARCHAR(2000) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @errorId UNIQUEIDENTIFIER;
    DECLARE @isError INT = 0;
    DECLARE @errorTitle NVARCHAR(500) = '';
    DECLARE @procName NVARCHAR(128) = OBJECT_NAME(@@PROCID);

    -- Validate publicHasherId
    IF (@publicHasherId IS NULL) OR (DATALENGTH(@publicHasherId) != 16)
    BEGIN
        SET @errorId = NEWID();
        SET @isError = 1;
        SET @errorTitle = 'Null or invalid publicHasherId';

        INSERT HC.ErrorLog (id, HcVersion, ErrorName, ErrorDescription, ProcName, userId)
        VALUES (@errorId, '<unknown>', 'Null or empty publicHasherId', 
                'Null or empty publicHasherId was passed to ' + @procName, @procName, @publicHasherId);

        SELECT 
            @errorId AS errorId,
            CAST(2 AS INT) AS errorType,
            @errorTitle AS errorTitle,
            'Null or empty value was passed as the publicHasherId to ' + @procName AS errorUserMessage,
            'This error should not occur, please contact us at harriercentral@gmail.com' AS debugMessage,
            @procName AS errorProc;
        RETURN;
    END

    -- Validate access token
    IF (HC.CHECK_PORTAL_ACCESS_TOKEN(@publicHasherId, @procName, @accessToken, NULL) = 0) AND (@isError = 0) 
    BEGIN
        SET @errorId = NEWID();
        SET @errorTitle = 'Invalid access token';

        INSERT HC.ErrorLog (id, HcVersion, ErrorName, ErrorDescription, ProcName, userId, string_1)
        VALUES (@errorId, '<unknown>', 'Invalid access token', 
                'An invalid access token was passed to ' + @procName, @procName, @publicHasherId, @accessToken);

        SELECT 
            @errorId AS errorId,
            CAST(3 AS INT) AS errorType,
            @errorTitle AS errorTitle,
            'An invalid access token was passed to ' + @procName AS errorUserMessage,
            'This error should not occur, please contact us at harriercentral@gmail.com' AS debugMessage,
            @procName AS errorProc;
        RETURN;
    END

    -- Log the portal access
    INSERT INTO [LOG].[GeneralLog] ([LogSource], [Message], [Data], [Timestamp])
    VALUES (
        'Admin Portal: hcportal_getKennelHashers',
        CASE WHEN @isError = 1 THEN @errorTitle + ' ' ELSE '' END + COALESCE(@ipAddress, '<no IP address>'),
        COALESCE(@ipGeoDetails, '{"ip":"<no IP address>","hostname":"<none>","city":"<none>","region":"<none>","country":"??","loc":"0,0","org":"<none>","postal":"<none>","timezone":"<none>"}'),
        GETDATE()
    );

    -- Get future run count
    DECLARE @futureRunCount INT;
    SELECT @futureRunCount = COUNT(*) 
    FROM HC.Event WITH (NOLOCK)
    WHERE EventStartDatetimeIndexed > GETDATE();

    -- Result Set 1: Version data (iOS vs Android usage)
    WITH LatestLogins AS (
        SELECT 
            ll.UserId,
            MAX(ll.idx) AS idx,
            MAX(ll.LoginDate) AS loginDate
        FROM HC.LaunchAndLogin ll WITH (NOLOCK)
        WHERE ll.LoginDate > DATEADD(DAY, -14, GETDATE()) 
            AND DATALENGTH(ll.SystemName) > 4
            AND ll.HcVersion LIKE 'HC Ver:%'
        GROUP BY ll.UserId
    ),
    VersionStats AS (
        SELECT 
            REPLACE(REPLACE(ll2.HcVersion, 'HC Ver: ', ''), ', Bld: ', '-') AS HcVersion,
            SUM(CASE WHEN ll2.SystemName = 'iOS' THEN 1 ELSE 0 END) AS isiPhone,
            SUM(CASE WHEN ll2.SystemName != 'iOS' THEN 1 ELSE 0 END) AS isNotiPhone
        FROM LatestLogins cte
        INNER JOIN HC.LaunchAndLogin ll2 WITH (NOLOCK) ON cte.idx = ll2.idx
        GROUP BY ll2.HcVersion
    )
    SELECT 
        SUBSTRING(HcVersion, 1, PATINDEX('%-%', HcVersion) - 1) AS versionNum,
        SUBSTRING(HcVersion, PATINDEX('%-%', HcVersion) + 1, 1000) AS buildNum,
        isiPhone,
        isNotiPhone 
    FROM VersionStats
    ORDER BY SUBSTRING(HcVersion, PATINDEX('%-%', HcVersion) + 1, 1000) DESC;

    -- Result Set 2: Integration job data
    WITH LatestJobs AS (
        SELECT 
            intg.IntegrationAbbreviation,
            MAX(ij.IntegrationJobId) AS IntegrationJobId,
            intg.Enabled AS integrationEnabled,
            intg.Interval
        FROM HC.IntegrationJob ij WITH (NOLOCK)
        INNER JOIN HC.Integration intg WITH (NOLOCK) ON ij.IntegrationId = intg.IntegrationId
        WHERE ij.endedAt IS NOT NULL
        GROUP BY intg.IntegrationAbbreviation, intg.Enabled, intg.Interval
    )
    SELECT TOP 10
        lj.IntegrationAbbreviation AS integrationAbbreviation,
        lj.integrationEnabled AS integrationEnabled,
        lj.Interval AS interval,
        ij.IntegrationId AS integrationId,
        ij.RecordsRead AS recordsRead,
        ij.RecordsWritten AS recordsWritten,
        ij.RecordsFailedInfo AS recordsFailedInfo,
        ij.ErrorCount AS errorCount,
        ij.ErrorInfo AS errorInfo,
        ij.endedAt AS endedAt,
        DATEDIFF(MINUTE, ij.endedAt, GETDATE()) AS minutesAgo,
        ij.KennelsSucceeded AS kennelsSucceeded,
        ij.KennelsSucceededInfo AS kennelsSucceededInfo,
        ij.KennelsFailed AS kennelsFailed,
        ij.KennelsFailedInfo AS kennelsFailedInfo,
        @futureRunCount AS futureRunCount
    FROM LatestJobs lj
    INNER JOIN HC.IntegrationJob ij WITH (NOLOCK) ON lj.IntegrationJobId = ij.IntegrationJobId
    ORDER BY lj.IntegrationAbbreviation;

    -- Result Set 3: Usage statistics across different data types
    WITH DateBounds AS (
        SELECT
            nowUtc = SYSUTCDATETIME(),
            hr1 = DATEADD(HOUR, -1, SYSUTCDATETIME()),
            hr2 = DATEADD(HOUR, -2, SYSUTCDATETIME()),
            d1  = DATEADD(DAY, -1, SYSUTCDATETIME()),
            d2  = DATEADD(DAY, -2, SYSUTCDATETIME()),
            w1  = DATEADD(WEEK, -1, SYSUTCDATETIME()),
            w2  = DATEADD(WEEK, -2, SYSUTCDATETIME()),
            m1  = DATEADD(MONTH, -1, SYSUTCDATETIME()),
            m2  = DATEADD(MONTH, -2, SYSUTCDATETIME())
    ),
    ExcludedUsers AS (
        SELECT '0CDBB109-215E-4B5F-A405-F6C9FBCB18EC' AS UserId
        UNION ALL
        SELECT 'D0B7EF01-C6E3-4723-9D2F-2AE864A59F1A'
    )
    SELECT *
    FROM (
        -- Account
        SELECT
            'Account' AS dataType,
            0 AS id,
            SUM(CASE WHEN h.createdAt >= b.hr1 THEN 1 ELSE 0 END) AS lastHour,
            SUM(CASE WHEN h.createdAt >= b.hr2 AND h.createdAt < b.hr1 THEN 1 ELSE 0 END) AS lastHourComp,
            SUM(CASE WHEN h.createdAt >= b.d1 THEN 1 ELSE 0 END) AS lastDay,
            SUM(CASE WHEN h.createdAt >= b.d2 AND h.createdAt < b.d1 THEN 1 ELSE 0 END) AS lastDayComp,
            SUM(CASE WHEN h.createdAt >= b.w1 THEN 1 ELSE 0 END) AS lastWeek,
            SUM(CASE WHEN h.createdAt >= b.w2 AND h.createdAt < b.w1 THEN 1 ELSE 0 END) AS lastWeekComp,
            SUM(CASE WHEN h.createdAt >= b.m1 THEN 1 ELSE 0 END) AS lastMonth,
            SUM(CASE WHEN h.createdAt >= b.m2 AND h.createdAt < b.m1 THEN 1 ELSE 0 END) AS lastMonthComp
        FROM HC.Hasher h WITH (NOLOCK)
        CROSS JOIN DateBounds b
        WHERE h.createdAt >= b.m2

        UNION ALL

        -- Activity
        SELECT
            'Activity' AS dataType,
            1 AS id,
            SUM(CASE WHEN m.updatedAt >= b.hr1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN m.updatedAt >= b.hr2 AND m.updatedAt < b.hr1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN m.updatedAt >= b.d1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN m.updatedAt >= b.d2 AND m.updatedAt < b.d1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN m.updatedAt >= b.w1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN m.updatedAt >= b.w2 AND m.updatedAt < b.w1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN m.updatedAt >= b.m1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN m.updatedAt >= b.m2 AND m.updatedAt < b.m1 THEN 1 ELSE 0 END)
        FROM HC.HasherEventMap m WITH (NOLOCK)
        CROSS JOIN DateBounds b
        WHERE m.updatedAt >= b.m2
            AND NOT EXISTS (SELECT 1 FROM ExcludedUsers eu WHERE eu.UserId = m.userId)

        UNION ALL

        -- Event
        SELECT
            'Event' AS dataType,
            2 AS id,
            SUM(CASE WHEN e.createdAt >= b.hr1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN e.createdAt >= b.hr2 AND e.createdAt < b.hr1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN e.createdAt >= b.d1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN e.createdAt >= b.d2 AND e.createdAt < b.d1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN e.createdAt >= b.w1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN e.createdAt >= b.w2 AND e.createdAt < b.w1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN e.createdAt >= b.m1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN e.createdAt >= b.m2 AND e.createdAt < b.m1 THEN 1 ELSE 0 END)
        FROM HC.Event e WITH (NOLOCK)
        CROSS JOIN DateBounds b
        WHERE e.createdAt >= b.m2

        UNION ALL

        -- Kennel
        SELECT
            'Kennel' AS dataType,
            3 AS id,
            SUM(CASE WHEN k.createdAt >= b.hr1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN k.createdAt >= b.hr2 AND k.createdAt < b.hr1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN k.createdAt >= b.d1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN k.createdAt >= b.d2 AND k.createdAt < b.d1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN k.createdAt >= b.w1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN k.createdAt >= b.w2 AND k.createdAt < b.w1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN k.createdAt >= b.m1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN k.createdAt >= b.m2 AND k.createdAt < b.m1 THEN 1 ELSE 0 END)
        FROM HC.Kennel k WITH (NOLOCK)
        CROSS JOIN DateBounds b
        WHERE k.createdAt >= b.m2

        UNION ALL

        -- Login
        SELECT
            'Login' AS dataType,
            4 AS id,
            SUM(CASE WHEN l.LoginDate >= b.hr1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN l.LoginDate >= b.hr2 AND l.LoginDate < b.hr1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN l.LoginDate >= b.d1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN l.LoginDate >= b.d2 AND l.LoginDate < b.d1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN l.LoginDate >= b.w1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN l.LoginDate >= b.w2 AND l.LoginDate < b.w1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN l.LoginDate >= b.m1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN l.LoginDate >= b.m2 AND l.LoginDate < b.m1 THEN 1 ELSE 0 END)
        FROM HC.LaunchAndLogin l WITH (NOLOCK)
        CROSS JOIN DateBounds b
        WHERE l.LoginDate >= b.m2
            AND NOT EXISTS (SELECT 1 FROM ExcludedUsers eu WHERE eu.UserId = l.userId)

        UNION ALL

        -- Payment
        SELECT
            'Payment' AS dataType,
            5 AS id,
            SUM(CASE WHEN p.createdAt >= b.hr1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN p.createdAt >= b.hr2 AND p.createdAt < b.hr1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN p.createdAt >= b.d1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN p.createdAt >= b.d2 AND p.createdAt < b.d1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN p.createdAt >= b.w1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN p.createdAt >= b.w2 AND p.createdAt < b.w1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN p.createdAt >= b.m1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN p.createdAt >= b.m2 AND p.createdAt < b.m1 THEN 1 ELSE 0 END)
        FROM HC.Payment p WITH (NOLOCK)
        CROSS JOIN DateBounds b
        WHERE p.createdAt >= b.m2

        UNION ALL

        -- Portal
        SELECT
            'Portal' AS dataType,
            6 AS id,
            SUM(CASE WHEN pa.accessDate >= b.hr1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN pa.accessDate >= b.hr2 AND pa.accessDate < b.hr1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN pa.accessDate >= b.d1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN pa.accessDate >= b.d2 AND pa.accessDate < b.d1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN pa.accessDate >= b.w1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN pa.accessDate >= b.w2 AND pa.accessDate < b.w1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN pa.accessDate >= b.m1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN pa.accessDate >= b.m2 AND pa.accessDate < b.m1 THEN 1 ELSE 0 END)
        FROM HC.PortalAccess pa WITH (NOLOCK)
        CROSS JOIN DateBounds b
        WHERE pa.accessDate >= b.m2
            AND NOT EXISTS (SELECT 1 FROM ExcludedUsers eu WHERE eu.UserId = pa.hasherId)

        UNION ALL

        -- Error
        SELECT
            'Error' AS dataType,
            7 AS id,
            SUM(CASE WHEN el.updatedAt >= b.hr1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN el.updatedAt >= b.hr2 AND el.updatedAt < b.hr1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN el.updatedAt >= b.d1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN el.updatedAt >= b.d2 AND el.updatedAt < b.d1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN el.updatedAt >= b.w1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN el.updatedAt >= b.w2 AND el.updatedAt < b.w1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN el.updatedAt >= b.m1 THEN 1 ELSE 0 END),
            SUM(CASE WHEN el.updatedAt >= b.m2 AND el.updatedAt < b.m1 THEN 1 ELSE 0 END)
        FROM HC.ErrorLog el WITH (NOLOCK)
        CROSS JOIN DateBounds b
        WHERE el.updatedAt >= b.m2
    ) d
    ORDER BY d.id;

    -- Result Set 4: Login information for last day
    SELECT 
        h.DisplayName AS userName,
        ll.UserId AS userId,
        h.FirstName + ' ' + h.LastName as realName,
        h.Photo AS photo,
        CASE 
            WHEN ll.DeviceType = 'iPhone' THEN 1
            WHEN ll.DeviceType IS NULL THEN -1
            ELSE 0 
        END AS isIphone,
        COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') AS systemVersion,
        COUNT(ll.UserName) AS loginCount,
        MAX(ll.LoginDate) AS lastLoginDate,
        DATEDIFF(MINUTE, MAX(ll.LoginDate), GETDATE()) AS minutesSinceLastLogin,
        COALESCE(k.KennelName, '') AS kennelName,
        COALESCE(k.kennelShortName, '') AS kennelShortName,
        LEFT(ll.HcVersion, CHARINDEX(',', ll.HcVersion) - 1) AS hcVersion,
        CASE 
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '26.%' THEN 0
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '18.%' THEN 1
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '17.%' THEN 1
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '16.%' THEN 2
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '15.%' THEN 2
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '14.%' THEN 3
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '13.%' THEN 3
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '12.%' THEN 3
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '11.%' THEN 3
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '10.%' THEN 3
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '37%' THEN 0
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '36%' THEN 0
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '35%' THEN 0
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '34%' THEN 1
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '33%' THEN 1
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '32%' THEN 1
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '31%' THEN 1
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '30%' THEN 2
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '29%' THEN 2
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '28%' THEN 3
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '27%' THEN 3
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '26%' THEN 3
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '25%' THEN 3
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '24%' THEN 3
            WHEN COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), '') LIKE '23%' THEN 3
            ELSE 3
        END AS highlightPhoneVersion,
        CASE 
            WHEN LEFT(ll.HcVersion, CHARINDEX(',', ll.HcVersion) - 1) LIKE '%2.1%' THEN 0
            WHEN LEFT(ll.HcVersion, CHARINDEX(',', ll.HcVersion) - 1) LIKE '%2.0%' THEN 0
            WHEN LEFT(ll.HcVersion, CHARINDEX(',', ll.HcVersion) - 1) LIKE '%1.6%' THEN 1
            WHEN LEFT(ll.HcVersion, CHARINDEX(',', ll.HcVersion) - 1) LIKE '%1.5%' THEN 2
            WHEN LEFT(ll.HcVersion, CHARINDEX(',', ll.HcVersion) - 1) LIKE '%1.2%' THEN 3
            WHEN LEFT(ll.HcVersion, CHARINDEX(',', ll.HcVersion) - 1) LIKE '%1.1.%' THEN 3
            ELSE 3
        END AS highlightHcVersion
    FROM HC.LaunchAndLogin ll WITH (NOLOCK)
    INNER JOIN HC.Hasher h WITH (NOLOCK) ON h.id = ll.UserId
    LEFT OUTER JOIN HC.Kennel k WITH (NOLOCK) ON h.HomeKennelId = k.id
    WHERE ll.LoginDate > DATEADD(DAY, -1, GETDATE())
        AND ll.HcVersion LIKE 'HC Ver%'
    GROUP BY 
        h.DisplayName,
        ll.UserId,
        h.FirstName + ' ' + h.LastName,
        LEFT(ll.HcVersion, CHARINDEX(',', ll.HcVersion) - 1),
        COALESCE(REPLACE(LEFT(ll.SystemVersion, 5), '/', ''), ''),
        CASE 
            WHEN ll.DeviceType = 'iPhone' THEN 1
            WHEN ll.DeviceType IS NULL THEN -1
            ELSE 0 
        END,
        h.Photo,
        COALESCE(k.KennelName, ''),
        COALESCE(k.kennelShortName, '')
    ORDER BY MAX(ll.LoginDate) DESC;

    -- Result Set 5: Recent events (last 20 updated or active)
    WITH RecentlyUpdated AS (
        SELECT TOP 20
            k.KennelName AS kennelName,
            k.KennelShortName AS kennelShortName,
            k.KennelLogo AS kennelLogo,
            CASE WHEN evt.UseFbRunDetails != 0 THEN evt.FbEventName ELSE evt.EventName END AS eventName,
            DATEDIFF(MINUTE, evt.updatedAt, GETDATE()) AS minutesAgoUpdated,
            DATEDIFF(MINUTE, evt.createdAt, GETDATE()) AS minutesAgoCreated,
            DATEDIFF(MINUTE, GETDATE(), evt.EventStartDatetime) AS minutesUntilRun,
            (SELECT COUNT(*) 
             FROM HC.HasherEventMap hem WITH (NOLOCK)
             WHERE hem.EventId = evt.id 
                 AND hem.updatedAt >= DATEADD(DAY, -1, GETDATE())) AS activityLastDay,
            evt.PublicEventId AS publicEventId
        FROM HC.Event evt WITH (NOLOCK)
        INNER JOIN HC.Kennel k WITH (NOLOCK) ON evt.KennelId = k.id
        WHERE evt.EventStartDatetimeIndexed > DATEADD(MINUTE, -2880, GETDATE()) 
            AND evt.IsVisible = 1
        ORDER BY evt.updatedAt DESC
    ),
    MostActive AS (
        SELECT TOP 20
            k.KennelName AS kennelName,
            k.KennelShortName AS kennelShortName,
            k.KennelLogo AS kennelLogo,
            CASE WHEN evt.UseFbRunDetails != 0 THEN evt.FbEventName ELSE evt.EventName END AS eventName,
            DATEDIFF(MINUTE, evt.updatedAt, GETDATE()) AS minutesAgoUpdated,
            DATEDIFF(MINUTE, evt.createdAt, GETDATE()) AS minutesAgoCreated,
            DATEDIFF(MINUTE, GETDATE(), evt.EventStartDatetime) AS minutesUntilRun,
            (SELECT COUNT(*) 
             FROM HC.HasherEventMap hem WITH (NOLOCK)
             WHERE hem.EventId = evt.id 
                 AND hem.updatedAt >= DATEADD(DAY, -1, GETDATE())) AS activityLastDay,
            evt.PublicEventId AS publicEventId
        FROM HC.Event evt WITH (NOLOCK)
        INNER JOIN HC.Kennel k WITH (NOLOCK) ON evt.KennelId = k.id
        WHERE evt.EventStartDatetimeIndexed > DATEADD(MINUTE, -2880, GETDATE()) 
            AND evt.IsVisible = 1
            AND EXISTS (
                SELECT 1 
                FROM HC.HasherEventMap hem WITH (NOLOCK)
                WHERE hem.EventId = evt.id 
                    AND hem.updatedAt >= DATEADD(DAY, -1, GETDATE())
            )
        ORDER BY activityLastDay DESC
    )
    SELECT DISTINCT *
    FROM (
        SELECT * FROM RecentlyUpdated
        UNION
        SELECT * FROM MostActive
    ) combined
    ORDER BY minutesAgoUpdated;

END
GO
