/****** Object:  StoredProcedure [HC5].[hcportal_test]    Script Date: 3/8/2026 11:54:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [HC5].[hcportal_test]

-- EXEC HC5.hcportal_test where @publicKennelId = '4483B884-E862-44CA-B52A-D95C9E876D4B'

-- required parameters
@publicHasherId uniqueidentifier = NULL,
@accessToken nvarchar(1000) = NULL,
@publicKennelId uniqueidentifier = NULL,

-- optional parameters
@ipAddress nvarchar(100) = NULL,
@ipGeoDetails nvarchar(2000) = NULL

AS
	SET NOCOUNT ON

	SELECT TOP 5 evt.EventName from HC.Event evt 
	inner join HC.Kennel k on evt.KennelId = k.id
	where k.PublicKennelId = @publicKennelId
	order by EventStartDatetime desc


GO
