/****** Object:  StoredProcedure [HC5].[hcportal_getLandingPageData]    Script Date: 3/8/2026 11:54:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [HC5].[hcportal_getLandingPageData]

@publicHasherId uniqueidentifier = NULL,
@accessToken nvarchar(1000) = NULL,
@fcmToken nvarchar(500) = NULL,
@deviceId uniqueidentifier = NULL,

-- optional parameters
@ipAddress nvarchar(100) = NULL,
@ipGeoDetails nvarchar(2000) = NULL

AS
BEGIN
	SET NOCOUNT ON

	DECLARE @errorId uniqueidentifier
	DECLARE @isError int = 0
	DECLARE @errorTitle nvarchar(500) = ''

	IF (@publicHasherId IS NULL) OR (datalength(@publicHasherId) != 16)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Null or invalid publicHasherId'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','Null or empty publicHasherId','Null or empty publicHasherId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'Null or empty value was passed as the publicHasherId to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END

	--DECLARE @hasherId uniqueidentifier
	--SELECT @hasherId = id from HC.Hasher WHERE PublicHasherId = @publicHasherId

 --   IF (@hasherId IS NULL) AND (@isError = 0)
	--BEGIN
	--	SET @errorId = newid()
	--	SET @isError = 1
	--	SET @errorTitle = 'No record found with provided @publicHasherId'
	--	INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @publicHasherId','@publicHasherId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
	--	SELECT 
	--	@errorId as errorId,
	--	cast (2 as int) as errorType 
	--	,@errorTitle as errorTitle
	--	,'@publicHasherId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
	--	,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
	--	,OBJECT_NAME(@@PROCID) as errorProc
	--END


	IF (HC.CHECK_PORTAL_ACCESS_TOKEN(@publicHasherId,OBJECT_NAME(@@PROCID),@accessToken,NULL) = 0) AND (@isError = 0) 
	BEGIN
		SET @errorId = newid()
		SET @errorTitle = 'Invalid access token'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) VALUES (@errorId,'<unknown>','Invalid access token','An invalid access token was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		,@errorTitle as errorTitle
		,'An invalid access token was passed to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		SET @isError = 1
	END

	INSERT INTO [LOG].[GeneralLog]
        ([LogSource]
        ,[Message]
		,[Data]
        ,[Timestamp])
    VALUES
        (
		'Admin Portal: hcportal_getKennelHashers'
        ,case when @isError = 1 then @errorTitle + ' ' else '' end + coalesce(@ipAddress,'<no IP address>')
		,coalesce(@ipGeoDetails,'{   "ip": "<no IP address>",   "hostname": "<none>",   "city": "<none>",   "region": "<none>",   "country": "??",   "loc": 0,0",   "org": "<none>",   "postal": "<none>",   "timezone": "<none>" }')
        ,Getdate()
	)

	if (@isError = 1)
	BEGIN
		RETURN
	END

	-- if the FCM token has changed, update the table accordingly
	UPDATE device SET device.FcmToken = @fcmToken, updatedAt = GETDATE() 
	FROM HC.Device device 
	WHERE device.id = @deviceId and FcmToken != @fcmToken
		
	DECLARE @firstName nvarchar(250),
			@lastName nvarchar(250),
			@hashName nvarchar(250),
			@displayName nvarchar(250),
			@hasherId uniqueidentifier

	SELECT 
		@firstName = coalesce(h.FirstName,''),
		@lastName = coalesce(h.LastName,''),
		@hashName = coalesce(h.HashName,''),
		@displayName = coalesce(h.DisplayName,''),
		@hasherId = h.id
	FROM  HC.Hasher h 
	WHERE h.PublicHasherId = @publicHasherId

	SELECT 
		@firstName as firstName,
		@lastName as lastName,
		@hashName as hashName,
		@displayName as displayName

	INSERT HC.PortalAccess(hasherId) VALUES (@hasherId)

	SELECT 
	k.PublicKennelId as publicKennelId
	,k.KennelName as kennelName
	,k.KennelShortName as kennelShortName
	,k.KennelUniqueShortName as kennelUniqueShortName
	,k.KennelLogo as kennelLogo
	,k.DefaultRunTags1 as defaultTags1
	,k.DefaultRunTags2 as defaultTags2
	,k.DefaultRunTags3 as defaultTags3
	,k.CountryId as countryId
	,n.CountryName as countryName
	,k.DefaultEventPriceForMembers as defaultEventPriceForMembers
	,k.DefaultEventPriceForNonMembers as defaultEventPriceForNonMembers
	,coalesce(k.CurrencySymbol,n.CurrencySymbol) as defaultCurrencySymbol
	,coalesce(k.DigitsAfterDecimal,n.DigitsAfterDecimal) as defaultDigitsAfterDecimal
	,cast(k.DefaultRunStartTime as datetime) as defaultRunStartTime
	,k.Latitude as kennelLat
	,k.Longitude as kennelLon
	,c.Latitude as cityLat
	,c.Longitude as cityLon
	,n.NeighboringCountries as kennelCountryCodes
	,hkm.Following as isFollowing
	,hkm.MembershipExpirationDate as membershipExpirationDate
	,case when hkm.MembershipExpirationDate > getdate() then 1 else 0 end as isMember
	,case when h.HomeKennelId = k.id then 1 else 0 end as isHomeKennel
	,hkm.AppAccessFlags as appAccessFlags
	FROM 
	HC.Hasher h 
	INNER JOIN HC.HasherKennelMap hkm on hkm.UserId = h.id
	INNER JOIN HC.Kennel k on k.id = hkm.KennelId
	INNER JOIN HC.City c on k.CityId = c.id
	INNER JOIN HC.Country n on k.CountryId = n.id
	WHERE h.PublicHasherId = @publicHasherId
	AND hkm.Following = 1
END



GO
