/****** Object:  StoredProcedure [HC5].[hcportal_editKennel]    Script Date: 3/8/2026 11:54:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE OR ALTER PROCEDURE [HC5].[hcportal_editKennel]

	-- required parameters (we accept nulls so we can trap errors in SQL instead of having the SP fail to execute)
	@publicHasherId uniqueidentifier = NULL,
	@accessToken nvarchar(1000) = NULL,
	@publicKennelId uniqueidentifier = NULL,

	-- optional parameters
    @kennelStatus SMALLINT = NULL,
    @kennelName NVARCHAR(250) = NULL,
    @kennelAdminEmailList NVARCHAR(2000) = NULL,
    @disseminateHashRunsDotOrg SMALLINT = NULL,
    @disseminateAllowWebLinks SMALLINT = NULL,
    @disseminationAudience INT = NULL,
	@disseminateOnGlobalGoogleCalendar INT = NULL,
    @googleCalendarId NVARCHAR(250) = NULL,
    @publishToGoogleCalendar SMALLINT = NULL,
    @publishToGoogleCalendarAddresses NVARCHAR(1000) = NULL,
    @canEditRunAttendence SMALLINT = NULL,
    @kennelShortName NVARCHAR(25) = NULL,
    @kennelUniqueShortName NVARCHAR(25) = NULL,
    @kennelDescription NVARCHAR(4000) = NULL,
    @kennelLogo NVARCHAR(500) = NULL,
    @kennelPinColor SMALLINT = NULL,
    @kennelCoverPhoto NVARCHAR(500) = NULL,
    @kennelWebsiteUrl NVARCHAR(500) = NULL,
    @kennelEventsUrl NVARCHAR(500) = NULL,
    @kennelHcEventsUrl NVARCHAR(500) = NULL,
    @kennelMismanagementTeam NVARCHAR(4000) = NULL,
    @defaultEventPriceForMembers DECIMAL(10, 4) = NULL,
    @defaultEventPriceForNonMembers DECIMAL(10, 4) = NULL,
    @defaultEventCurrencyType NVARCHAR(10) = NULL,
    @defaultRunStartTime TIME(7) = NULL,
    @currencyCode NVARCHAR(5) = NULL,
    @primaryCultureCode NVARCHAR(10) = NULL,
    @currencySymbol NVARCHAR(5) = NULL,
    @digitsAfterDecimal SMALLINT = NULL,
    @bankScheme NVARCHAR(10) = NULL,
    @bankAccountNumber NVARCHAR(50) = NULL,
    @bankBic NVARCHAR(50) = NULL,
    @bankBeneficiary NVARCHAR(150) = NULL,
    @kennelPaymentScheme NVARCHAR(50) = NULL,
    @kennelPaymentUrl NVARCHAR(2000) = NULL,
    @kennelPaymentUrlExpires DATETIMEOFFSET(7) = NULL,
    @kennelPaymentMemberSurcharge DECIMAL(10, 4) = NULL,
    @kennelPaymentNonMemberSurcharge DECIMAL(10, 4) = NULL,
    @kennelPaymentScheme2 NVARCHAR(50) = NULL,
    @kennelPaymentUrl2 NVARCHAR(2000) = NULL,
    @kennelPaymentUrlExpires2 DATETIMEOFFSET(7) = NULL,
    @kennelPaymentMemberSurcharge2 DECIMAL(10, 4) = NULL,
    @kennelPaymentNonMemberSurcharge2 DECIMAL(10, 4) = NULL,
    @kennelPaymentScheme3 NVARCHAR(50) = NULL,
    @kennelPaymentUrl3 NVARCHAR(2000) = NULL,
    @kennelPaymentUrlExpires3 DATETIMEOFFSET(7) = NULL,
    @kennelPaymentMemberSurcharge3 DECIMAL(10, 4) = NULL,
    @kennelPaymentNonMemberSurcharge3 DECIMAL(10, 4) = NULL,
    @kennelFeaturesTier SMALLINT = NULL,
    @kennelFeaturesExpire DATETIMEOFFSET(7) = NULL,
    @kennelGoogleSheetApiKey NVARCHAR(250) = NULL,
    @allowSelfPayment SMALLINT = NULL,
    @allowNegativeCredit SMALLINT = NULL,
    @cityId UNIQUEIDENTIFIER = NULL,
    @provinceStateId UNIQUEIDENTIFIER = NULL,
    @countryId UNIQUEIDENTIFIER = NULL,
    @latitude DECIMAL(18, 14) = NULL,
    @longitude DECIMAL(19, 15) = NULL,
    @defaultRunTags1 INT = NULL,
    @defaultRunTags2 INT = NULL,
    @defaultRunTags3 INT = NULL,
    @kennelGeolocation GEOGRAPHY = NULL,
    @membershipDurationInMonths INT = NULL,
    @runCountStartDate DATETIMEOFFSET(7) = NULL,
    @distancePreference SMALLINT = NULL,
    @extApiKey NVARCHAR(120) = NULL,
    @kennelSearchTags NVARCHAR(4000) = NULL,
    @excludeFromLeaderboard SMALLINT = NULL,
	@notificationMinutesBeforeRunForChatPushNotifications smallint = NULL,
	@notificationMinutesBeforeRunForCheckinReminder smallint = NULL,

	@ipAddress nvarchar(100) = NULL,
	@ipGeoDetails nvarchar(2000) = NULL

AS

BEGIN
	SET NOCOUNT ON

	DECLARE @isError smallint = 0
	DECLARE @isAdmin smallint = 1
	DECLARE @errorTitle nvarchar(500) = ''

	IF (@publicHasherId = '11111111-1111-1111-1111-111111111111') 
	BEGIN
		SELECT @isAdmin = 0
	END

	DECLARE @errorId uniqueidentifier

	IF (@publicHasherId IS NULL) OR (datalength(@publicHasherId) != 16)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Null or invalid publicHasherId'
		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','Null or empty publicHasherId','Null or empty publicHasherId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'Null or empty value was passed as the publicHasherId to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		
	END

	


	IF (@kennelUniqueShortName IS NOT NULL)
	BEGIN

		IF ((SELECT COUNT(*) FROM HC.Kennel where KennelUniqueShortName = @kennelUniqueShortName AND PublicKennelId != @publicKennelId) != 0)
		BEGIN
			SET @errorId = newid()
			SET @isError = 1
			SET @errorTitle = 'Duplicate Kennel unique short name'
			INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>',@errorTitle,'A duplicate Kennel Unique Short Name was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
			DECLARE @shortName as nvarchar(50),
					@shortNameWithCountry as nvarchar(50)

			SELECT @shortName = KennelShortName FROM HC.Kennel WHERE KennelUniqueShortName = @kennelUniqueShortName AND PublicKennelId != @publicKennelId
			
			SELECT @shortNameWithCountry = @shortName + '-' + c.CountryCode FROM HC.Kennel ken
			INNER JOIN HC.Country c on ken.CountryId = c.id
			WHERE ken.PublicKennelId = @publicKennelId

			IF ((SELECT COUNT(*) FROM HC.Kennel ken where ken.KennelUniqueShortName = @shortNameWithCountry AND PublicKennelId != @publicKennelId) != 0)
			BEGIN
				SET @shortNameWithCountry = NULL
			END
			
			DECLARE @counter int = 2
			DECLARE @validName nvarchar(500)

			WHILE @Counter <= 100
			BEGIN
				SET @validName = @shortName + '-' + cast(@counter as nvarchar(50))
				IF ((SELECT COUNT(*) FROM HC.Kennel where KennelUniqueShortName = @validName AND PublicKennelId != @publicKennelId) = 0)
				BEGIN
					BREAK;
				END
				
				SET @Counter = @Counter + 1;
			END;

			IF (@shortNameWithCountry IS NOT NULL)
				BEGIN
				   SET @validName = @validName + ' and ' + @shortNameWithCountry + ' are not yet taken. Please use one of these or try another unique name.'
				END
			ELSE
			BEGIN
				SET @validName = @validName + ' is not yet taken. Please use this one or try another unique name.'
			END

			SELECT 
			@errorId as errorId,
			cast (2 as int) as errorType 
			,@errorTitle as errorTitle
			,@kennelUniqueShortName + ' already exists in Harrier Central. ' + @validName as errorUserMessage
			,'Please try another value or contact us at harriercentral@gmail.com for help.' as debugMessage
			,OBJECT_NAME(@@PROCID) as errorProc
		END
		
	END

	--DECLARE @hasherId uniqueidentifier
	--SELECT @hasherId = id from HC.Hasher WHERE PublicHasherId = @publicHasherId

 --   IF (@hasherId IS NULL) AND (@isError = 0)
	--BEGIN
	--	SET @errorId = newid()
	--	SET @isError = 1
	--	SET @errorTitle = 'No record found with provided @publicHasherId'
	--	INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @publicHasherId','@publicHasherId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
	--	SELECT 
	--	@errorId as errorId,
	--	cast (2 as int) as errorType 
	--	,@errorTitle as errorTitle
	--	,'@publicHasherId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
	--	,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
	--	,OBJECT_NAME(@@PROCID) as errorProc
	--END

	IF ((@publicKennelId IS NULL) OR (datalength(@publicKennelId) != 16)) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @errorTitle = 'NULL or invalid publicKennelId'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) 
		VALUES (@errorId,'hcportal',@errorTitle,'An invalid publicKennelId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		,@errorTitle as errorTitle
		,'An internal error was encountered in our web page (null or invalid publicKennelId).' as errorUserMessage
		,'Please contact us at harriercentral@gmail.com to learn more about how to generate web pages from our system. We are happy to help!' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		SET @isError = 1
	END


	DECLARE @kennelId uniqueidentifier
	SELECT @kennelId = id from HC.Kennel WHERE PublicKennelId = @publicKennelId AND @publicKennelId is not null

    IF ((@publicKennelId IS NOT NULL) AND (@kennelId IS NULL) AND (@isError = 0))
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'No record found with provided @publicKennelId'
		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @publicKennelId','@publicKennelId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'@publicKennelId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		
	END


	IF (HC.CHECK_PORTAL_ACCESS_TOKEN(@publicHasherId,OBJECT_NAME(@@PROCID),@accessToken,@publicKennelId) = 0) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Invalid access token'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) VALUES (@errorId,'<unknown>','Invalid access token','An invalid access token was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		, @errorTitle as errorTitle
		,'An invalid access token was passed to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		
	END

	INSERT INTO [LOG].[GeneralLog]
        ([LogSource]
        ,[Message]
		,[Data]
        ,[Timestamp])
    VALUES
        (
		case when @isAdmin = 1 THEN 'Admin Portal: hcportal_addEditEvent' ELSE 'HashRuns.Org hcportal_addEditEvent' END 
        ,case when @isError = 1 then @errorTitle + ' ' else '' end + coalesce(@ipAddress,'<no IP address>')
		,coalesce(@ipGeoDetails,'{   "ip": "<no IP address>",   "hostname": "<none>",   "city": "<none>",   "region": "<none>",   "country": "??",   "loc": 0,0",   "org": "<none>",   "postal": "<none>",   "timezone": "<none>" }')
        ,Getdate()
	)

	if (@isError = 1)
	BEGIN
		RETURN
	END

	DECLARE @resultStr nvarchar(250)
	DECLARE @resultInt int


    UPDATE HC.Kennel
    SET
        KennelStatus = COALESCE(@kennelStatus, KennelStatus),
        KennelName = COALESCE(@kennelName, KennelName),
        KennelAdminEmailList = COALESCE(@kennelAdminEmailList, KennelAdminEmailList),
        DisseminateHashRunsDotOrg = COALESCE(@disseminateHashRunsDotOrg, DisseminateHashRunsDotOrg),
        DisseminateAllowWebLinks = COALESCE(@disseminateAllowWebLinks, DisseminateAllowWebLinks),
        DisseminationAudience = COALESCE(@disseminationAudience, DisseminationAudience),
		DisseminateOnGlobalGoogleCalendar = COALESCE(@disseminateOnGlobalGoogleCalendar, DisseminateOnGlobalGoogleCalendar),
        GoogleCalendarId = COALESCE(@googleCalendarId, GoogleCalendarId),
        PublishToGoogleCalendar = COALESCE(@publishToGoogleCalendar, PublishToGoogleCalendar),
        PublishToGoogleCalendarAddresses = COALESCE(@publishToGoogleCalendarAddresses, PublishToGoogleCalendarAddresses),
        CanEditRunAttendence = COALESCE(@canEditRunAttendence, CanEditRunAttendence),
        KennelShortName = COALESCE(@kennelShortName, KennelShortName),
        KennelUniqueShortName = COALESCE(@kennelUniqueShortName, KennelUniqueShortName),
        KennelDescription = COALESCE(@kennelDescription, KennelDescription),
        KennelLogo = COALESCE(@kennelLogo, KennelLogo),
        KennelPinColor = COALESCE(@kennelPinColor, KennelPinColor),
        KennelCoverPhoto = COALESCE(@kennelCoverPhoto, KennelCoverPhoto),
        KennelWebsiteUrl = COALESCE(@kennelWebsiteUrl, KennelWebsiteUrl),
        KennelEventsUrl = COALESCE(@kennelEventsUrl, KennelEventsUrl),
        KennelHcEventsUrl = COALESCE(@kennelHcEventsUrl, KennelHcEventsUrl),
        KennelMismanagementTeam = COALESCE(@kennelMismanagementTeam, KennelMismanagementTeam),
        DefaultEventPriceForMembers = COALESCE(@defaultEventPriceForMembers, DefaultEventPriceForMembers),
        DefaultEventPriceForNonMembers = COALESCE(@defaultEventPriceForNonMembers, DefaultEventPriceForNonMembers),
        DefaultEventCurrencyType = COALESCE(@defaultEventCurrencyType, DefaultEventCurrencyType),
        DefaultRunStartTime = COALESCE(@defaultRunStartTime, DefaultRunStartTime),
        CurrencyCode = COALESCE(@currencyCode, CurrencyCode),
        PrimaryCultureCode = COALESCE(@primaryCultureCode, PrimaryCultureCode),
        CurrencySymbol = COALESCE(@currencySymbol, CurrencySymbol),
        DigitsAfterDecimal = COALESCE(@digitsAfterDecimal, DigitsAfterDecimal),
        BankScheme = COALESCE(@bankScheme, BankScheme),
        BankAccountNumber = COALESCE(@bankAccountNumber, BankAccountNumber),
        BankBic = COALESCE(@bankBic, BankBic),
        BankBeneficiary = COALESCE(@bankBeneficiary, BankBeneficiary),
        KennelPaymentScheme = COALESCE(@kennelPaymentScheme, KennelPaymentScheme),
        KennelPaymentUrl = COALESCE(@kennelPaymentUrl, KennelPaymentUrl),
        KennelPaymentUrlExpires = COALESCE(@kennelPaymentUrlExpires, KennelPaymentUrlExpires),
        KennelPaymentMemberSurcharge = COALESCE(@kennelPaymentMemberSurcharge, KennelPaymentMemberSurcharge),
        KennelPaymentNonMemberSurcharge = COALESCE(@kennelPaymentNonMemberSurcharge, KennelPaymentNonMemberSurcharge),
        KennelPaymentScheme2 = COALESCE(@kennelPaymentScheme2, KennelPaymentScheme2),
        KennelPaymentUrl2 = COALESCE(@kennelPaymentUrl2, KennelPaymentUrl2),
        KennelPaymentUrlExpires2 = COALESCE(@kennelPaymentUrlExpires2, KennelPaymentUrlExpires2),
        KennelPaymentMemberSurcharge2 = COALESCE(@kennelPaymentMemberSurcharge2, KennelPaymentMemberSurcharge2),
        KennelPaymentNonMemberSurcharge2 = COALESCE(@kennelPaymentNonMemberSurcharge2, KennelPaymentNonMemberSurcharge2),
        KennelPaymentScheme3 = COALESCE(@kennelPaymentScheme3, KennelPaymentScheme3),
        KennelPaymentUrl3 = COALESCE(@kennelPaymentUrl3, KennelPaymentUrl3),
        KennelPaymentUrlExpires3 = COALESCE(@kennelPaymentUrlExpires3, KennelPaymentUrlExpires3),
        KennelPaymentMemberSurcharge3 = COALESCE(@kennelPaymentMemberSurcharge3, KennelPaymentMemberSurcharge3),
        KennelPaymentNonMemberSurcharge3 = COALESCE(@kennelPaymentNonMemberSurcharge3, KennelPaymentNonMemberSurcharge3),
        KennelFeaturesTier = COALESCE(@kennelFeaturesTier, KennelFeaturesTier),
        KennelFeaturesExpire = COALESCE(@kennelFeaturesExpire, KennelFeaturesExpire),
        KennelGoogleSheetApiKey = COALESCE(@kennelGoogleSheetApiKey, KennelGoogleSheetApiKey),
        AllowSelfPayment = COALESCE(@allowSelfPayment, AllowSelfPayment),
        AllowNegativeCredit = COALESCE(@allowNegativeCredit, AllowNegativeCredit),
        CityId = COALESCE(@cityId, CityId),
        ProvinceStateId = COALESCE(@provinceStateId, ProvinceStateId),
        CountryId = COALESCE(@countryId, CountryId),
        Latitude = case when ((@latitude = 999) OR (@longitude = 999)) then null else COALESCE(@latitude, Latitude) end,
        Longitude = case when ((@latitude = 999) OR (@longitude = 999)) then null else COALESCE(@longitude, Longitude) end,
        DefaultRunTags1 = COALESCE(@defaultRunTags1, DefaultRunTags1),
        DefaultRunTags2 = COALESCE(@defaultRunTags2, DefaultRunTags2),
        DefaultRunTags3 = COALESCE(@defaultRunTags3, DefaultRunTags3),
        KennelGeolocation = COALESCE(@kennelGeolocation, KennelGeolocation),
        MembershipDurationInMonths = COALESCE(@membershipDurationInMonths, MembershipDurationInMonths),
        RunCountStartDate = COALESCE(@runCountStartDate, RunCountStartDate),
        DistancePreference = COALESCE(@distancePreference, DistancePreference),
        ExtApiKey = COALESCE(@extApiKey, ExtApiKey),
        KennelSearchTags = COALESCE(@kennelSearchTags, KennelSearchTags),
        ExcludeFromLeaderboard = COALESCE(@excludeFromLeaderboard, ExcludeFromLeaderboard),
		NotificationMinutesBeforeRunForChatPushNotifications = COALESCE(@notificationMinutesBeforeRunForChatPushNotifications, NotificationMinutesBeforeRunForChatPushNotifications),
		NotificationMinutesBeforeRunForCheckinReminder = COALESCE(@notificationMinutesBeforeRunForCheckinReminder,NotificationMinutesBeforeRunForCheckinReminder),
		updatedAt = SYSUTCDATETIME()
    WHERE id = @kennelId;

	SET @resultStr = 'Kennel updated successfully'
	SET @resultInt = 1

	SELECT @resultStr as result, @resultInt as resultCode
END;
GO
