/****** Object:  StoredProcedure [HC5].[hcportal_regenerateExtApiKey]    Script Date: 3/8/2026 11:54:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [HC5].[hcportal_regenerateExtApiKey]

@publicHasherId uniqueidentifier = NULL,
@accessToken nvarchar(1000) = NULL,
@publicKennelId nvarchar(250) = NULL,
@currentExtApiKey nvarchar(1000) = NULL,

-- optional parameters
@ipAddress nvarchar(100) = NULL,
@ipGeoDetails nvarchar(2000) = NULL

AS
	SET NOCOUNT ON

	DECLARE @errorId uniqueidentifier
	DECLARE @isError int = 0
	DECLARE @errorTitle nvarchar(500) = ''

	IF (@publicHasherId IS NULL) OR (datalength(@publicHasherId) != 16)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Null or invalid publicHasherId'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','Null or empty publicHasherId','Null or empty publicHasherId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'Null or empty value was passed as the publicHasherId to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END

	--DECLARE @hasherId uniqueidentifier
	--SELECT @hasherId = id from HC.Hasher WHERE PublicHasherId = @publicHasherId

 --   IF (@hasherId IS NULL) AND (@isError = 0)
	--BEGIN
	--	SET @errorId = newid()
	--	SET @isError = 1
	--	SET @errorTitle = 'No record found with provided @publicHasherId'
	--	INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @publicHasherId','@publicHasherId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
	--	SELECT 
	--	@errorId as errorId,
	--	cast (2 as int) as errorType 
	--	,@errorTitle as errorTitle
	--	,'@publicHasherId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
	--	,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
	--	,OBJECT_NAME(@@PROCID) as errorProc
	--END


	IF ((@publicKennelId IS NULL) OR (datalength(@publicKennelId) != 72)) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @errorTitle = 'NULL or invalid publicKennelId'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) 
		VALUES (@errorId,'hcportal',@errorTitle,'An invalid publicKennelId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		,@errorTitle as errorTitle
		,'An internal error was encountered in our web page (null or invalid publicKennelId).' as errorUserMessage
		,'Please contact us at harriercentral@gmail.com to learn more about how to generate web pages from our system. We are happy to help!' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		SET @isError = 1
	END

	DECLARE @kennelId uniqueidentifier
	SELECT @kennelId = id from HC.Kennel WHERE PublicKennelId = @publicKennelId

    IF ((@kennelId IS NULL) AND (@isError = 0))
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'No record found with provided @publicKennelId'
		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @publicKennelId','@publicKennelId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'@publicKennelId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		
	END

	DECLARE @apiKeyExists smallint
	SELECT @apiKeyExists = COUNT(*) from HC.Kennel WHERE PublicKennelId = @publicKennelId AND ExtApiKey = @currentExtApiKey

    IF (@apiKeyExists = 0)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'An invalid public API key was provided. You cannot reset an API key without the current API key.'
		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','An invalid public API key was provided.','An invalid public API key was provided to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'An invalid public API key was provided to'+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'To reset your API key, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		
	END

	IF (HC.CHECK_PORTAL_ACCESS_TOKEN(@publicHasherId,OBJECT_NAME(@@PROCID),@accessToken,@publicKennelId) = 0) AND (@isError = 0) 
	BEGIN
		SET @errorId = newid()
		SET @errorTitle = 'Invalid access token'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) VALUES (@errorId,'<unknown>','Invalid access token','An invalid access token was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		,@errorTitle as errorTitle
		,'An invalid access token was passed to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		SET @isError = 1
	END

	INSERT INTO [LOG].[GeneralLog]
        ([LogSource]
        ,[Message]
		,[Data]
        ,[Timestamp])
    VALUES
        (
		'Admin Portal: hcportal_regenerateExtApiKey'
        ,case when @isError = 1 then @errorTitle + ' ' else '' end + coalesce(@ipAddress,'<no IP address>')
		,coalesce(@ipGeoDetails,'{   "ip": "<no IP address>",   "hostname": "<none>",   "city": "<none>",   "region": "<none>",   "country": "??",   "loc": 0,0",   "org": "<none>",   "postal": "<none>",   "timezone": "<none>" }')
        ,Getdate()
	)

	if (@isError = 1)
	BEGIN
		RETURN
	END

	DECLARE @appAccessFlags int,
			@kennelName nvarchar(200)

	SELECT 
		@appAccessFlags = hkm.AppAccessFlags,
		@kennelName = k.KennelName
	FROM HC.HasherKennelMap hkm
	INNER JOIN HC.Kennel k on hkm.KennelId = k.id
	INNER JOIN HC.Hasher h on hkm.UserId = h.id
	WHERE h.PublicHasherId = @publicHasherId
	AND k.PublicKennelId = @publicKennelId

	IF @appAccessFlags IS NULL OR (@appAccessFlags & 0x40000019) = 0
	BEGIN
		SET @errorId = newid()

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) VALUES (@errorId,'<unknown>','User not authorized to access Hasher data','User not authorized on kennel to access Hashers in proc ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		,'User not authorized' as errorTitle
		,'You are not authorized to access Hasher information for ' + @kennelName  as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		RETURN
	END

	DECLARE	@BinaryData varbinary(max) = crypt_gen_random (150) 
	DECLARE @randText nvarchar(1000)
	SELECT @randText = LEFT(REPLACE(REPLACE(cast('' as xml).value('xs:base64Binary(sql:variable("@BinaryData"))', 'varchar(max)'),'+',''),'/',''),75)
	  UPDATE   HC.Kennel
	  SET      ExtApiKey = @randText
		WHERE id = @kennelId


	SELECT @randText as newExtApiKey

GO
