/****** Object:  StoredProcedure [HC5].[hcportal_bulkAddHashers]    Script Date: 3/8/2026 11:54:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [HC5].[hcportal_bulkAddHashers]

-- required parameters (we accept nulls so we can trap errors in SQL instead of having the SP fail to execute)
@publicHasherId uniqueidentifier = NULL,
@accessToken nvarchar(1000) = NULL,
@publicKennelId uniqueidentifier = NULL,
@newHasherJson nvarchar(MAX) = NULL,

-- optional parameters
@ipAddress nvarchar(100) = NULL,
@ipGeoDetails nvarchar(2000) = NULL

AS

BEGIN

	SET NOCOUNT ON

	DECLARE @errorId uniqueidentifier
	DECLARE @isError int = 0
	DECLARE @errorTitle nvarchar(500) = ''

	IF (@publicHasherId IS NULL) OR (datalength(@publicHasherId) != 16)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Null or invalid publicHasherId'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','Null or empty publicHasherId','Null or empty publicHasherId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'Null or empty value was passed as the publicHasherId to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END

	DECLARE @hasherId uniqueidentifier
	SELECT @hasherId = id from HC.Hasher WHERE PublicHasherId = @publicHasherId

    IF (@hasherId IS NULL) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'No record found with provided @publicHasherId'
		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @publicHasherId','@publicHasherId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'@publicHasherId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END


	IF ((@publicKennelId IS NULL) OR (datalength(@publicKennelId) != 16)) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @errorTitle = 'NULL or invalid publicKennelId'
		SET @isError = 1

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) 
		VALUES (@errorId,'hcportal',@errorTitle,'An invalid publicKennelId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		,@errorTitle as errorTitle
		,'An internal error was encountered in our web page (null or invalid publicKennelId).' as errorUserMessage
		,'Please contact us at harriercentral@gmail.com to learn more about how to generate web pages from our system. We are happy to help!' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END

	DECLARE @kennelId uniqueidentifier
	SELECT @kennelId = id from HC.Kennel WHERE PublicKennelId = @publicKennelId

    IF (@kennelId IS NULL) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'No record found with provided @publicKennelId'
		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @publicKennelId','@publicKennelId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'@publicKennelId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END


	IF ((@newHasherJson IS NULL) OR (datalength(@newHasherJson) < 10)) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @errorTitle = 'NULL or invalid new Hasher data'
		SET @isError = 1

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) 
		VALUES (@errorId,'hcportal',@errorTitle,'invalid new Hasher data was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		,@errorTitle as errorTitle
		,'An internal error was encountered in our web page (null or invalid new Hasher data).' as errorUserMessage
		,'Please contact us at harriercentral@gmail.com to learn more about how to generate web pages from our system. We are happy to help!' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END

	IF (HC.CHECK_PORTAL_ACCESS_TOKEN(@publicHasherId,OBJECT_NAME(@@PROCID),@accessToken,@publicKennelId) = 0) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Invalid access token'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) VALUES (@errorId,'<unknown>','Invalid access token','An invalid access token was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		,@errorTitle as errorTitle
		,'An invalid access token was passed to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		RETURN
	END

	INSERT INTO [LOG].[GeneralLog]
        ([LogSource]
        ,[Message]
		,[Data]
        ,[Timestamp])
    VALUES
        (
		'Admin Portal: hcportal_bulkAddHashers'
        ,case when @isError = 1 then @errorTitle + ' ' else '' end + coalesce(@ipAddress,'<no IP address>')
		,coalesce(@ipGeoDetails,'{   "ip": "<no IP address>",   "hostname": "<none>",   "city": "<none>",   "region": "<none>",   "country": "??",   "loc": 0,0",   "org": "<none>",   "postal": "<none>",   "timezone": "<none>" }')
        ,Getdate()
	)

	if (@isError = 1)
	BEGIN
		RETURN
	END

	SELECT 
		publicHasherId
		,publicKennelId
		,firstName
		,lastName
		,email
		,hashName
		,historicTotalRuns
		,historicHaring
		,addHasherStatus
		into #newHasherTemp
	FROM OPENJSON(@newHasherJson)
	  WITH (
		publicHasherId NVARCHAR(500)'$.publicHasherId',
		publicKennelId NVARCHAR(500)'$.publicKennelId',
		firstName NVARCHAR(500) '$.firstName',
		lastName NVARCHAR(500) '$.lastName',
		email NVARCHAR(500) '$.eMail',
		hashName nvarchar(500) '$.hashName',
		historicTotalRuns int '$.historicTotalRuns',
		historicHaring int '$.historicHaring',
		addHasherStatus nvarchar(500) '$.addHasherStatus'
	  );

	SELECT * into #outputTable FROM #newHasherTemp

	DECLARE 
	@firstName nvarchar(500),
	@lastName nvarchar(500),
	@email nvarchar(500),
	@hashName nvarchar(500),
	@addHasherStatus nvarchar(500),
	@historicTotalRuns int,
	@historicHaring int
			
	-- NOTE: Ignore the red error warning indicators, this code will still compile
	DECLARE nhCrsr CURSOR FOR SELECT 
		firstName
		,lastName
		,hashName
		,email
		,historicTotalRuns
		,historicHaring
		,addHasherStatus
	FROM #newHasherTemp

	OPEN nhCrsr

	FETCH NEXT FROM nhCrsr into @firstName,@lastName,@hashName,@email,@historicTotalRuns,@historicHaring,@addHasherStatus

	DECLARE @newHasherId uniqueidentifier,
		@newPublicHasherId uniqueidentifier,
		@hkmId uniqueidentifier,
		@ahStatus nvarchar(50),
		@photo nvarchar(100)

	WHILE (@@FETCH_STATUS = 0)
	
	BEGIN

		SET @newHasherId = NULL
		SET @newPublicHasherId = NULL
		SET @ahStatus = NULL

		SELECT 
			@newHasherId = id,
			@newPublicHasherId = PublicHasherId 
		FROM HC.Hasher where Email = @email

		-- if the email is not valid don't even attempt to process
		IF (@email LIKE '%_@__%.__%')
		BEGIN
			IF (@newHasherId IS NULL)
			BEGIN
				IF (@hashName IS NULL) SET @hashName = ''
			
				SELECT @photo = 'bundle://avatar-' + CAST(CAST(RAND() * 48 as INT) + 1 as nvarchar(50))
				SET @newPublicHasherId = newid()

				INSERT HC.Hasher(PublicHasherId,FirstName,LastName,HashName,Email,HomeKennelId,Photo)
				VALUES (@newPublicHasherId,@firstName,@lastName,@hashName,@email,@kennelId,@photo)

				SELECT @newHasherId = id FROM HC.Hasher where Email = @email
				SET @ahStatus = 'NEW HC USER'
			END

			SELECT @hkmId = id FROM HC.HasherKennelMap where UserId = @newHasherId AND KennelId = @kennelId

			IF (@hkmId IS NULL)
				BEGIN
					INSERT HC.HasherKennelMap(UserId,KennelId,Following,MembershipExpirationDate) VALUES (@newHasherId,@kennelId,1,'2100-01-01')
					SET @ahStatus = coalesce(@ahStatus,'NEW MEMBER')
				END
			ELSE
				BEGIN
					IF (SELECT COUNT(*) FROM HC.HasherKennelMap where UserId = @newHasherId AND KennelId = @kennelId AND Following = 1 AND MembershipExpirationDate > getdate()) = 0
						BEGIN
							UPDATE HC.HasherKennelMap SET Following = 1, MembershipExpirationDate = '2100-01-01' WHERE id = @hkmId
							SET @ahStatus = coalesce(@ahStatus,'NEW MEMBER')
						END
				END

			DECLARE @runCountsUpdated int = 0

			IF (@historicTotalRuns IS NOT NULL)
			BEGIN

				DECLARE @htr int

				SELECT @htr = hkm.HistoricalTotalRunCount
				FROM HC.HasherKennelMap hkm
				WHERE hkm.UserId = @newHasherId
				AND hkm.KennelId = @kennelId

				if (@htr != @historicTotalRuns)
				BEGIN
					SET @runCountsUpdated = 1
					UPDATE hkm 
						SET hkm.HistoricalTotalRunCount = @historicTotalRuns,
						hkm.updatedAt = getdate()
						FROM HC.HasherKennelMap hkm
						WHERE hkm.UserId = @newHasherId
						AND hkm.KennelId = @kennelId

					SET @ahStatus = coalesce(@ahStatus,'UPDATE RUN COUNTS')
				END
			END

			IF (@historicHaring IS NOT NULL)
			BEGIN
				DECLARE @hh int

				SELECT @hh = hkm.HistoricalHaringCount
				FROM HC.HasherKennelMap hkm
				WHERE hkm.UserId = @newHasherId
				AND hkm.KennelId = @kennelId

				if (@hh != @historicHaring)
				BEGIN

					SET @runCountsUpdated = 1
					UPDATE hkm 
						SET hkm.HistoricalHaringCount = @historicHaring,
						hkm.updatedAt = getdate()
						FROM HC.HasherKennelMap hkm
						WHERE hkm.UserId = @newHasherId
						AND hkm.KennelId = @kennelId

					SET @ahStatus = coalesce(@ahStatus,'UPDATE RUN COUNTS')
				END
			END

			IF (@runCountsUpdated = 1)
			BEGIN
				EXEC [HC].[nonApi_updateRunCountsByUser]
					@userId = @newHasherId
			END

			SET @ahStatus = coalesce(@ahStatus,'NO CHANGE')

		END -- end of email check
		UPDATE #outputTable SET publicHasherId = @newPublicHasherId, addHasherStatus = coalesce(@ahStatus,'ERROR') WHERE Email = @email

		FETCH NEXT FROM nhCrsr into @firstName,@lastName,@hashName,@email,@historicTotalRuns,@historicHaring,@addHasherStatus
	END

	CLOSE nhCrsr
	DEALLOCATE nhCrsr

	SELECT * FROM #outputTable

END





GO
