/****** Object:  StoredProcedure [HC5].[hcportal_getKennelHashers]    Script Date: 3/8/2026 11:54:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [HC5].[hcportal_getKennelHashers]

@publicHasherId uniqueidentifier = NULL,
@accessToken nvarchar(1000) = NULL,
@publicKennelId nvarchar(250) = NULL,

-- optional parameters
@ipAddress nvarchar(100) = NULL,
@ipGeoDetails nvarchar(2000) = NULL

AS
	SET NOCOUNT ON


	-- EXEC HC5.hcportal_getKennelHashers @publicHasherId = 'B6BAFD0D-5D2E-41CD-8495-811D551F01D0', @accessToken = 'asdfasdfasdfadsfafds', @publicKennelId = '934306C8-035A-4AF8-B4FA-A593BC28BF36'

	-- EXEC HC5.hcportal_getKennelHashers @publicHasherId = 'B6BAFD0D-5D2E-41CD-8495-811D551F01D0', @accessToken = 'asdfasdfasdfadsfafds', @publicKennelId = '78DA30CC-66F5-4C9F-BD7B-EC3B0F54F8D0'


	
	DECLARE @errorId uniqueidentifier
	DECLARE @isError int = 0
	DECLARE @errorTitle nvarchar(500) = ''

	IF (@publicHasherId IS NULL) OR (datalength(@publicHasherId) != 16)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Null or invalid publicHasherId'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','Null or empty publicHasherId','Null or empty publicHasherId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'Null or empty value was passed as the publicHasherId to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END

	--DECLARE @hasherId uniqueidentifier
	--SELECT @hasherId = id from HC.Hasher WHERE PublicHasherId = @publicHasherId

 --   IF (@hasherId IS NULL) AND (@isError = 0)
	--BEGIN
	--	SET @errorId = newid()
	--	SET @isError = 1
	--	SET @errorTitle = 'No record found with provided @publicHasherId'
	--	INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @publicHasherId','@publicHasherId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
	--	SELECT 
	--	@errorId as errorId,
	--	cast (2 as int) as errorType 
	--	,@errorTitle as errorTitle
	--	,'@publicHasherId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
	--	,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
	--	,OBJECT_NAME(@@PROCID) as errorProc
	--END


	IF ((@publicKennelId IS NULL) OR (datalength(@publicKennelId) != 72)) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @errorTitle = 'NULL or invalid publicKennelId'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) 
		VALUES (@errorId,'hcportal',@errorTitle,'An invalid publicKennelId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		,@errorTitle as errorTitle
		,'An internal error was encountered in our web page (null or invalid publicKennelId).' as errorUserMessage
		,'Please contact us at harriercentral@gmail.com to learn more about how to generate web pages from our system. We are happy to help!' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		SET @isError = 1
	END

	DECLARE @kennelId uniqueidentifier
	SELECT @kennelId = id from HC.Kennel WHERE PublicKennelId = @publicKennelId

    IF ((@kennelId IS NULL) AND (@isError = 0))
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'No record found with provided @publicKennelId'
		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @publicKennelId','@publicKennelId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'@publicKennelId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		
	END

	IF (HC.CHECK_PORTAL_ACCESS_TOKEN(@publicHasherId,OBJECT_NAME(@@PROCID),@accessToken,@publicKennelId) = 0) AND (@isError = 0) 
	BEGIN
		SET @errorId = newid()
		SET @errorTitle = 'Invalid access token'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) VALUES (@errorId,'<unknown>','Invalid access token','An invalid access token was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		,@errorTitle as errorTitle
		,'An invalid access token was passed to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		SET @isError = 1
	END

	INSERT INTO [LOG].[GeneralLog]
        ([LogSource]
        ,[Message]
		,[Data]
        ,[Timestamp])
    VALUES
        (
		'Admin Portal: hcportal_getKennelHashers'
        ,case when @isError = 1 then @errorTitle + ' ' else '' end + coalesce(@ipAddress,'<no IP address>')
		,coalesce(@ipGeoDetails,'{   "ip": "<no IP address>",   "hostname": "<none>",   "city": "<none>",   "region": "<none>",   "country": "??",   "loc": 0,0",   "org": "<none>",   "postal": "<none>",   "timezone": "<none>" }')
        ,Getdate()
	)

	if (@isError = 1)
	BEGIN
		RETURN
	END

	DECLARE @appAccessFlags int,
			@kennelName nvarchar(200)

	SELECT 
		@appAccessFlags = hkm.AppAccessFlags,
		@kennelName = k.KennelName
	FROM HC.HasherKennelMap hkm
	INNER JOIN HC.Kennel k on hkm.KennelId = k.id
	INNER JOIN HC.Hasher h on hkm.UserId = h.id
	WHERE h.PublicHasherId = @publicHasherId
	AND k.PublicKennelId = @publicKennelId

	IF @appAccessFlags IS NULL OR (@appAccessFlags & 0x40000019) = 0
	BEGIN
		SET @errorId = newid()

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) VALUES (@errorId,'<unknown>','User not authorized to access Hasher data','User not authorized on kennel to access Hashers in proc ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		,'User not authorized' as errorTitle
		,'You are not authorized to access Hasher information for ' + @kennelName  as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		RETURN
	END

	DECLARE @lastEventId uniqueidentifier,
			@lastEventNumber nvarchar(50),
			@lastEventDate datetime,
			@secondLastEventId uniqueidentifier,
			@secondLastEventNumber nvarchar(50),
			@secondLastEventDate datetime,
			@nextEventDate datetime,
			@nextEventNumber nvarchar(50)

SELECT TOP 1 
	@lastEventId = evt.id, 
	@lastEventNumber = cast(evt.EventNumber as nvarchar(50)),
	@lastEventDate = evt.EventStartDatetime
	FROM HC.Event evt 
WHERE evt.KennelId = @kennelId and evt.IsCountedRun = 1
AND evt.EventStartDatetime < GETDATE()
ORDER BY evt.EventStartDatetime DESC

SELECT TOP 1 
	@secondLastEventId = evt.id, 
	@secondLastEventNumber = cast(evt.EventNumber as nvarchar(50)),
	@secondLastEventDate = evt.EventStartDatetime
FROM HC.Event evt 
WHERE evt.KennelId = @kennelId and evt.IsCountedRun = 1
AND evt.id != @lastEventId
AND evt.EventStartDatetime < GETDATE()
ORDER BY evt.EventStartDatetime DESC

SELECT TOP 1 
	@nextEventNumber = cast(evt.EventNumber as nvarchar(50)),
	@nextEventDate = evt.EventStartDatetime
	FROM HC.Event evt 
WHERE evt.KennelId = @kennelId and evt.IsCountedRun = 1
AND evt.EventStartDatetime > @lastEventDate
ORDER BY evt.EventStartDatetime ASC


;with cte1 as (select 
 h.PublicHasherId as publicHasherId
,h.id as hasherId
,k.PublicKennelId as publicKennelId
,h.HashName as hashName
,h.FirstName as firstName
,h.LastName as lastName
--,case when 
--	h.NameDisplayPreference = 1 then 
--		trim(case when 
--			coalesce(datalength(trim(h.HashName)),0) = 0 then 
--			coalesce('Just '+h.FirstName,'<no name>') else
--			trim(h.HashName + coalesce(' (' + h.FirstName + ' ' + h.LastName + ')','') )
--		end)
--	else 
--	trim(coalesce(h.FirstName + ' ' + h.LastName + 
--		case when datalength(trim(h.HashName)) > 0 
--			then ' (' + h.HashName + ')' 
--			else '' end
--	,h.HashName,'<no name>'))
--end as displayName
,h.DisplayName as displayName
,case when hkm.MembershipExpirationDate > getdate() then h.Email else '<hidden>' end as eMail
,coalesce(h.Photo,'bundle://avatar-1') as photo
,h.LastLoginDateTime as lastLoginDateTime
,case when lastLoginDateTime is null then replace(h.ResetCode,'URC:','') else '' end as inviteCode
,case when hkm.kennelId = h.HomeKennelId then 'Yes' else 'No' end as isHomeKennel
,case when hkm.Following = 1 then 'Yes' else 'No' end as isFollowing
,case when hkm.MembershipExpirationDate > getdate() then 'Yes' else 'No' end as isMember
,case when hkm.MembershipExpirationDate > getdate() then 'Member'
      when hkm.Following = 1 then 'Following' else 'None' end as status
,case when hkm.KennelNotificationPreference = 0 then 'Auto' when hkm.KennelNotificationPreference = 1 then 'On' when hkm.KennelNotificationPreference = 2 then 'Off' else 'Unknown' end as notifications
,case when hkm.KennelEmailAlertPreference = 0 then 'Auto' when hkm.KennelEmailAlertPreference = 1 then 'On' when hkm.KennelEmailAlertPreference = 2 then 'Off' else 'Unknown' end as emailAlerts

,coalesce(hkm.historicalHaringCount,0) as historicHaring
,coalesce(hkm.historicalTotalRunCount,0) as historicTotalRuns
,coalesce(hkm.hcHaringCount,0) as hcHaringCount
,coalesce(hkm.hcTotalRunCount,0) as hcTotalRunCount
,case when hkm.HistoricalCountIsEstimate = 1 then 'Yes' else 'No' end as historicCountsAreEstimates
,hkm.DateOfLastRun as dateOfLastRun
,hkm.MembershipExpirationDate as membershipExpirationDate
,hkm.KennelCredit as kennelCredit
,hkm.DiscountAmount as discountAmount
,hkm.DiscountPercent as discountPercent
,hkm.DiscountDescription as discountDescription
,coalesce(kc.currentBalance,0) as hashCredit
--,cast(evt1.EventNumber as nvarchar(50)) + '-' + coalesce(pay1.PaymentTypeCode,'?') as atLastEvent
--,cast(evt2.EventNumber as nvarchar(50)) + '-' + coalesce(pay2.PaymentTypeCode,'?') as atSecondToLastEvent
from HC.Kennel k
inner join HC.HasherKennelMap hkm on hkm.KennelId = k.id
inner join HC.Hasher h on hkm.UserId = h.id
left outer join HC.KennelCredit kc on kc.kennelId = k.id and kc.userId = h.id
--left outer join HC.HasherEventMap hem1 on hem1.EventId = @lastEventId AND hem1.UserId = h.id
--left outer join HC.Event evt1 on hem1.EventId = evt1.id 
--left outer join HC.Payment pay1 on pay1.HasherEventMapId = hem1.id
--left outer join HC.HasherEventMap hem2 on hem2.EventId = @secondLastEventId AND hem2.UserId = h.id
--left outer join HC.Event evt2 on hem2.EventId = evt2.id
--left outer join HC.Payment pay2 on pay2.HasherEventMapId = hem2.id
where k.PublicKennelId = @publicKennelId
and (hkm.MembershipExpirationDate > getdate() OR hkm.Following = 1)
),
cte2 as (
select
hem.UserId as hasherid,
@lastEventNumber + '-' + coalesce(pay.PaymentTypeCode,'?') as atLastEvent,
@lastEventDate as lastEventDate
FROM HC.HasherEventMap hem
left outer join HC.Payment pay on pay.HasherEventMapId = hem.id and pay.CancelledBy_UserId is null
where hem.EventId = @lastEventId),
cte3 as (
select
hem.UserId as hasherid,
@secondLastEventNumber + '-' + coalesce(pay.PaymentTypeCode,'?') as atSecondToLastEvent,
@secondLastEventDate as secondToLastEventDate,
@nextEventDate as nextEventDate,
@nextEventNumber as nextEventNumber
FROM HC.HasherEventMap hem
left outer join HC.Payment pay on pay.HasherEventMapId = hem.id and pay.CancelledBy_UserId is null
where hem.EventId = @secondLastEventId)
select 
publicHasherId,publicKennelId,hashName,firstName,lastName,displayName,eMail,photo,lastLoginDateTime,inviteCode,isHomeKennel,isFollowing,isMember,status,notifications,emailAlerts,historicHaring,historicTotalRuns,hcHaringCount,hcTotalRunCount,historicCountsAreEstimates,dateOfLastRun,membershipExpirationDate,kennelCredit,discountAmount,discountPercent,discountDescription,hashCredit,atLastEvent,atSecondToLastEvent,secondToLastEventDate,lastEventDate,nextEventDate,nextEventNumber
from cte1 
left outer join cte2 on cte1.hasherId = cte2.hasherid 
left outer join cte3 on cte1.hasherId = cte3.hasherid 
order by cte1.displayName






GO
