/****** Object:  StoredProcedure [HC5].[hcportal_confirmAuthentication]    Script Date: 3/8/2026 11:54:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [HC5].[hcportal_confirmAuthentication]

-- required parameters (we accept nulls so we can trap errors in SQL instead of having the SP fail to execute)
--@publicHasherId uniqueidentifier = 'd392243b-f581-47a8-9f39-024f55c23264',
@deviceId uniqueidentifier = NULL,
@publicHasherId uniqueidentifier = NULL,
@accessToken nvarchar(1000) = NULL,
@qrCodeData nvarchar(250) = NULL,
@deviceInfo nvarchar(4000) = NULL,

-- optional parameters
@ipAddress nvarchar(100) = NULL,
@ipGeoDetails nvarchar(2000) = NULL

AS
BEGIN
	SET NOCOUNT ON

	DECLARE @errorId uniqueidentifier
	DECLARE @isError int = 0
	DECLARE @errorTitle nvarchar(500) = ''

	SELECT @deviceId = coalesce(@deviceId,newid())

	IF (@publicHasherId IS NULL) OR (datalength(@publicHasherId) != 16)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Null or invalid publicHasherId (' + cast(datalength(@publicHasherId) as nvarchar(50)) + ')'
		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','Null or empty publicHasherId','Null or empty publicHasherId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'Null or empty value was passed as the publicHasherId to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END

	IF (@publicHasherId != '22222222-2222-2222-2222-222222222222') AND (@publicHasherId != '11111111-1111-1111-1111-111111111111')
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'No record found with provided @publicHasherId'
		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @publicHasherId','@publicHasherId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'@publicHasherId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END

	IF (@qrCodeData IS NULL) OR (datalength(@qrCodeData) < 10)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Null or invalid QR code scan data'
		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','Null or invalid QR code scan data','Null or invalid QR code scan data was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@qrCodeData)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'Null or invalid value was passed as the QR scan data to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END


	IF HC.CHECK_PORTAL_ACCESS_TOKEN(@publicHasherId,OBJECT_NAME(@@PROCID),@accessToken,@qrCodeData) = 0 
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Invalid access token'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) VALUES (@errorId,'<unknown>','Invalid access token','An invalid access token was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		,@errorTitle as errorTitle
		,'An invalid access token was passed to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END


	INSERT INTO [LOG].[GeneralLog]
        ([LogSource]
        ,[Message]
		,[Data]
        ,[Timestamp])
    VALUES
        (
		'Admin Portal: hcportal_confirmAuthentication'
        ,case when @isError = 1 then @errorTitle + ' ' else '' end + coalesce(@ipAddress,'<no IP address>')
		,coalesce(@ipGeoDetails,'{   "ip": "<no IP address>",   "hostname": "<none>",   "city": "<none>",   "region": "<none>",   "country": "??",   "loc": 0,0",   "org": "<none>",   "postal": "<none>",   "timezone": "<none>" }')
        ,Getdate()
	)

	if (@isError = 1)
	BEGIN
		RETURN
	END

	DECLARE @count int = 0

	SELECT @count = COUNT(*) FROM HC.WebPortalAuthenticationRequests w 
	WHERE trim(lower(scanData)) = trim(lower(@qrCodeData))

	-- the procedure is looking for scan data that has been produced and is on the user's screen
	-- but we need to see if the app has inserted a record with the scan data in the WebPortalAuthenticationRequests
	---- table. If not, no login by scanning attempt has been made
	IF (@count = 0)
	BEGIN
		RETURN
	END

	DECLARE @deviceSecret nvarchar(150), @timeWindow int

	SELECT 
			@deviceSecret = d.DeviceSecret,
			@timeWindow = d.TimeWindow
			FROM HC.Device d where d.id = @deviceId


	-- practically speaking, I think @deviceSecret will always be null here because we only get to this point
	-- with a new browser window that has no cache
	IF(@deviceSecret IS NULL)
	BEGIN

		DECLARE @hasherId uniqueidentifier
		DECLARE	@BinaryData varbinary(max) = crypt_gen_random (150) 
		SELECT @deviceSecret = LEFT(REPLACE(REPLACE(cast('' as xml).value('xs:base64Binary(sql:variable("@BinaryData"))', 'varchar(max)'),'+',''),'/',''),75)
		SELECT @timeWindow = cast((rand()*15)+30 as int)

		SELECT 
			@hasherId = h.id
			FROM HC.WebPortalAuthenticationRequests w 
			INNER JOIN HC.Hasher h on w.hasherId = h.id
			WHERE trim(lower(scanData)) = trim(lower(@qrCodeData))

			IF (@hasherId IS NOT NULL)
			BEGIN
				INSERT INTO [HC].[Device]
					([id]
					,[UserId]
					,[DeviceSecret]
					,[TimeWindow]
					,[DeviceData])
					VALUES
					(@deviceId
					,@hasherId
					,@deviceSecret
					,@timeWindow
					,@deviceInfo
					)
		END
	END
	


	SELECT 
		h.PublicHasherId as publicHasherId,
		w.scanData as scanData,
		coalesce(h.FirstName,'') as firstName,
		coalesce(h.LastName,'') as lastName,
		coalesce(h.HashName,'') as hashName,
		coalesce(h.DisplayName,'') as displayName,
		coalesce(h.Photo,'') as photo,
		@deviceSecret as iconDataBase64, -- a bit of security by obscurity here
		@timeWindow as colorPaletteIndex -- more security through obscurity (yes I know it's bad)
	FROM HC.WebPortalAuthenticationRequests w 
	INNER JOIN HC.Hasher h on w.hasherId = h.id
	WHERE trim(lower(scanData)) = trim(lower(@qrCodeData))

END



GO
