/****** Object:  StoredProcedure [HC5].[hcportal_getEvents]    Script Date: 3/8/2026 11:54:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [HC5].[hcportal_getEvents]

-- required parameters
@publicHasherId uniqueidentifier = NULL,
@accessToken nvarchar(1000) = NULL,

-- optional parameters
@publicKennelIds nvarchar(4000) = NULL,
@kennelUniqueShortName nvarchar(50) = NULL,
@specialEventKennelIds nvarchar(4000) = NULL,
@cityNames nvarchar(4000) = NULL,
@specialEventCityNames nvarchar(4000) = NULL,
@regionNames nvarchar(4000) = NULL,
@regionCodes nvarchar(4000) = NULL,
@cityIds nvarchar(4000) = NULL,
@regionIds nvarchar(4000) = NULL,
@countryIds nvarchar(4000) = NULL,
@specialEventRegionNames nvarchar(4000) = NULL,
@specialEventRegionCodes nvarchar(4000) = NULL,
@countryCodes nvarchar(4000) = NULL,
@countryNames nvarchar(4000) = NULL,
@specialEventCountryCodes nvarchar(4000) = NULL,
@specialEventCountryNames nvarchar(4000) = NULL,
@continentNames nvarchar(4000) = NULL,
@continentCodes nvarchar(4000) = NULL,
@specialEventContinentNames nvarchar(4000) = NULL,
@specialEventContinentCodes nvarchar(4000) = NULL,
@fullDetails smallint = NULL,
@weeksToDisplay smallint = 52,
@pastOrFuture nvarchar(50) = NULL,
@ipAddress nvarchar(100) = NULL,
@ipGeoDetails nvarchar(2000) = NULL

AS
BEGIN

	SET NOCOUNT ON

	-- EXEC [HC5].[hcportal_getEvents] @publicHasherId = 'B6BAFD0D-5D2E-41CD-8495-811D551F01D0', @accessToken = 'asdfadslkadsjfalkdsf',@kennelUniqueShortName = 'london'

--{"publicHasherId":"d392243b-f581-47a8-9f39-024f55c23264","accessToken":"233E5CB6E56583B5CEB86CEEC9FAD2B18377E165B1D5F78C818FF59903BB9A4B","publicKennelIds":"null","specialEventKennelIds":"null","cityNames":"null","specialEventCityNames":"null","regionNames":"null","regionCodes":"null","specialEventRegionNames":"null","specialEventRegionCodes":"null","countryCodes":"NL","countryNames":"null","specialEventCountryCodes":"BE","specialEventCountryNames":"null","continentNames":"null","continentCodes":"null","specialEventContinentNames":"null","specialEventContinentCodes":"null"}

	DECLARE @errorId uniqueidentifier
	DECLARE @isError smallint = 0
	DECLARE @errorTitle nvarchar(500) = ''
	-- EXEC HC3.hcportal_getEvents @publicHasherId = 'd392243b-f581-47a8-9f39-024f55c23264',@accessToken = '', @countryCodes = 'NL',@specialEventCountryCodes='BE'


	IF (@publicHasherId IS NULL) OR (datalength(@publicHasherId) != 16)
	BEGIN
		SET @errorId = newid()
		SET @isError = 1
		SET @errorTitle = 'Null or invalid publicHasherId'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','Null or empty publicHasherId','Null or empty publicHasherId was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
		SELECT 
		@errorId as errorId,
		cast (2 as int) as errorType 
		,@errorTitle as errorTitle
		,'Null or empty value was passed as the publicHasherId to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
	END

	IF (@publicHasherId != '22222222-2222-2222-2222-222222222222') AND (@publicHasherId != '11111111-1111-1111-1111-111111111111')
	BEGIN
		DECLARE @hasherId uniqueidentifier
		SELECT @hasherId = id from HC.Hasher WHERE PublicHasherId = @publicHasherId

		IF (@hasherId IS NULL) AND (@isError = 0)
		BEGIN
			SET @errorId = newid()
			SET @isError = 1
			SET @errorTitle = 'No record found with provided @publicHasherId'
			INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId) VALUES (@errorId,'<unknown>','No record found with provided @publicHasherId','@publicHasherId was not found by ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId)
		
			SELECT 
			@errorId as errorId,
			cast (2 as int) as errorType 
			,@errorTitle as errorTitle
			,'@publicHasherId was not found by'+ OBJECT_NAME(@@PROCID) as errorUserMessage
			,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
			,OBJECT_NAME(@@PROCID) as errorProc
		END
	END

	IF (HC.CHECK_PORTAL_ACCESS_TOKEN(@publicHasherId,OBJECT_NAME(@@PROCID),@accessToken,NULL) = 0) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @errorTitle = 'Invalid access token'
		SET @isError = 1

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) 
		VALUES (@errorId,'hcportal','Invalid access token','An invalid access token was passed to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		,@errorTitle as errorTitle
		,'An invalid access token was passed to '+ OBJECT_NAME(@@PROCID) as errorUserMessage
		,'This error should not occur, please contact us at harriercentral@gmail.com' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		--RETURN
	END

	IF (COALESCE(
@publicKennelIds,
@kennelUniqueShortName,
@specialEventKennelIds,
@cityNames,
@cityIds,
@regionIds,
@countryIds,
@specialEventCityNames,
@regionNames,
@regionCodes,
@specialEventRegionNames,
@specialEventRegionCodes,
@countryCodes,
@countryNames,
@specialEventCountryCodes,
@specialEventCountryNames,
@continentNames,
@continentCodes,
@specialEventContinentNames,
@specialEventContinentCodes
) IS NULL) AND (@isError = 0)
	BEGIN
		SET @errorId = newid()
		SET @errorTitle = 'No query constraints'

		INSERT HC.ErrorLog (id, HcVersion, ErrorName,ErrorDescription,ProcName,userId, string_1) 
		VALUES (@errorId,'hcportal','No query constraints','No query constraints were supplied to ' + OBJECT_NAME(@@PROCID),OBJECT_NAME(@@PROCID),@publicHasherId,@accessToken)

		SELECT 
		@errorId as errorId,
		cast (3 as int) as errorType 
		,@errorTitle as errorTitle
		,'An attempt to generate a Hash run page was made but no Kennels or geographic regions were supplied. Please modify your URL to include filter constraints.\r\n\r\nPlease contact us at harriercentral@gmail.com to learn more about how to generate web pages from our system. We are happy to help!' as errorUserMessage
		,'Please contact us at harriercentral@gmail.com to learn more about how to generate web pages from our system. We are happy to help!' as debugMessage
		,OBJECT_NAME(@@PROCID) as errorProc
		SET @isError = 1
	END

	IF (@weeksToDisplay is null) SET @weeksToDisplay = 999
	IF (@pastOrFuture is null) SET @pastOrFuture = 'future'

	IF (@weeksToDisplay > 999) SET @weeksToDisplay = 999

	--SET @pastOrFuture = 'all'
	--SET @fullDetails = 1


	DECLARE @isAdmin smallint = 1
	IF (@publicHasherId = '11111111-1111-1111-1111-111111111111') 
	BEGIN
		SELECT @isAdmin = 0
	END

	INSERT INTO [LOG].[GeneralLog]
        ([LogSource]
        ,[Message]
		,[Data]
        ,[Timestamp])
    VALUES
        (
		case when @isAdmin = 1 THEN 'Admin Portal: hcportal_getEvents' ELSE 'HashRuns.Org hcportal_getEvents' END 
        ,case when @isError = 1 then @errorTitle + ' ' else '' end + coalesce(@ipAddress,'<no IP address>')
		,coalesce(@ipGeoDetails,'{   "ip": "<no IP address>",   "hostname": "<none>",   "city": "<none>",   "region": "<none>",   "country": "??",   "loc": 0,0",   "org": "<none>",   "postal": "<none>",   "timezone": "<none>" }')
        ,Getdate()
	)

	IF (@isError = 1)
	BEGIN
		RETURN
	END

	DECLARE @kennelId uniqueidentifier
	DECLARE @cityId uniqueidentifier
	DECLARE @regionId uniqueidentifier
	DECLARE @countryId uniqueidentifier

	SELECT @kennelId = ken.id FROM HC.Kennel ken where ken.KennelUniqueShortName = @kennelUniqueShortName
	IF (@kennelId IS NULL) 
	BEGIN
		select top 1
		@cityId = case when c.CityName = @kennelUniqueShortName then c.id else null end,
		@regionId = case when r.RegionName = @kennelUniqueShortName then r.id else null end,
		@countryId = case when n.CountryName = @kennelUniqueShortName then n.id else null end
		from 
		HC.City c
		inner join HC.Region r on c.RegionId = r.id
		inner join HC.Country n on r.CountryId = n.id
		inner join HC.Kennel ken on ken.CityId = c.id
		inner join HC.Event evt on evt.KennelId = ken.id
		where c.CityName = @kennelUniqueShortName OR r.RegionName = @kennelUniqueShortName OR n.CountryName = @kennelUniqueShortName
		AND evt.EventStartDatetime > dateadd(day,-30,getdate())
		group by
		case when c.CityName = @kennelUniqueShortName then c.id else null end,
		case when r.RegionName = @kennelUniqueShortName then r.id else null end,
		case when n.CountryName = @kennelUniqueShortName then n.id else null end
		order by count(evt.id) desc
	END
	
	if ((@fullDetails IS NULL) OR (@fullDetails = 0))
	BEGIN

		SELECT
				
				 evt.PublicEventId as publicEventId
				,ken.PublicKennelId as publicKennelId
				,ken.[KennelName] as kennelName
				,ken.[KennelShortName] as kennelShortName
				,ken.[KennelUniqueShortName] as kennelUniqueShortName
				,ken.[KennelLogo] as kennelLogo
				--,ken.[KennelWebsiteUrl] as kennelWebUrl
				,evt.[IsVisible] as isVisible
				,evt.[IsCountedRun] as isCountedRun
				,evt.[EventNumber] as eventNumber
				,evt.[EventGeographicScope] as eventGeographicScope
				-- FB lat/lon flag
				,CASE WHEN (evt.UseFbLatLon = 1 AND evt.fbLatitude IS NOT NULL AND evt.FbLatitude != 0 AND evt.FbLongitude != 0) THEN evt.[fbLatitude] ELSE case when coalesce(evt.[Latitude],ken.Latitude,c.Latitude,0.0) != 0 THEN coalesce(evt.[Latitude],ken.Latitude,c.Latitude) else c.Latitude END END AS syncLat
				,CASE WHEN (evt.UseFbLatLon = 1 AND evt.fbLongitude IS NOT NULL AND evt.FbLatitude != 0 AND evt.FbLongitude != 0) THEN evt.[fbLongitude] ELSE case when coalesce(evt.[Longitude],ken.Longitude,c.Longitude,0.0) != 0 THEN coalesce(evt.[Longitude],ken.Longitude,c.Longitude) else c.Longitude END END AS syncLong

				--,(SELECT COUNT(*) FROM HC.EventMessage em WHERE em.EventId = evt.id AND em.PublicHasherId != @publicHasherId) as eventChatMessageCount
				,0 as eventChatMessageCount
				,ken.PublishToGoogleCalendar as kenPublishToGoogleCalendar
				,ken.DisseminateOnGlobalGoogleCalendar as kenDisseminateOnGlobalGoogleCalendar
				,CASE WHEN (evt.UseFbLocation = 1) THEN evt.FbLocationOneLineDesc ELSE evt.LocationOneLineDesc END as locationOneLineDesc
				,evt.SyncResolvableLocation as resolvableLocation
				,evt.Hares as hares
				,CASE WHEN (evt.UseFbRunDetails = 1) THEN evt.FbEventName ELSE evt.EventName END AS eventName
				,CASE WHEN (evt.UseFbRunDetails = 1) THEN convert(datetime2,evt.FbEventStartDatetime) ELSE convert(datetime2,evt.EventStartDatetime) END AS eventStartDatetime -- This is a bit of a hack, force conversion into local time prior to sending over the wire. TODO: Eventually send over the event UTC and a separate time offset
				,datediff(day,getdate(),CASE WHEN (evt.UseFbRunDetails = 1) THEN convert(datetime2,evt.FbEventStartDatetime) ELSE convert(datetime2,evt.EventStartDatetime) END) as daysUntilEvent

				,'~' 
				+ ' ' + coalesce(evt.EventName,'') 
				+ ' ' + coalesce(ken.KennelShortName,'') 
				+ ' ' + coalesce(ken.KennelUniqueShortName,'') 
				+ ' ' + coalesce(ken.KennelName,'') 
				+ ' ' + coalesce(evt.Hares,'') 
				+ ' ' + case when (evt.UseFbLocation = 1) then coalesce(evt.FbLocationCity,'') else coalesce(evt.LocationCity,'') end
				+ ' ' + case when (evt.UseFbLocation = 1) then coalesce(evt.FbLocationCountry,'') else coalesce(evt.LocationCountry,'')  end
				+ ' ' + case when (evt.UseFbLocation = 1) then coalesce(evt.FbLocationOneLineDesc,'') else coalesce(evt.LocationOneLineDesc,'')  end
				+ ' ' + case when (evt.UseFbLocation = 1) then coalesce(evt.FbLocationPostCode,'') else coalesce(evt.LocationPostCode,'')  end
				+ ' ' + case when (evt.UseFbLocation = 1) then coalesce(evt.FbLocationRegion,'') else coalesce(evt.LocationRegion,'')  end
				+ ' ' + case when (evt.UseFbLocation = 1) then coalesce(evt.FbLocationStreet,'') else coalesce(evt.LocationStreet,'')  end
				+ ' ' + case when (evt.UseFbLocation = 1) then coalesce(evt.FbLocationSubRegion,'') else coalesce(evt.LocationSubRegion,'') end
				+ ' ' + case when evt.EventNumber IS NOT NULL THEN cast(evt.EventNumber as nvarchar(30)) else '' end
				+ ' ' + c.CityName
				+ ' ' + r.RegionName
				+ ' ' + n.CountryName
				+ ' ' + coalesce(r.RegionAbbreviation,'')
				+ ' ' + n.CountryCode
				+ ' ' + replace(coalesce(c.CitySearchTags,''),',',' ')
				+ ' ' + replace(coalesce(r.RegionSearchTags,''),',',' ')
				+ ' ' + replace(coalesce(n.CountrySearchTags,''),',',' ')
				+ ' ' + replace(coalesce(ken.KennelSearchTags,''),',',' ')
				+ case 
					when evt.EventGeographicScope = 1 THEN 'not event is local'
					when evt.EventGeographicScope = 2 THEN 'is event is local'
					when evt.EventGeographicScope = 3 THEN 'is event is regional is state'
					when evt.EventGeographicScope = 4 THEN 'is event is national is nash hash is nashhash'
					when evt.EventGeographicScope = 5 THEN 'is event is continental is interhash'
					when evt.EventGeographicScope = 6 THEN 'is event is global is world interhash'
					when evt.EventGeographicScope = 7 THEN 'is event is other'
					else ''
				  end 
			    + case 
				  when n.ContinentCode = 'EU' then 'europe'
				  when n.ContinentCode = 'AF' then 'africa'
				  when n.ContinentCode = 'AS' then 'asia'
				  when n.ContinentCode = 'NA' then 'north america' 
				  when n.ContinentCode = 'SA' then 'south america'
				  when n.ContinentCode = 'OC' then 'oceania'
				  when n.ContinentCode = 'AN' then 'antarctica'
				  else '' 
				 end 
				+ ' ~'
				as searchText,

				case when evt.UseFbLocation = 1 THEN 
					case when datalength(evt.fbLocationCity+', ' + case when n.ShowRegion = 1 then coalesce(evt.fbLocationRegion + ', ','') else '' end + evt.fbLocationCountry) < 5 THEN
						c.CityName + ', ' + case when n.ShowRegion = 1 then r.RegionName + ', ' else '' end + n.CountryName
					else
						coalesce(evt.fbLocationCity+', ' + case when n.ShowRegion = 1 then coalesce(evt.fbLocationRegion + ', ','') else '' end + evt.fbLocationCountry,c.CityName + ', ' + case when n.ShowRegion = 1 then r.RegionName + ', ' else '' end + n.CountryName) 
					end
				ELSE
					coalesce(evt.LocationCity+', ' + case when n.ShowRegion = 1 then coalesce(evt.LocationRegion + ', ','') else '' end + evt.LocationCountry,c.CityName + ', ' + case when n.ShowRegion = 1 then r.RegionName + ', ' else '' end + n.CountryName) 
				END
				as eventCityAndCountry

				FROM HC.Event evt 
				INNER JOIN HC.Kennel ken on evt.KennelId = ken.id
				INNER JOIN HC.City c on ken.CityId = c.id
				INNER JOIN HC.Region r on c.RegionId = r.id
				INNER JOIN HC.Country n on r.CountryId = n.id
				WHERE evt.removed = 0 AND
				evt.IsVisible = 1 AND
				(
					(@pastOrFuture = 'future' AND (CASE WHEN (evt.UseFbRunDetails = 1) THEN convert(datetime2,evt.FbEventStartDatetime) ELSE convert(datetime2,evt.EventStartDatetime) END BETWEEN dateadd(day,-1,getdate()) AND dateadd(week,@weeksToDisplay,getdate()))) 
					OR 
					(@pastOrFuture = 'past' AND (CASE WHEN (evt.UseFbRunDetails = 1) THEN convert(datetime2,evt.FbEventStartDatetime) ELSE convert(datetime2,evt.EventStartDatetime) END BETWEEN dateadd(week,-@weeksToDisplay,getdate()) AND dateadd(day,1,getdate()))) 
					OR 
					(@pastOrFuture = 'all' AND (CASE WHEN (evt.UseFbRunDetails = 1) THEN convert(datetime2,evt.FbEventStartDatetime) ELSE convert(datetime2,evt.EventStartDatetime) END BETWEEN dateadd(week,-@weeksToDisplay,getdate()) AND dateadd(week,@weeksToDisplay,getdate()))) 
				) 
				AND
				(((@publicKennelIds is not null) AND (ken.PublicKennelId in (SELECT cast(value as uniqueidentifier)  FROM string_split(@publicKennelIds,','))))
				 OR ((@cityId IS NOT NULL) AND (c.id = @cityId))
				 OR ((@regionId IS NOT NULL) AND (r.id = @regionId))
				 OR ((@countryId IS NOT NULL) AND (n.id = @countryId))
				 OR ((@kennelUniqueShortName is not null) AND (ken.KennelUniqueShortName = @kennelUniqueShortName))
				 OR ((@specialEventKennelIds is not null) AND (ken.PublicKennelId in (SELECT cast(value as uniqueidentifier)  FROM string_split(@specialEventKennelIds,','))) AND (evt.EventGeographicScope >= 2))
				 OR ((@cityIds is not null) AND (c.id in (SELECT cast(value as uniqueidentifier)  FROM string_split(@cityIds,','))))
				 OR ((@regionIds is not null) AND (r.id in (SELECT cast(value as uniqueidentifier)  FROM string_split(@regionIds,','))))
				 OR ((@countryIds is not null) AND (n.id in (SELECT cast(value as uniqueidentifier)  FROM string_split(@countryIds,','))))
				 OR ((@cityNames is not null) AND ((trim(lower(replace(c.CityName,' ',''))) in (SELECT trim(lower(replace(value,' ',''))) FROM string_split(@cityNames,',')))))
				 OR ((@specialEventCityNames is not null) AND ((trim(lower(replace(c.CityName,' ',''))) in (SELECT trim(lower(replace(value,' ',''))) FROM string_split(@specialEventCityNames,',')))) AND (evt.EventGeographicScope >= 2))
				 OR ((@regionNames is not null) AND ((trim(lower(replace(r.RegionName,' ',''))) in (SELECT trim(lower(replace(value,' ',''))) FROM string_split(@regionNames,',')))))
				 OR ((@regionCodes is not null) AND ((trim(lower(r.RegionAbbreviation)) in (SELECT trim(lower(value)) FROM string_split(@regionCodes,',')))))
				 OR ((@specialEventRegionNames is not null) AND ((trim(lower(replace(r.RegionName,' ',''))) in (SELECT trim(lower(replace(value,' ',''))) FROM string_split(@specialEventRegionNames,',')))) AND (evt.EventGeographicScope >= 2))
				 OR ((@specialEventRegionCodes is not null) AND ((trim(lower(r.RegionAbbreviation)) in (SELECT trim(lower(value)) FROM string_split(@specialEventRegionCodes,',')))) AND (evt.EventGeographicScope >= 2))
				 OR ((@countryNames is not null) AND ((trim(lower(replace(n.CountryName,' ',''))) in (SELECT trim(lower(replace(value,' ',''))) FROM string_split(@countryNames,',')))))
				 OR ((@countryCodes is not null) AND ((trim(lower(n.CountryCode)) in (SELECT trim(lower(value)) FROM string_split(@countryCodes,',')))))
				 OR ((@specialEventCountryNames is not null) AND ((trim(lower(replace(n.CountryName,' ',''))) in (SELECT trim(lower(replace(value,' ',''))) FROM string_split(@specialEventCountryNames,',')))) AND (evt.EventGeographicScope >= 2))
				 OR ((@specialEventCountryCodes is not null) AND ((trim(lower(n.CountryCode)) in (SELECT trim(lower(value)) FROM string_split(@specialEventCountryCodes,',')))) AND (evt.EventGeographicScope >= 2))
				 OR ((@continentNames is not null) AND ((trim(lower(replace(n.ContinentName,' ',''))) in (SELECT trim(lower(replace(value,' ',''))) FROM string_split(@continentNames,',')))))
				 OR ((@continentCodes is not null) AND ((trim(lower(n.ContinentCode)) in (SELECT trim(lower(value)) FROM string_split(@continentCodes,',')))))
				 OR ((@specialEventContinentNames is not null) AND ((trim(lower(replace(n.ContinentName,' ',''))) in (SELECT trim(lower(replace(value,' ',''))) FROM string_split(@specialEventContinentNames,',')))) AND (evt.EventGeographicScope >= 2))
				 OR ((@specialEventContinentCodes is not null) AND ((trim(lower(n.ContinentCode)) in (SELECT trim(lower(value)) FROM string_split(@specialEventContinentCodes,',')))) AND (evt.EventGeographicScope >= 2))
				 )
				 AND
				 (
				 (@isAdmin = 1) 
				 -- This event or Kennel is marked to display runs in public
				 OR (coalesce(evt.[EvtDisseminateHashRunsDotOrg],ken.[DisseminateHashRunsDotOrg],0) = 5)
				 -- This event or Kennel is marked to display runs only on the Kennel's webpage
				 OR ((coalesce(evt.[EvtDisseminateHashRunsDotOrg],ken.[DisseminateHashRunsDotOrg],0) = 1) AND ((ken.PublicKennelId in (SELECT cast(value as uniqueidentifier)  FROM string_split(@publicKennelIds,',')))))
				 )
				 
				 
			END

			IF (@fullDetails = 1)
			BEGIN
				SELECT
				 evt.PublicEventId as publicEventId
				,ken.[PublicKennelId] as publicKennelId
				,ken.[KennelName] as kennelName
				,ken.[KennelLogo] as kennelLogo
				,ken.[KennelWebsiteUrl] as kennelWebUrl
				,ken.[KennelShortName] as kennelShortName
				,ken.[KennelUniqueShortName] as kennelUniqueShortName
				,evt.[IsVisible] as isVisible
				,evt.[IsCountedRun] as isCountedRun
				,evt.[EventGeographicScope] as eventGeographicScope
				,evt.[IsPromotedEvent] as isPromotedEvent
				,evt.[EventNumber] as eventNumber
				,evt.[EventPriceForMembers] as eventPriceForMembers
				,evt.[EventPriceForNonMembers] as eventPriceForNonMembers
				,ken.[DefaultEventPriceForMembers] as kennelDefaultEventPriceForMembers
				,ken.[DefaultEventPriceForNonMembers] as kennelDefaultEventPriceForNonMembers

				,evt.[EventPriceForExtras] as eventPriceForExtras
				,evt.[ExtrasDescription] as extrasDescription
				,evt.[DoTrackHashCash] as doTrackHashCash

				-- publishing and dissemination
				,ken.[DisseminateHashRunsDotOrg] as kenDisseminateHashRunsDotOrg
				,ken.[DisseminateAllowWebLinks] as kenDisseminateAllowWebLinks
				,ken.[DisseminationAudience] as kenDisseminationAudience
				,evt.[EvtDisseminationAudience] as evtDisseminationAudience
				,evt.[EvtDisseminateAllowWebLinks] as evtDisseminateAllowWebLinks
				,evt.[EvtDisseminateHashRunsDotOrg] as evtDisseminateHashRunsDotOrg
				,evt.PublishToGoogleCalendar as evtPublishToGoogleCalendar
				,ken.PublishToGoogleCalendar as kenPublishToGoogleCalendar
				,evt.PublishToGoogleCalendarAddresses as evtPublishToGoogleCalendarAddresses
				,evt.DisseminateOnGlobalGoogleCalendar as evtDisseminateOnGlobalGoogleCalendar
				,ken.DisseminateOnGlobalGoogleCalendar as kenDisseminateOnGlobalGoogleCalendar

				--,evt.[InboundIntegrationId] as inboundIntegrationId
				,evt.[IntegrationEnabled] as integrationEnabled
				--,evt.[FacebookRecordLastUpdated] as extDataLastUpdated

				,evt.[EventFacebookId] as eventFacebookId
				,evt.[AbsoluteEventNumber] as absoluteEventNumber
				,evt.[CanEditRunAttendence] as canEditRunAttendence

				,evt.Hares as hares
				,evt.EventPaymentScheme as eventPaymentScheme
				,evt.EventPaymentUrl as eventPaymentUrl
				,evt.EventPaymentUrlExpires as eventPaymentUrlExpires
				,coalesce(evt.ExtrasRsvpRequired,0) as extrasRsvpRequired
				,evt.UnconfirmedBankXferCount as unconfirmedBankXferCount

				,evt.[Tags1] as tags1
				,evt.[Tags2] as tags2
				,evt.[Tags3] as tags3

				--,(SELECT COUNT(*) FROM HC.EventMessage em WHERE em.EventId = evt.id and em.PublicHasherId != @publicHasherId) as eventChatMessageCount
				,0 as eventChatMessageCount -- this is obsolete as of 2.1.3 and can eventually be removed
	
				-- FB run details flag
				,CASE WHEN (evt.UseFbImage = 1) THEN evt.FbEventImage ELSE evt.EventImage END AS eventImage
			
				,CASE WHEN (evt.UseFbRunDetails = 1) THEN evt.FbEventName ELSE evt.EventName END AS eventName
				,CASE WHEN (evt.UseFbRunDetails = 1) THEN convert(datetime2,evt.FbEventStartDatetime) ELSE convert(datetime2,evt.EventStartDatetime) END AS eventStartDatetime -- This is a bit of a hack, force conversion into local time prior to sending over the wire. TODO: Eventually send over the event UTC and a separate time offset
				,COALESCE(CASE WHEN (evt.UseFbRunDetails = 1) THEN evt.FbEventDescription ELSE evt.EventDescription END,'') AS eventDescription
				,CASE WHEN (evt.UseFbRunDetails = 1) THEN evt.FbLocationOneLineDesc ELSE evt.LocationOneLineDesc END AS locationOneLineDesc
			
				-- FB lat/lon flag
				,CASE WHEN (evt.UseFbLatLon = 1 AND evt.fbLatitude IS NOT NULL AND evt.FbLatitude != 0 AND evt.FbLongitude != 0) THEN evt.[fbLatitude] ELSE case when coalesce(evt.[Latitude],ken.Latitude,city.Latitude,0.0) != 0 THEN coalesce(evt.[Latitude],ken.Latitude,city.Latitude) else city.Latitude END END AS narrowEventLatitude
				,CASE WHEN (evt.UseFbLatLon = 1 AND evt.fbLongitude IS NOT NULL AND evt.FbLatitude != 0 AND evt.FbLongitude != 0) THEN evt.[fbLongitude] ELSE case when coalesce(evt.[Longitude],ken.Longitude,city.Longitude,0.0) != 0 THEN coalesce(evt.[Longitude],ken.Longitude,city.Longitude) else city.Longitude END END AS narrowEventLongitude

				-- FB location flag
				,CASE WHEN (evt.UseFbLocation = 1) THEN evt.FbLocationPostCode ELSE evt.LocationPostCode END AS locationPostCode
				,CASE WHEN (evt.UseFbLocation = 1) THEN evt.FbLocationCity ELSE evt.LocationCity END AS locationCity
				,CASE WHEN (evt.UseFbLocation = 1) THEN evt.FbLocationStreet ELSE evt.LocationStreet END AS locationStreet
				,CASE WHEN (evt.UseFbLocation = 1) THEN evt.FbLocationCountry ELSE evt.LocationCountry END AS locationCountry
				,CASE WHEN (evt.UseFbLocation = 1) THEN evt.FbLocationRegion ELSE evt.LocationRegion END AS locationRegion
				,CASE WHEN (evt.UseFbLocation = 1) THEN evt.FbLocationSubRegion ELSE evt.LocationSubRegion END AS locationSubRegion


				,evt.[removed] as removed
				,evt.[updatedAt] as updatedAt

				,evt.UseFbLocation as useFbLocation
				,evt.UseFbLatLon as useFbLatLon
				,evt.UseFbRunDetails as useFbRunDetails
				,evt.UseFbImage as useFbImage

				,evt.FbEventImage AS extEventImage
				,COALESCE(evt.FbEventDescription,'') AS extEventDescription

				,evt.Latitude as hcLatitude
				,evt.Longitude as hcLongitude
				,evt.FbLatitude as fbLatitude
				,evt.FbLongitude as fbLongitude
				,ken.Latitude as kenLatitude
				,ken.Longitude as kenLongitude
				,evt.CountryId as countryId
				,c4s.CountryName as countryName
				,city.Latitude as cityLatitude
				,city.Longitude as cityLongitude
				,coalesce(ken.DigitsAfterDecimal,n.DigitsAfterDecimal) as digitsAfterDecimal
				,coalesce(ken.CurrencySymbol,n.CurrencySymbol) as currencySymbol
				,datediff(day,getdate(),CASE WHEN (evt.UseFbRunDetails = 1) THEN convert(datetime2,evt.FbEventStartDatetime) ELSE convert(datetime2,evt.EventStartDatetime) END) as daysUntilEvent
				
				,'~' 
				+ ' ' + coalesce(evt.EventName,'') 
				+ ' ' + coalesce(ken.KennelShortName,'') 
				+ ' ' + coalesce(ken.KennelUniqueShortName,'') 
				+ ' ' + coalesce(ken.KennelName,'') 
				+ ' ' + coalesce(evt.Hares,'') 
				+ ' ' + case when (evt.UseFbLocation = 1) then coalesce(evt.FbLocationCity,'') else coalesce(evt.LocationCity,'') end
				+ ' ' + case when (evt.UseFbLocation = 1) then coalesce(evt.FbLocationCountry,'') else coalesce(evt.LocationCountry,'')  end
				+ ' ' + case when (evt.UseFbLocation = 1) then coalesce(evt.FbLocationOneLineDesc,'') else coalesce(evt.LocationOneLineDesc,'')  end
				+ ' ' + case when (evt.UseFbLocation = 1) then coalesce(evt.FbLocationPostCode,'') else coalesce(evt.LocationPostCode,'')  end
				+ ' ' + case when (evt.UseFbLocation = 1) then coalesce(evt.FbLocationRegion,'') else coalesce(evt.LocationRegion,'')  end
				+ ' ' + case when (evt.UseFbLocation = 1) then coalesce(evt.FbLocationStreet,'') else coalesce(evt.LocationStreet,'')  end
				+ ' ' + case when (evt.UseFbLocation = 1) then coalesce(evt.FbLocationSubRegion,'') else coalesce(evt.LocationSubRegion,'') end
				+ ' ' + case when evt.EventNumber IS NOT NULL THEN cast(evt.EventNumber as nvarchar(30)) else '' end
				+ ' ' + city.CityName
				+ ' ' + r.RegionName
				+ ' ' + n.CountryName
				+ ' ' + coalesce(r.RegionAbbreviation,'')
				+ ' ' + n.CountryCode
				+ ' ' + replace(coalesce(city.CitySearchTags,''),',',' ')
				+ ' ' + replace(coalesce(r.RegionSearchTags,''),',',' ')
				+ ' ' + replace(coalesce(n.CountrySearchTags,''),',',' ')
				+ ' ' + replace(coalesce(ken.KennelSearchTags,''),',',' ')
				+ case 
					when evt.EventGeographicScope = 1 THEN 'not event is local'
					when evt.EventGeographicScope = 2 THEN 'is event is local'
					when evt.EventGeographicScope = 3 THEN 'is event is regional is state'
					when evt.EventGeographicScope = 4 THEN 'is event is national is nash hash is nashhash'
					when evt.EventGeographicScope = 5 THEN 'is event is continental is interhash'
					when evt.EventGeographicScope = 6 THEN 'is event is global is world interhash'
					when evt.EventGeographicScope = 7 THEN 'is event is other'
					else ''
				  end 
			    + case 
				  when n.ContinentCode = 'EU' then 'europe'
				  when n.ContinentCode = 'AF' then 'africa'
				  when n.ContinentCode = 'AS' then 'asia'
				  when n.ContinentCode = 'NA' then 'north america' 
				  when n.ContinentCode = 'SA' then 'south america'
				  when n.ContinentCode = 'OC' then 'oceania'
				  when n.ContinentCode = 'AN' then 'antarctica'
				  else '' 
				 end 
				+ ' ~'
				as searchText
				FROM HC.Event evt 
				INNER JOIN HC.Kennel ken on evt.KennelId = ken.id
				INNER JOIN HC.City city on ken.CityId = city.id
				INNER JOIN HC.Region r on city.RegionId = r.id
				INNER JOIN HC.Country n on r.CountryId = n.id
				INNER JOIN HC.Country c4s on c4s.id = evt.CountryId -- This is the country ID for statistics purposes, which might be different from the Kennel country ID (for Kennels that move)
				WHERE evt.removed = 0 AND
				evt.IsVisible = 1 AND
				(
					(@pastOrFuture = 'future' AND (CASE WHEN (evt.UseFbRunDetails = 1) THEN convert(datetime2,evt.FbEventStartDatetime) ELSE convert(datetime2,evt.EventStartDatetime) END BETWEEN dateadd(day,-1,getdate()) AND dateadd(week,@weeksToDisplay,getdate()))) 
					OR 
					(@pastOrFuture = 'past' AND (CASE WHEN (evt.UseFbRunDetails = 1) THEN convert(datetime2,evt.FbEventStartDatetime) ELSE convert(datetime2,evt.EventStartDatetime) END BETWEEN dateadd(week,-@weeksToDisplay,getdate()) AND dateadd(day,1,getdate()))) 
					OR 
					(@pastOrFuture = 'all' AND (CASE WHEN (evt.UseFbRunDetails = 1) THEN convert(datetime2,evt.FbEventStartDatetime) ELSE convert(datetime2,evt.EventStartDatetime) END BETWEEN dateadd(week,-@weeksToDisplay,getdate()) AND dateadd(week,@weeksToDisplay,getdate()))) 
				) 
				AND
				(((@publicKennelIds is not null) AND (ken.PublicKennelId in (SELECT cast(value as uniqueidentifier)  FROM string_split(@publicKennelIds,','))))
				 OR ((@kennelUniqueShortName is not null) AND (ken.KennelUniqueShortName = @kennelUniqueShortName))
				 OR ((@specialEventKennelIds is not null) AND (ken.PublicKennelId in (SELECT cast(value as uniqueidentifier)  FROM string_split(@specialEventKennelIds,','))) AND (evt.EventGeographicScope >= 2))
				 OR ((@cityIds is not null) AND (city.id in (SELECT cast(value as uniqueidentifier)  FROM string_split(@cityIds,','))))
				 OR ((@regionIds is not null) AND (r.id in (SELECT cast(value as uniqueidentifier)  FROM string_split(@regionIds,','))))
				 OR ((@countryIds is not null) AND (n.id in (SELECT cast(value as uniqueidentifier)  FROM string_split(@countryIds,','))))				 
				 OR ((@cityNames is not null) AND ((trim(lower(replace(city.CityName,' ',''))) in (SELECT trim(lower(replace(value,' ',''))) FROM string_split(@cityNames,',')))))
				 OR ((@specialEventCityNames is not null) AND ((trim(lower(replace(city.CityName,' ',''))) in (SELECT trim(lower(replace(value,' ',''))) FROM string_split(@specialEventCityNames,',')))) AND (evt.EventGeographicScope >= 2))
				 OR ((@regionNames is not null) AND ((trim(lower(replace(r.RegionName,' ',''))) in (SELECT trim(lower(replace(value,' ',''))) FROM string_split(@regionNames,',')))))
				 OR ((@regionCodes is not null) AND ((trim(lower(r.RegionAbbreviation)) in (SELECT trim(lower(value)) FROM string_split(@regionCodes,',')))))
				 OR ((@specialEventRegionNames is not null) AND ((trim(lower(replace(r.RegionName,' ',''))) in (SELECT trim(lower(replace(value,' ',''))) FROM string_split(@specialEventRegionNames,',')))) AND (evt.EventGeographicScope >= 2))
				 OR ((@specialEventRegionCodes is not null) AND ((trim(lower(r.RegionAbbreviation)) in (SELECT trim(lower(value)) FROM string_split(@specialEventRegionCodes,',')))) AND (evt.EventGeographicScope >= 2))
				 OR ((@countryNames is not null) AND ((trim(lower(replace(n.CountryName,' ',''))) in (SELECT trim(lower(replace(value,' ',''))) FROM string_split(@countryNames,',')))))
				 OR ((@countryCodes is not null) AND ((trim(lower(n.CountryCode)) in (SELECT trim(lower(value)) FROM string_split(@countryCodes,',')))))
				 OR ((@specialEventCountryNames is not null) AND ((trim(lower(replace(n.CountryName,' ',''))) in (SELECT trim(lower(replace(value,' ',''))) FROM string_split(@specialEventCountryNames,',')))) AND (evt.EventGeographicScope >= 2))
				 OR ((@specialEventCountryCodes is not null) AND ((trim(lower(n.CountryCode)) in (SELECT trim(lower(value)) FROM string_split(@specialEventCountryCodes,',')))) AND (evt.EventGeographicScope >= 2))
				 OR ((@continentNames is not null) AND ((trim(lower(replace(n.ContinentName,' ',''))) in (SELECT trim(lower(replace(value,' ',''))) FROM string_split(@continentNames,',')))))
				 OR ((@continentCodes is not null) AND ((trim(lower(n.ContinentCode)) in (SELECT trim(lower(value)) FROM string_split(@continentCodes,',')))))
				 OR ((@specialEventContinentNames is not null) AND ((trim(lower(replace(n.ContinentName,' ',''))) in (SELECT trim(lower(replace(value,' ',''))) FROM string_split(@specialEventContinentNames,',')))) AND (evt.EventGeographicScope >= 2))
				 OR ((@specialEventContinentCodes is not null) AND ((trim(lower(n.ContinentCode)) in (SELECT trim(lower(value)) FROM string_split(@specialEventContinentCodes,',')))) AND (evt.EventGeographicScope >= 2))
				 ) 
				 
				 AND
				 (
				 (@isAdmin = 1) 
				 -- This event or Kennel is marked to display runs in public
				 OR (coalesce(evt.[EvtDisseminateHashRunsDotOrg],ken.[DisseminateHashRunsDotOrg],0) = 5)
				 -- This event or Kennel is marked to display runs only on the Kennel's webpage
				 OR ((coalesce(evt.[EvtDisseminateHashRunsDotOrg],ken.[DisseminateHashRunsDotOrg],0) = 1) AND ((ken.PublicKennelId in (SELECT cast(value as uniqueidentifier)  FROM string_split(@publicKennelIds,',')))))
				 )
			END


END
			 
GO
