<!--
This is a revised Android manifest file for your Flutter app.
It now excludes all configurations and activities related to Facebook,
providing a cleaner file for apps that don't need social media integration.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.harriercentral.app">

    <!--
    Permissions are requests to the Android OS for your app to access
    certain device features.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!--
    The <queries> tag is necessary for Android 11+ to declare which other apps
    your app needs to interact with. The Facebook-related queries have been removed.
    -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <application
        android:label="Harrier Central"
        android:icon="@mipmap/ic_launcher">

        <!--
        The main activity for your Flutter app. This activity handles the Flutter UI.
        -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
             <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background" />
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />
        </activity>

        <!--
        Additional activities for third-party libraries. These are required for
        image cropping and barcode scanning.
        -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.apptreesoftware.barcodescan.BarcodeScannerActivity"/>

        <!--
        Meta-data for Firebase. The Facebook meta-data has been removed.
        -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>
</manifest>
